---
title: "Miscellaneous"
permalink: /brm/misc/index.html
---
            
{% extends "brm.njk" %}
            
{% block page_content %}
            
    <h1>Miscellaneous</h1>

    <p><b>Other topics relevant to Research Questions:</b></p>

    <ul>
      <li>
        <a href="../color-color-perception/index.html" target="_blank"><b>Color &amp; Color Perception</b></a>:
        Difference between colors of objects and how artists make colors by mixing primary colors together.
      </li>
    </ul>
    <ul>
      <li>
        <a href="../soda-carbonated-water/index.html" target="_blank"><b>Soda pop (Carbonated water)</b></a>:
        How water is carbonated; volume of CO<sub>2</sub> in average bottle of soda.
      </li>
    </ul>
    <ul>
      <li>
        <a href="../taxonomy/index.html" target="_blank"><b>Taxonomy of Living Things</b></a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="../surface-area/index.html" target="_blank"><b>Surface Area</b></a>
      </li>
    </ul>
    <ul>
      <li>Understand idea of constant acceleration due to gravity.</li>
    </ul>
    <ul>
      <li><a href="../vectors/index.html" target="_blank"><b>VECTORS</b></a>
        and vector decomposition (object sliding down ramp unit).
      </li>
    </ul>
    <ul>
      <li>Different types of sunflowers</li>
    </ul>
    <ul>
      <li>Different types of soils</li>
    </ul>
    <ul>
      <li>How to fertilize sunflowers</li>
    </ul>
    <ul>
      <li>Water Cycle (MaryBeth working on)</li>
    </ul>
    <ul>
      <li>
        <a href="../forces-on-object-moving-in-fluid/index.html" target="_blank">
          <b>How object's shape affects their motion through water</b>
        </a> (water form of aerodynamic-ness)
      </li>
    </ul>

    <br/>
    <p>
      <a href="../isaacnewton/index.html"><b>About Sir Issac Newton</b></a>
    </p>

    <br/>

  
{% endblock %}
