---
title: "Concentration"
permalink: /brm/concentration/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Concentration</h1>

<div class="page" id="page1">
      <p>  The concentration of a mixture (such as salt water) can be measured as the weight of the solvent (the substance
        that dissolves, such as salt) divided by the weight of the solute (which is often water).

 One common measure of concentration is grams of solvent (salt) per grams of solute (water).

<br/><br/>
 Concentration is related to density: The higher the concentration of a mixture, the more dense the solvent (for example, salt) is in that mixture.


</p>
<p align="center">

<img img-align="center" src="Concentration_HL.PNG" width="450"/>
</p>

<br/>
For example, the picture above shows a lower and higher concentration of a solvent (the pink dots) in a liquid.

    </div>

{% endblock %}
            