---
title: "Taxonomy"
permalink: /brm/taxonomy/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Taxonomy of Living Things</h1>

<div class="page" id="page1">
      <p>
        You may have heard of the words "Class" or "Order" or "Species" and wondered
        what those terms mean. Biologists use these terms to build a hierarchy of living things.
        From the top of this hierarchy (most general) to the bottom of the hierarchy (most
        specific), living things are classified at eight levels, shown below.
      </p>
      <p>
        Taxonomy of Living Things (classifications for Dog &amp; American Beauty Rose):
      </p>

     <img class="img-centered" src="TaxonomyTable.PNG" width="600"/>

      <p>
        Some people use a memory trick called a mneumonic (pronounced "new-MON-ic") to remember this order. For example,
        "<b>D</b>umb <b>K</b>ing <b>P</b>hilip <b>C</b>ried <b>O</b>ver <b>F</b>ailing <b>G</b>rade <b>S</b>ix"
        is a mneumonic, where the first letter of each word is the same as the first letter of each
        word in the taxonomy of living things.
      </p>
      <p>
        As scientists learn more about living things, the taxonomy may change. Or, specific living things may get
        re-assigned to different places in the taxonomy. Changes like these are just part of science. As scientists
        learn more about the world, their ideas and hypotheses change.
      </p>

    </div>

{% endblock %}
            