---
title: "Chemical & Physical Reactions"
permalink: /brm/areachemphys/index.html
---
            
{% extends "brm.njk" %}
            
{% block page_content %}
            
<br>
    <div style="font-weight:bold;font-size:20px;text-align:center;font-family:PT Sans, sans-serif;">
      <b>Units Related to Chemical &amp; Physical Reactions</b>
    </div>
   
    <div style="font-size:16px;text-align:center;">
      <br/><b>IMPORTANT NOTES:</b> 
      Information given in units listed later builds on information in earlier units.
    <br>  
        Most units are more than one page. Click on the arrow at the bottom right corner of the page<br> (shown below)
         to go to the next page in the unit. Longer units also include a table of contents.

         <img alt="forward_button" class="img-centered" width="50px" src="WhiteGrayBlue_forward.jpg"/>
      
      Click on an instructional unit below to start.
    </div>

    <hr/>

    <div class="area-column">
      <img src="SodaMintTopic.png" style="display:block;margin-left:auto;margin-right:auto"/>

      <a href="../atoms-molecules/index.html">
        <small>Atoms</small>
      </a>
      <img src="gameicon.jpg"/>

      <a href="../molecules/index.html">
        <small>Molecules</small>
      </a>
      <a href="../between-moleculeattractions/index.html">
        <small>Between-molecule Attractions</small>
      </a>
      <a href="../chemicalvs-physicalreactions/index.html">
        <small>Chemical vs. Physical Reactions</small>
      </a>
      <img src="gameicon.jpg"/>

      <a href="../dissolving/index.html">
        <small>Dissolving</small>
      </a>
      <a href="../nucleation/index.html">
        <small>Nucleation</small>
      </a>
      <a href="../buoyancy/index.html">
        <small>Buoyancy force</small>
      </a>
      <a href="../newton-s-third-law/index.html">
        <small>Newton's Third Law</small>
      </a>

    </div>

    <div class="area-column">
      <img src="CrystalGrowthTopic.png" style="display:block;margin-right:auto;margin-left:auto"/>

      <a href="../atoms-molecules/index.html">
        <small>Atoms</small>
      </a>
      <img src="gameicon.jpg"/>

      <a href="../atoms-elements/index.html">
        <small>Elements</small>
      </a>
      <a href="../molecules/index.html">
        <small>Molecules</small>
      </a>
      <a href="../between-moleculeattractions/index.html">
        <small>Between-molecule Attractions</small>
      </a>
      <a href="../crystals/index.html">
        <small>Crystals</small>
      </a>
      <a href="../chemicalvs-physicalreactions/index.html">
        <small>Chemical vs. Physical Reactions</small>
      </a>
      <img src="gameicon.jpg"/>

      <a href="../dissolving/index.html">
        <small>Dissolving</small>
      </a>
      <a href="../kinetic-energy-temperature/index.html">
        <small>Kinetic Energy &amp; Temperature</small>
      </a>
      <a href="../absorption/index.html">
        <small>Absorption</small>
      </a>
      <a href="../states-of-matter/index.html">
        <small>States of Matter</small>
      </a>
      <a href="../statechange-evaporation-melting/index.html">
        <small>State change: Evaporation &amp; Melting</small>
      </a>
      <a href="../thermal-energy-heat-temp/">
        <small>Thermal Energy</small>
      </a>
    </div>

  
{% endblock %}
