---
title: "Dissolving"
permalink: /brm/dissolving/index.html
---

{% extends "brm_unit.njk" %}

{% block page_content %}
            <h1>Dissolving</h1>

<div class="page" id="page1">
      <p>
        <b>What happens to something when it dissolves?</b> When you add sugar to a drink like lemonade or iced tea and
        mix it around, the sugar will dissolve in the drink. This means that the little grains of sugar will break into
        smaller and smaller sugar particles. Eventually, the sugar may break down into single molecules of sugar and
        spread throughout the drink.
      </p>
      <p>
        For example, as shown below, brown sugar was added to a glass of water. At first it sank to the bottom of the
        water (below, left picture). After the water was stirred, the brown sugar is no longer visible. It has
        dissolved, or broken down into particles that are too small to see. In the picture below and to the right, you
        can no longer see the brown sugar after it has dissolved in water.
      </p>

      <br/>
      <div class="text-centered">
        <img alt="sugar in water before they dissolve" src="Sugar_Water_Before3.png"/>
        <span>    </span>
        <img alt="sugar in water after they dissolve" src="Sugar_Water_After.png"/>
      </div>
      <br/>

      <p>
        In general, a solid substance added to a liquid <b>dissolves</b> when the atoms or molecules of the solid break
        away from the solid substance and become spread throughout the liquid.
      </p>

      <ul class="brm-list">
        <li>
          We call the liquid that something dissolves in the "solute." Water is often a solute that substances like
          grains of
          salt or sugar cubes dissolve in. Water molecules (H<sub>2</sub>O) are able to dissolve these substances
          because
          each H<sub>2</sub>O molecule is positively charged (+) on one end and negatively charged (-) on the opposite
          end (as shown below).

        </li>
      </ul>

      <div class="text-centered">
        <img alt="H2O molecule with charges" src="H2O_molecule_PlusMinusGood.png" width="200"/>
      </div>

      <ul class="brm-list">
        <li>
          We call the substance that dissolves the "solvent." Salt (such as sodium chloride, NaCl) is one solvent that
          dissolves in a solute (such as water). NaCl can dissolve in water because each NaCl molecule has a positively
          charged side (+) and a negatively charged side (-). This is shown below.
        </li>
      </ul>

      <div class="text-centered">
        <img alt="NaCl molecule" src="NaCl_molecule2.png" width="250"/>
      </div>

      <p class="text-centered">
        (See
        <a class="brm-link" href="../molecules/" target="_blank">molecules unit</a>
        for a review of NaCl molecules.)
      </p>


      <ul class="brm-list">
        <li> So, water molecules can pull on the charged particles of the solvent, making them break away from other particles of
          the solvent, such as salt grains or sugar cubes. This idea of salt starting to dissolve in water is shown below.</li>
      </ul>
      <div class="text-centered">
        <img alt="NaCl molecule" src="WaterDissolvingSalt.jpg.png" width="500"/>
      </div>


    </div>

<div class="page" id="page2">
      <p>
        <b>Salt dissolving in water.</b> When table salt (NaCl) is added to water, some H<sub>2</sub>O molecules will
        pull on the atoms of salt (both the positively charged sodium, Na+ ions and negatively charged chlorine, Cl-
        ions) that are on the outer surface of the salt crystals. The negatively charged sides of the water molecules
        will surround the Na+ ions (which is positively charged (+) because it had lost its electron to the Cl atom) and
        pull the Na+ ions away from the Cl- ion. 
      </p>
      <p>
        Similarly, the positive sides of H<sub>2</sub>O molecules surround the negatively charged Cl- ions and pull the
        Cl- ions from the Na+ ions. This is how the Na+ and Cl- ions break away from the NaCl crystals and spread
        throughout the water.
      </p>
      <p class="text-centered">
        <b>NaCl Dissolved in water (H<sub>2</sub>O)</b>
      </p>

      <img alt="NaCl molecules surrounded by water molecules" class="img-centered" src="saltwater_final.jpg" width="600"/>
      <br/>

      <!-- Quiz: Choice -->
      <form class="quiz_checkbox quiz">
        <b>Q0.5: (Check your basic understanding) What are the two main causes of NaCl dissolving (breaking up and
          spreading) in water?</b>
        <input name="question" type="checkbox" value="incorrect"/>
        <div class="label">a) gravity</div><br/>
        <input name="question" type="checkbox" value="correct"/>
        <div class="label">b) the kinetic energy (movement) of atoms (since atoms are always moving!) </div><br/>
        <input name="question" type="checkbox" value="incorrect"/>
        <div class="label">c) magnetic forces</div><br/>
        <input name="question" type="checkbox" value="correct"/>
        <div class="label">d) electric forces</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          That's correct! The main causes for NaCl molecules to split and become dissolved in water are the electric
          forces from charged particles pulling Na and Cl apart. The kinetic energy of water molecules and Na+
          and Cl- ions causes the ions to spread around in the water.
        </div>
        <div class="feedback-incorrect feedback">
          Well, actually, the main causes for NaCl molecules to split and become dissolved in water are the electric
          forces from charged particles pulling Na and Cl apart. The kinetic energy of water molecules and Na+
          and Cl- ions causes the ions to spread around in the water.
        </div>
      </form>

      <!-- Quiz: Choice -->
      <form class="quiz_choice quiz">
        <b>Q1: What do you think will happen to Na+ and Cl- ions that are dissolved in water when the water starts
          to evaporate?</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) The Na+ and Cl- ions will evaporate into the air with the H2O molecules.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) The Na+ ions will evaporate with the water, leaving behind the Cl- ions. </div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) The Cl- ions will evaporate with the water, leaving behind the Na+ ions.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">d) Neither the Na+ or Cl- ions will evaporate.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          That's correct! Only the water, and not the Na+ or Cl- atoms, will evaporate. So, there will be a higher
          concentration of Na+ and Cl- in the remaining water.
        </div>
        <div class="feedback-incorrect feedback">
          Well, actually, only the water, and not the Na+ or Cl- atoms, will evaporate. So, there will be a higher
          concentration of Na+ and Cl- in the remaining water. So, (d) is the correct answer.
        </div>
      </form>

      <!-- Quiz: Choice -->
      <form class="quiz_choice quiz">
        <b>Q2 (check your more general understanding): Is the process of salt (NaCl) dissolving in water a physical
          or chemical process?</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) It's a physical process because Na and Cl do not break apart in NaCl moleules.</div>
        <br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">b) It's a chemical process because each NaCl molecule breaks up into Na and Cl. </div>
        <br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) It's neither a physical nor chemical process; it's just dissolving.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) I don't know.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          That's correct! Because NaCl molecules split into Na+ and Cl- atoms, NaCl crystals dissolving in water is
          a chemical process.
        </div>
        <div class="feedback-incorrect feedback">
          Well, actually, because NaCl molecules split into Na+ and Cl- atoms, NaCl crystals dissolving in water is
          a chemical process. So, (b) is the correct answer.
        </div>
      </form>

    </div>

<div class="page" id="page3">

      <form class="quiz_choice quiz">
        <b>Q2.5 (Challenge question): As shown below, a Cl- ion is the same distance (D1) from a Na+ ion and an
          H<sub>2</sub>O molecule.
          Which, if either, is the Cl- ion more likely to be attracted to (due to the electric force).</b>
        <img class="img-centered" src="Q2.5_Fig_Cl_Na_H2O.PNG"/><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">a) The Na+ ion.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) The H<sub>2</sub>O molecule. </div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) It's equally attracted to the Na+ and H<sub>2</sub>O molecule.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) I don't know.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          That's correct! The Na+ ion is positively charged. But the H<sub>2</sub>O molecule is a polar molecule, with
          both positively and negatively charged sides. So, the H+ side of the H<sub>2</sub>O molecule pulls on the Cl-
          ion, but the O side also pushes it away. So, the Na+ ion pulls on the Cl- ion more strongly. As a result,
          the Cl- ion is more likely to bond with the Na+ ion to form a molecule of NaCl. So, (a) is the correct answer.
        </div>
        <div class="feedback-incorrect feedback">
          Well, let's think about this. The Na+ ion is positively charged. But the H<sub>2</sub>O molecule is a polar
          molecule, with both positively and negatively charged sides. So, the H+ side of the H<sub>2</sub>O molecule
          pulls on the Cl- ion, but the O side also pushes it away. So, the Na+ ion pulls on the Cl- ion more strongly.
          As a result, the Cl- ion is more likely to bond with the Na+ ion to form a molecule of NaCl. So, (a) is the
          correct answer.
        </div>
      </form>

    </div>

<div class="page" id="page4">
      <p>
        <b>Sugar dissolving in water.</b> When sugar is dissolved in water, some H<sub>2</sub>O (water) molecules
        will bond with the molecules of sugar that are on the outer surface of the sugar crystals. 
        C<sub>12</sub>H<sub>22</sub>O<sub>11</sub> is the chemical formula for the molecules that make up both brown
        and white sugar. The oppositely-charged areas of the water and sugar molecules will attract each other. If the
        <a class="brm-link" href="../electric-force/index.html" target="_blank">electric forces</a>
        that cause the H<sub>2</sub>O-sugar molecule bondings are "strong" enough, the sugar molecule will be "freed"
        from its bonds with other sugar molecules and move about in the water. This is how sugar crystals dissolve in
        water. 
      </p>
      <p class="text-centered">
        <b>
          The picture below represents sugar molecules (white/red) dissolving in water (water molecules are
          darker/lighter blue).
        </b>
      </p>

      <img alt="sugar in water" class="img-centered" src="sugarinwaterrev.jpg"/>
      <br/>

      <!-- Quiz: Choice -->
      <form class="quiz_choice quiz">
        <b>Q3: Which is true about what happens when NaCl (table salt) and C<sub>12</sub>H<sub>22</sub>O<sub>11</sub>
          (table sugar) dissolve in water?</b>
        <input name="question" type="radio" value="correct"/>
        <div class="label">a) Salt molecules (NaCl) break up into Na and Cl atoms when they dissolve. Sugar molecules
          do not break up.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) Sugar molecules (C<sub>12</sub>H<sub>22</sub>O<sub>11</sub>) break up into C, H, and O
          atoms when they dissolve. Salt molecules
          do not break up. </div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) Both salt and sugar molecules break up into the atoms that made these molecules when they
          dissolve.
        </div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) Neither salt nor sugar molecules break up into the atoms that made these molecules when
          they dissolve.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          That's correct! Only the NaCl molecules break up when they dissolve in water. So, (a) is the correct answer.
        </div>
        <div class="feedback-incorrect feedback">
          Well, actually, only the NaCl molecules break up when they dissolve in water. So, (a) is the correct answer.
        </div>
      </form>

    </div>

<div class="page" id="page5">
      <p>
        <b>Carbon dioxide dissolved in water.</b> Carbon dioxide (CO<sub>2</sub>) molecules can be dissolved in
        liquids, including in water. This causes the "fizziness" of drinks like soda. CO<sub>2</sub> can dissolve in
        water because CO<sub>2</sub> and H<sub>2</sub>O molecules are attracted to oppositely charged parts of each
        other. These attractions help to "hold" the CO<sub>2</sub> in the water. The picture below on the left shows a
        simplified image of how electric forces from H<sub>2</sub>O molecules may "hold" CO<sub>2</sub> in the liquid.
        Note that oppositely-charged areas of the CO<sub>2</sub> and H<sub>2</sub>O molecules are attracted to each
        other. The picture below on the right shows a slightly more complex image of how H<sub>2</sub>O molecules might
        surround CO<sub>2</sub> molecules in the water. Some people say that the H<sub>2</sub>O molecules form "cages"
        around each CO<sub>2</sub> molecule.
      </p>

      <img alt="co2inwatercombined_PlusMinus" class="img-centered" src="co2inwatercombined_PlusMinus.jpg" width="800"/>

      <p>
        CO<sub>2</sub> is also kept in the soda because there is a high pressure from the air above the soda in the
        bottle before it is opened. This high pressure helps keep the CO<sub>2</sub> that is near the surface of the
        soda from "escaping" the liquid and into the trapped air in the bottle.  
      </p>

      <br/>
      <img alt="soda bottle" class="img-centered" src="SodaBottle.png"/>
      <br/>

      <p>
        Once you open the bottle, the high-pressure air at the top of the bottle is released into the (lower-pressure)
        atmosphere. As a result, there is now less pressure from air at the surface of the soda. Because of this, some
        CO<sub>2</sub> may be able to "escape" from the soda. When this happens, sometimes enough CO<sub>2</sub> 
        escapes that the CO<sub>2</sub> also pushes some of the bubbly liquid out with it. This has probably happened
        to you (from time to time) when you open a bottle of soda.
      </p>
      <p>
        When you shake a bottle of soda before opening it (which I do not recommend!), some of the CO<sub>2</sub> 
        molecules will group together to form larger bubbles in the soda. When this happens, the CO<sub>2</sub> bubbles
        have more mass and are better able to break through H<sub>2</sub>O--H<sub>2</sub>O bonds in the liquid above
        them to escape into the atmosphere. This is why when you shake the soda bottle before opening it, the soda will
        probably "explode" out of the bottle. You'll have a big mess to clean up!
      </p>

      <!-- Quiz: Checkbox -->
      <form class="quiz_checkbox quiz">
        <b>Q4: What are some of the main ingredients of most sodas? (Check all that apply.)</b>
        <input name="question" type="checkbox" value="correct"/>
        <div class="label">(a) Water
        </div><br/>
        <input name="question" type="checkbox" value="incorrect"/>
        <div class="label">(b) Nitrogen (dissolved)
        </div><br/>
        <input name="question" type="checkbox" value="correct"/>
        <div class="label">(c) Carbon dioxide (dissolved)
        </div><br/>
        <input name="question" type="checkbox" value="incorrect"/>
        <div class="label">(d) Salt (NaCl) (dissolved)
        </div><br/>
        <input name="question" type="checkbox" value="correct"/>
        <div class="label">(e) Sweetener (e.g., sugar, aspartame)
        </div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Good job! All sodas contain water, carbon dioxide and a type of sweetener.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, all sodas contain water, carbon dioxide and a type of sweetener.
        </div>
      </form>

    </div>

<div class="page" id="page6">

      <p>
        <b>Saturation point.</b> There is a limit to how much of a substance (such as table salt,
        NaCl) can dissolve in water. For example, if you are adding salt to water in a glass, and keep stirring the
        water, eventually no more salt will break up and dissolve. This is called the <b>saturation point</b>. The
        saturation point in salt water happens when there are JUST enough H<sub>2</sub>O molecules to surround and
        hold up all the (heavier) Na+ and Cl- atoms in the water. (This idea is represented below.) 
      </p>

      <img alt="NaCl molecules surrounded by water molecules" class="img-centered" src="SaturationPoint_SaltWater.jpg" width="600"/>
      <br/>

      <p>
        When the
        <a class="brm-link" href="../concentration/" target="_blank">concentration</a>
        of salt in water is <b>greater</b> than the saturation point, the extra Na+ and Cl- atoms that are NOT
        surrounded by water molecules
        rejoin to form NaCl molecules. If the concentration of salt in water is much higher than the saturation point,
        you will start
        to see salt crystals building up. This buildup may be at the bottom of the glass (since NaCl is more dense
        than H<sub>2</sub>O molecules) or places that have little bumps
        (<a class="brm-link" href="../nucleation/" target="_blank">nucleation sites</a>). 
      </p>
      <br/>
      <p>
        The graph below shows the relationship between water temperature and the "<b>solubility</b>" of different
        types of salts. The solubility of the salt is how much of the salt (in grams) can be dissolved in
        100 grams of water (at that water temperature). 
      </p>

      <a href="../dissolving/Temp_NaClDissolveGraph.png?attredirects=0/index.html">
        <img alt="Graph showing solubility of temperature of different salts" class="img-centered" src="Temp_NaClDissolveGraph.png"/>
      </a>
      <br/>

      <!-- Quiz: Choice -->
      <form class="quiz_choice quiz">
        <b>Q5: What is the relationship between water temperature and solubility for table salt (NaCl)?</b>
        <input name="question" type="radio" value="correct"/>
        <div class="label">a) There is very little or no relationship.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) As water temperature increases, the solubility INcreases.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) As water temperature increases, the solubility DEcreases.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) More information is needed to answer.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! The graph shows that, as the temperature increases (as we move from left to right on the x-axis),
          there is very little change of solubility (or increase along the y-axis).
        </div>
        <div class="feedback-incorrect feedback">
          Well, actually, the graph shows that, as the temperature increases (as we move from left to right on the
          x-axis), there is very little change of solubility (or increase along the y-axis).
        </div>
      </form>

    </div>

<div class="page" id="page7">
      <p>
        Let's think more about what happens to a glass of salt water after 3 weeks...
      </p>

      <!-- Quiz: Choice -->
      <form class="quiz_choice quiz">
        <b>Q6: You add 38g (grams) of NaCl to 100 g of water, which is the saturation point (no more NaCl can dissolve
          in the water). After 3 weeks, half of the water evaporates (so there is now 50g of water). What will happen
          to the Na+ and Cl- atoms in the water?</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) They will evaporate along with water.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">b) They will stay in the remaining water.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) How should I know?</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! The Na+ and Cl- atoms will stay in the water. Compared to the lighter H2O molecules, Na+ and Cl- atoms
          are too heavy to evaporate.
        </div>
        <div class="feedback-incorrect feedback">
          Well, actually, the Na+ and Cl- atoms will stay in the water. Compared to the lighter H2O molecules, Na+ and
          Cl- atoms are too heavy to evaporate. So, (b) is the correct answer.
        </div>
      </form>

      <!-- Quiz: Choice -->
      <form class="quiz_choice quiz">
        <b>Q7: So, what happens to the concentration of Na+ and Cl- in the water after 3 weeks?</b>
        <input name="question" type="radio" value="correct"/>
        <div class="label">a) It increases. It is now above the saturation point.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) It decreases. It is now below the saturation point.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) It stays the same. It is still at the saturation point.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) I really don't know.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! The salt water was at the saturation point first. But then, some water evaporated. So, after 3 weeks,
          the concentration of Na and Cl in the water is higher than it was. Now, there is more Na and Cl in the water
          than the water molecules can surround and hold up.
        </div>
        <div class="feedback-incorrect feedback">
          Well, actually, the salt water was at the saturation point first. But then, some water evaporated. So, after 3
          weeks, the concentration of Na and Cl in the water is higher than it was. Now, there is more Na and Cl in the
          water than the water moelcules can surround and hold up. So, (a) is the correct answer.
        </div>
      </form>

      <!-- Quiz: Choice -->
      <form class="quiz_choice quiz">
        <b>Q8: What do you think will happen after 3 weeks?</b>
        <input name="question" type="radio" value="correct"/>
        <div class="label">a) Some of the Na+ and Cl- atoms will bond, forming salt crystals (NaCl).</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) Some of the Na+ and Cl- atoms will be at the bottom of the glass.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) I don't know.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! Some of the Na+ and Cl- atoms will bond, forming salt crystals.
        </div>
        <div class="feedback-incorrect feedback">
          Well, actually, some of the Na+ and Cl- atoms will bond, forming salt crystals. So, (a) is the correct answer.
        </div>
      </form>

    </div>

{% endblock %}

{% block toc %}
<div class="nav-toc-container">
      <h3>Table of Contents: Dissolving unit</h3>
      <ul>
        <li><a href="#top" onclick="tocPageJump(1)">Process of Dissolving</a></li>
        <li><a href="#top" onclick="tocPageJump(2)">Salt Dissolving in Water (Questions)</a></li>
        <li><a href="#top" onclick="tocPageJump(3)">Challenge Question</a></li>
        <li><a href="#top" onclick="tocPageJump(4)">Sugar Dissolving in Water</a></li>
        <li><a href="#top" onclick="tocPageJump(5)">CO2 Dissolving in Water</a></li>
        <li><a href="#top" onclick="tocPageJump(6)">Saturation Point</a></li>
        <li><a href="#top" onclick="tocPageJump(7)">Check Your Understanding! (For salt dissolved in water)</a></li>
      </ul>
    </div>
{% endblock %}
