---
title: "Net Force"
permalink: /brm/net-force/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Net Force</h1>

<div class="page" id="page1">

      <p>
        How quickly an object changes speed, or <a>accelerates</a>, in a given direction depends on the “net”
        force acting on the object in that direction. 
      </p>
      <p>
        <b>Net force</b>. The “net” force in a given direction is <i>the sum of all forces acting in that direction</i>
        <u>minus</u> <i>the sum of all forces acting in the opposite direction</i>.  
      </p>
      <p>
        In other words, equal forces on an object that are in opposite directions cancel each other out and do not
        affect the object's motion. Only the "left over" force in that direction will affect the object's acceleration
        in that direction. This "left over" force is the <b>net force</b>.
      </p>



      <p>
     <br/>
      </p><hr/>
        <b>Example:</b> Let's calculate the "net" force on a body in the positive x-direction (below).

       <br/>
       <br/>
        To do that, we find
        the total force acting on the body in the positive x-direction (to the right).
      <p></p>
      <ul>
        <li>That is:  5 N + 10 N = <b>15 N</b></li>
      </ul>
      <p>
        Then we find the total force acting on the body in the negative x-direction.
      </p>
      <ul>
        <li>That is:  -10 N - 7 N = <b>-17 N </b></li>
      </ul>

     <br/>
      <img class="img-centered img-size" src="NetForce_Horiz_cropped2.png"/>
     <br/>

      <p>
        So, the net force on the body of the x-direction is: 15 N - 17 N = -2 N
      </p>
      <p>
        The negative sign means that the net force on the body is 2 N in the <i>negative</i> x-direction (or to the left).
      </p>

      <hr/>

<br/>


     <br/>

      <p>
        <b>General definition of a "net" quantity. </b>In general, the "net" of something is the total amount
        in one "direction" minus the total amount in the opposite "direction." 
      </p>
      
      <p>
        <b>Other examples of "net" effects:</b>
      </p>

      <ul class="brm-list">
        <li>
          Another example is the "net" electric charge of atoms or molecules. This is the number of
          (positively-charged) protons minus the number of (negatively-charged) electrons. So, if an atom has 5
          protons and 7 electrons, the net charge would be -2.
        </li>
        <li>
          You might have heard of "net income" from your parents or other adults. That is the same idea: this means
          the total amount of money you earn minus the amount of money you pay in taxes.
        </li>
        <li>
          In football, the running back might run 10 yards forward, but see defenders coming and try to get around
          them by running backward 5 yards (toward the sideline, where there aren't any defensive players). If the
          runner gets tackled before he can start moving forward again, he has a "net gain" of 5 yards (10 yards
          forward - 5 yards backward).
        </li>
      </ul>

    </div>

{% endblock %}
            