---
title: "Light Reflection and Color"
permalink: /brm/light-reflection-color/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Light Reflection and Color</h1>

<div class="page" id="page1">
      <p>
        <b>Ways light can interact with objects.</b> When light hits objects, some of the light may be reflected off
        of the object, some light may be absorbed by the molecules that make up the object, and some of the light may
        pass through the object.
      </p>
      <p>For example, </p>

      <ul class="brm-list">
        <li>
          when light hits a mirror, most of it is reflected off of the mirror (and so you can see your reflection).
        </li>
        <li>
          when light hits glass, most of the light passes through the glass (and you can't see your reflection—unless
          you're outside on a sunny day).
        </li>
        <li>
          when light hits a rubber tire, most of the light is absorbed by the molecules of the tire.
        </li>
      </ul>

     <br/>
    </div>

<div class="page" id="page2">
      <p>
        <b>What causes the colors of objects?</b> You can't really tell with your eyes alone, but even though it may
        look white, the light from the sun is actually made of light of different colors (or different
        wavelengths/frequencies). You can tell that white light is made of different colors when light travels through
        a glass prism. (See the picture below.) The prism will "break up light" into its different wavelengths. As you
        can see in the picture below, <b style="color:#ff4000">red light</b> has the longest wavelength, and
        <b style="color:#8D38C9">violet light</b> has the shortest wavelength. 
      </p>
      <p>
        The same thing happens when sunlight travels through a drop of water. The water drop will act like a prism
        (like the one below) and separate the sunlight into its different colors. And you probably know what this is
        called.
        (<a class="brm-link" href="../rainbow/" target="_blank">Click here to see the answer</a>.)
      </p>

      <br/>

      <div data-code="a" data-scrollable="false" href="https://commons.wikimedia.org/wiki/File:Light_dispersion_conceptual_waves.gif" style="display:inline-block;width:500px;height:350px;" title="Lucas V. Barbosa [Public domain], via Wikimedia Commons">
        <img alt="Light dispersion conceptual waves" class="img-centered" src="https://upload.wikimedia.org/wikipedia/commons/f/f5/Light_dispersion_conceptual_waves.gif" width="400"/>
      </div>

      <p>
        Different objects reflect different amounts and frequencies of light. The amount of light reflected and the
        frequencies of light an object reflects (in the visible range) determine what we see as the object's color.
      </p>

      <ul class="brm-list">
        <li>
          Objects that reflect all—or almost all—light in the visible spectrum appear white—or light-colored—to people.
        </li>
        <li>
          Objects that absorb all—or almost all—light in the visible spectrum appear black—or dark-colored—to people.
        </li>
        <li>
          Objects that only reflect light that has relatively low frequencies on the visible light spectrum appear reddish.
        </li>
        <li>
          Objects that reflect higher-frequency light in the visible light spectrum appear bluish.
        </li>
      </ul>

     <br/>

      <form class="quiz_choice quiz">
        <b>
          Q1: Object A is a very light shade of blue. Object B is a very dark shade of blue.
         <br/> Both objects are sitting outside on a bright sunny day. Which of the following do you think is true:</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) Object A absorbs more sunlight.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">b) Object B absorbs more sunlight.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) Object A and B absorb similar amounts of sunlight.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) It is not possible to answer this question.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          That is correct! The darker-colored object, Object B will absorb more light (and reflect less light).
        </div>
        <div class="feedback-incorrect feedback">
          Actually, the darker-colored object, Object B will absorb more light (and reflect less light).
        </div>

      </form>

      <p>
        If you are interested in learning about how people perceive color, you can go to this unit: 
        <a class="brm-link" href="../color-color-perception/" target="_blank">Color &amp; Color Perception</a>.
      </p>
    </div>

{% endblock %}
            