---
title: "Crystals"
permalink: /brm/crystals/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Crystals</h1>

<div class="page" id="page1">
      <p>
        <b>What are Crystals? </b>When you think of crystals, you may think of pretty gems that are used in jewelry,
        like diamonds (April birthstone), amethysts (February birthstone), and peridot (August birthstone). Some
        different types of crystals are shown below. Crystals like the ones shown here are defined as solid substances whose
        <a class="brm-link" href="../molecules/index.html" target="_blank">molecules</a>
        are arranged in a repeating pattern.
      </p>

      <img alt="gemstones" class="img-centered" height="320" src="gems-1400682_1920.jpg" width="400"/>
     <br/>

      <p>
        Other examples of crystals include table salt (NaCl), sugar
        (C<sub>12</sub>H<sub>22</sub>O<sub>11</sub>), and ice (H<sub>2</sub>O in its solid form). 
        With the exception of crystal water (ice), all the examples of crystals here (salt, sugar, diamonds, amethysts, peridot, and all the crystals shown above)
        are solids at room temperature.
      </p>

     <br/>

    </div>

<div class="page" id="page2">

      <p>
        <b>Table salt is one type of crystal.</b> Crystals are defined as solid substances whose
        <a class="brm-link" href="../molecules/index.html" target="_blank">molecules</a>
        are arranged in a repeating pattern. It is this repeated molecule arrangement that gives crystals qualities
        like shininess and colors that makes them look pretty to us.
      </p>

      <ul class="brm-list">
        <li>
          For example, table salt is one type of crystal because it is made of a repeating pattern of NaCl molecules. One NaCl molecule is
          shown below:
        </li>
      </ul>

      <img alt="salt_molecule" class="img-centered" src="NaCl_molecule2.png" width="270"/>

<br/>
      <ul class="brm-list">
        <li>
          The molecules are arranged like in the picture below on the right. As you can see, the repeated pattern of salt crystals
          is very simple.
        </li>
      </ul>

      <img alt="Table salt crystal molecules arranged in cube" class="img-centered" src="CombinedSaltImage.jpg" width="600"/>

          <br/>
<ul class="brm-list">
<li>If you put a string in saturated salt water, NaCl molecules would start building up on the
          string to form a pattern of repeating NaCl molecules. The NaCl molecules are attracted to the molecules that make up the
          string due to <b>electric forces</b>. Negatively charged areas of the string attract positively charged Na+ atoms (or the Na+ side of NaCl molecules). Positively
          charged areas of the string attract negatively charged Cl- atoms (or the Cl- side of NaCl molecules).
          </li>
          </ul>


     <br/>
     <br/>

</div>

<div class="page" id="page3">

Check your understanding...

      <!-- Quiz: Choice -->
      <form class="quiz_checkbox quiz">
        <b>Q1 (check your basic understanding): Why do NaCl molecules form this pattern in salt crystals?
        (There is more than one correct answer!)</b>
        <input name="question" type="checkbox" value="correct"/>
        <div class="label">(a) The Na+ sides and Cl- sides of different NaCl molecules attract each other.</div><br/>
        <input name="question" type="checkbox" value="incorrect"/>
        <div class="label">(b) The Na+ sides and Cl- sides of different NaCl molecules repel each other.</div><br/>
        <input name="question" type="checkbox" value="correct"/>
        <div class="label">(c) The Na+ sides different NaCl molecules repel each other.</div><br/>
        <input name="question" type="checkbox" value="correct"/>
        <div class="label">(d) The Cl- sides of different NaCl molecules repel each other.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! Both attractive forces from oppositely-charged sides of the NaCl crystal (Na-Cl and Cl-Na) and repelling forces
          from same-charged sides of the crystal (Na-Na and Cl-Cl) cause the alternating pattern found in salt crystals. So, (a),
          (c), and (d) are the correct responses.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, both attractive forces from oppositely-charged sides of the NaCl crystal (Na-Cl and Cl-Na) and repelling
          forces from same-charged sides of the crystal (Na-Na and Cl-Cl) cause the alternating pattern found in salt crystals.
          So, (a), (c), and (d) are the correct responses.
        </div>
      </form>

     <br/>

       <form class="quiz_choice quiz">
        <b>Q1.5 (check your basic understanding): What do you think causes NaCl crystals to form?
        </b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">(a) Particles that have the same charges attract due to the magnetic force.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">(b) Particles that have different charges attract due to the magnetic force.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">(c) Particles that have the same charges attract due to the electric force.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">(d) Particles that have different charges attract due to the electric force.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! The attractive electric force caused by oppositely charged particles causes NaCl crystals to grow. The positively charged Na+ (sodium) atoms and negatively charged Cl- (chlorine) atoms are attracted to each other.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, the attractive electric force caused by oppositely charged particles causes NaCl crystals to grow. The positively charged Na+ (sodium) atoms and negatively charged Cl- (chlorine) atoms are attracted to each other.
        </div>
      </form>

     <br/>
    </div>

<div class="page" id="page4">
      <p>
        <b>Ice (the solid form of water, or H<sub>2</sub>O) is another example of a crystal.</b> This means that

  <select class="fib_select" id="FIB1" onchange="fibUpdate('FIB1')">
            <option disabled="" selected="" value="#ffffff">(Select one)</option>
            <option value="#ed8587">ice has mystical properties.</option>
            <option value="#ed8587">ice can be used as jewelry.</option>
            <option value="#11bf7a">water molecules form a repeating pattern in ice.</option>
            <option value="#ed8587">all of the above are true.</option>
          </select>


       <br/><br/>
        A water molecule is shown below.
      </p>

      <img alt="Table salt crystal molecules arranged in cube" class="img-centered" src="H2O_molecule_PlusMinusGood.png" width="200"/>
     <br/>

      <p>
        In ice, H<sub>2</sub>O molecules are arranged in repeating patterns. There are many types of patterns that
        H<sub>2</sub>O molecules in ice can form. Two possible patterns are shown below. The pictures below are "ball
        and stick" representations of ice crystals: regular patterns of H<sub>2</sub>O molecules. Oxygen atoms are
        shown as darker blue balls, hydrogen atoms are shown as lighter blue balls. The bonds between atoms are black
        lines (solid to the left and dashed to the right). (Remember that bonds are not physical "things", like atoms,
        and just represent attractive forces between certain atoms.)
      </p>

<br/>

      <img alt="Table salt crystal molecules arranged in cube" class="img-centered" src="IceCrystalsBST.jpg" width="800"/>
     <br/>

      <p>
        In both patterns, notice that the hydrogen atoms (smaller) in general are closer to oxygen atoms (larger)
        than other hydrogen atoms. And the oxygen atoms are closer to hydrogen than other oxygen
        atoms. (Some oxygen atoms look like they are closest to other oxygen atoms, but that's
        because it's hard to show 3 dimensions in a 2 dimensional picture, and the hydrogen atoms
        may be hidden by oxygen atoms that are in front of them.)
      </p>
     <br/>

      </div>

<div class="page" id="page5">

      Check your understanding...

      <!-- Quiz: Checkbox -->
      <form class="quiz_checkbox quiz">
        <b>Q2 (basic understanding): What is one cause of the repeating patterns in ice crystals?
        (There is more than one correct answer below!)</b>
        <input name="question" type="checkbox" value="incorrect"/>
        <div class="label">(a) The H+ sides of different H2O molecules attract each other.</div><br/>
        <input name="question" type="checkbox" value="correct"/>
        <div class="label">(b) The O- sides of different H2O molecules repel each other.</div><br/>
        <input name="question" type="checkbox" value="correct"/>
        <div class="label">(c) The H+ sides and O- sides of different H2O molecules attract each other.</div><br/>
        <input name="question" type="checkbox" value="incorrect"/>
        <div class="label">(d) The H+ sides and O- sides of different H2O molecules repel each other.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! Both attractive forces from oppositely-charged sides of the H2O molecules and repelling forces
          from same-charged sides of the molecules cause the ice crystal patterns. So, (b) and (c) are the correct responses.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, both attractive forces from oppositely-charged sides of the H2O molecules and repelling forces
          from same-charged sides of the molecules cause the ice crystal patterns. So, (b) and (c) are the correct responses.
        </div>
      </form>

      <br/>
      <br/>

    </div>

<div class="page" id="page6">



    <img class="img-centered" src="HeadsUpCone.png" width="150"/>

<b> Common Misconceptions about Crystals </b><br/>

      <ul class="brm-list">
        <li>
          Some kids mistakenly think of "crystals" as ice. But ice (frozen water) is just <b>one</b> type of
          crystal. Table salt (NaCl) and sugars are also types of crystals. But salt and sugar (and many other
          crystals) are not frozen or ice! These crystals exist at room temperature. If you touch salt or sugar, it will not
          feel cold.
         <br/><br/>
          Crystals are <i>any</i> type of substance that has repeating molecule patterns.
        </li>
      </ul>

      <ul class="brm-list">
        <li>
          Also, some kids wrongly think that crystals are alive (because they are said to "grow"). They're not alive or living!
          Crystals are minerals, like rocks. And (of course), rocks are not alive or living. They are not made of
          cells or have DNA, which living things have. When people say that crystals "grow," what they really mean is that molecules build on other molecules to make larger crystals (like Legos).
        </li>
      </ul>

     <br/>

    </div>

{% endblock %}
            
{% block toc %}
<div class="nav-toc-container">
  <h3>Table of Contents: Crystals unit</h3>
  <ul>
    <li><a href="#top" onclick="tocPageJump(1)">What are crystals?</a></li>
    <li><a href="#top" onclick="tocPageJump(2)">Table Salt (NaCl) is One Type of Crystal</a></li>
    <li><a href="#top" onclick="tocPageJump(3)">Understanding Check</a></li>
    <li><a href="#top" onclick="tocPageJump(4)">Ice is Another Example of a Crystal</a></li>
    <li><a href="#top" onclick="tocPageJump(5)">Understanding Check</a></li>
    <li><a href="#top" onclick="tocPageJump(6)">Common Misconceptions about Crystal</a></li>
  </ul>
</div>
{% endblock %}
                