<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<httpProtocol>
	  <customHeaders>
	    <add name="Access-Control-Allow-Origin" value="*" />
	  </customHeaders>
	</httpProtocol>
        <defaultDocument>
            <files>
                <add value="home/index.html" />
            </files>
        </defaultDocument>
        <staticContent>
            <remove fileExtension=".woff" />
            <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".aff" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".dic" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
        </staticContent>
    </system.webServer>
</configuration>