---
title: "Exponent Math"
permalink: /brm/exponent-math/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Exponent Math</h1>

<div class="page" id="page1">

<p>
        <b>Exponent math</b>
      </p>
      <p>
        In this unit, we talk about how to multiply, divide, add, and subtract numbers
        that have exponents. (For a review of the basics of exponents, <a class="brm-link" href="../exponent-what-are-they/" target="_blank">click here</a>.)
      </p>

      <img class="img-centered" alt="terminology in base 10 exponents" src="ExponentTerminology.PNG" width="400"/>
     <br>
      <p>
        <b>Multiplication:</b> When multiplying two numbers with base 10 with exponents,
        multiply the coefficients (numbers in front of the 10^exponents) and then <b><i>add</i></b> the exponents.
      </p>

      <p>For example (both numbers have coefficients of 1):</p>
      <ul class="brm-list">
        <li>
          10<sup>5</sup> * 10<sup>3</sup> = (1 x 10<sup>5</sup>) * (1 x 10<sup>3</sup>)
        </li>
<li>
= (1 * 1) * 10<sup>5 + 3</sup>
</li>

        <li>
          = 1 x 10<sup>8</sup> 
        </li>
        <li>
          = 10<sup>8</sup>
        </li>
</ul>

<p>Example #2 (both numbers have coefficients of 1):</p>
      <ul class="brm-list">
        <li>
          10<sup>13</sup> * 10<sup>22</sup> 
        </li>
<li>
=  10<sup>13 + 22</sup>
</li>

        <li>
          = 10<sup>35</sup> 
        </li>
        
</ul>

      <p>Another example (both numbers have non-one coefficients):</p>

      <ul class="brm-list">
        <li>
          (3 x 10<sup>8</sup>) * (5 x 10<sup>7</sup>) 
        </li>

        <li>
          = (3 x 5) * (10<sup>8</sup> x 10<sup>7</sup>)
        </li>

        <li>
          = 15 x (10<sup>8</sup> x 10<sup>7</sup>) 
        </li>

        <li>
          = 15 x (10<sup>8 + 7</sup>)
        </li>

        <li>
          = 15 x 10<sup>15</sup>
        </li>
        
          We can divide 15 by 10 and multiply 10<sup>15</sup> by 10 (multiplying by 10 and dividing by 10 is
          the same as multiplying by 1: the value will not change). This gives us:
        <br><br>
        <li>
          (15/10) x (10<sup>15</sup> * 10<sup>1</sup>)
        </li>
        <li>
          = 1.5 x 10<sup>(15 + 1)</sup>
        </li>
        <li>
          = 1.5 x 10<sup>16</sup>
        </li>
      </ul>
<hr>
      <p>
        <b>Division:</b> When dividing two numbers with base 10 with exponents, first divide the coefficients 
        then <i><b>subtract</b></i> the exponents.
      </p>
      <p>For example:</p>

      <ul class="brm-list">
        <li>10<sup>8</sup> / 10<sup>7</sup> = (1 x 10<sup>8</sup>) / (1 x 10<sup>7</sup>)   </li>
        <li>= (1 x 1) * 10<sup>8-7</sup></li>
        <li>= 1 x 10<sup>1</sup> = 10</li>
      </ul>

      <p>Another example:</p>

      <ul class="brm-list">
        <li>10<sup>27</sup> / 10<sup>15</sup></li>
        <li>= 10<sup>27-15</sup></li>
        <li>= 10<sup>12</sup></li>
      </ul>

      <p>
        If there are non-one coefficients, then divide the coefficients also.
      </p>
      <p>For example:</p>

      <ul class="brm-list">
        <li>(3 x 10<sup>8</sup>) / (5 x 10<sup>6</sup>)</li>
        <li>= (3 / 5) * (10<sup>8</sup> / 10<sup>6</sup>)</li>
        <li>= 0.6 x 10<sup>(8-6)</sup></li>
        <li>= 0.6 x 10<sup>2</sup></li>
      

      
        To get rid of the decimal place, we can multiply 6 by 10, then divide 10<sup>2</sup> by 10. This is the same
        as multiplying by 1:
      <br><br>

      
        <li>= (0.6 x 10) * (10<sup>2</sup>)/10)</li>
        <li>= 6 * 10<sup>(2 - 1)</sup></li>
        <li>= 60</li>
      </ul>

<hr>
       <p>
        <b>Addition/Subtraction:</b> When you are adding or subtracting two or more numbers with 10 to an exponent, you first need to make 
        sure the exponents are the same in all numbers. Then add/subtract the coefficients and keep the common 10<sup>x</sup>.
      </p>
      <p>
        Addition example: 
      </p>

      <ul class="brm-list">
        <li>
          3 x 10<sup>8</sup> + 5 x 10<sup>7</sup> 
        </li>
      We can either make both exponents "7" or "8." We'll convert 3 x 10<sup>8</sup> to something to 10<sup>7</sup>. 
      <br><br>
      To get 10<sup>7</sup>, we needed to divide 10<sup>8</sup> by 10. This means that we need to multiply 3 by 10, to get 30. (If we multiply by something, 
      we must divide by the same number. This (*10/10) is the same as multiplying by one.)<br><br>
        <li>
          = 30 x 10<sup>7</sup> + 5 x 10<sup>7</sup> 
        </li>
      Now we can just add the coefficients, keeping the same base/exponent:<br><br>
        <li>
          = 35 x 10<sup>7</sup>
        </li>
      </ul>
<p>      
Subtraction example: 
</p>

<ul class="brm-list">
   <li>
          6 x 10<sup>10</sup> - 4 x 10<sup>9</sup> 
        </li>

    First, we need to get the same exponents for each number. We can choose to make both exponents 9 or 10.
    <br><br>
    We'll make both exponents 9. To get this, we'll first divide 6 x 10<sup>10</sup> by 10 to get 6 x 10<sup>9</sup>. 
    But since we divided by 10, we need to multiple by 10 (so that the number stays the same). 
    <br>
    So, this gives us 60 x 10<sup>9</sup>
    <br><br>
    Now that both exponents are 9, so we can do the subtraction:
<br><br>
     <li>
          60 x 10<sup>9</sup> - 4 x 10<sup>9</sup> 
        </li>
        

    Then, we just subtract the coefficients, 60 - 4 (and keep the exponents the same):
<br><br>
    <li>
          = 56 x 10<sup>9</sup> 
        </li>
</ul>

<hr>
<b>Tip:</b> When converting a number to a different exponent, you need to make the coefficient the same amount larger or smaller. For example, if you make the 
exponent 2 decimal places larger, you need to make the coefficient 2 decimal places smaller. If you make the exponent 5 places smaller, you 
must make the coefficient 5 places larger.


    </div>

{% endblock %}
            