---
title: "Exponent Math"
permalink: /brm/exponent-math/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Exponent Math</h1>

<div class="page" id="page1">
      <p>
        When you have very large or very small numbers, it can be awkward to write them out. To save space (and
        headaches!), people use exponents.
      </p>
      <p>
        Exponents are the numbers above and to the right of 10 in the following: 10<sup>3</sup>, 10<sup>10</sup>,
        10<sup>-3</sup>, etc. We call 10 the "<b>base</b>" to the exponents.
      </p>

      <ul class="brm-list">
        <li>
          The exponent indicated the number of times "10" is multiplied by itself. So, 10<sup>3</sup>= 10*10*10, or
          1,000.
        </li>
        <li>
          We see that the exponent indicates the number of zeroes that follow the 1. (For 10<sup>3</sup>,
          which is 1,000, three zeros are after the 1.)
        </li>
      </ul>

      <p>
        A negative exponent (10<sup>-x</sup>) is equal to 1/10<sup>x</sup>
      </p>

      <ul class="brm-list">
        <li>
          For example, 10<sup>-3</sup> = 1 x 10<sup>-3</sup> = 1/10<sup>3</sup> = 1/1,000 = 0.001.
        </li>
      </ul>

      <p>
        But, most quantities cannot simply be written as base 10 to some exponent. Let's look at some examples...
      </p>

      <ul class="brm-list">
        <li>
          What do we mean by the number 3 x 10<sup>8</sup> m/s (this is approximately the speed of light)? 
          <ul class="brm-list nested-list">
            <li>
              This means 3 x 100,000,000 m/s  = 300,000,000 m/s (or three hundred million meters
              per second).
            </li>
          </ul>
        </li>
        <li>
          It takes someone about 5 x 10<sup>-2</sup> seconds to blink their eyes.
          <ul class="brm-list nested-list">
            <li>
              This can be written as: 5 x 1/10<sup>2</sup> = 5/100 = 0.05 seconds (or five hundredths
              of a second).
            </li>
          </ul>
        </li>
      </ul>

      <p>
        Let's look at some Very <span class="text-lg">LARGE</span> numbers:
      </p>
      <p>
        There are about 7,000,000,000,000,000,000,000,000,000 atoms in a human body. If you count the number of zeroes
        in this number, you should get 27.
      </p>

      <ul class="brm-list">
        <li>We can write this as 7 x 10<sup>27</sup>. You can read this as "7 followed by 27 zeroes."</li>
      </ul>

      <p>
        The mass of the Sun is about 2,000,000,000,000,000,000,000,000,000,000 kg. There are 30 zeroes in this
        number (10 sets of 3 zeroes).
      </p>

      <ul class="brm-list">
        <li>
          So, we can write this as 2 x 10<sup>30</sup>kg. You can read this as "2 followed by 30 zeroes."
        </li>
      </ul>

      <p>
        The volume of the Sun is about 1,400,000,000,000,000,000 km<sup>3</sup>. 
      </p>

      <ul class="brm-list">
        <li>
          We can write this as 14 x 10<sup>17</sup> km<sup>3</sup>. We read this as "14 followed by 17 zeroes." Or,
          we could write this as 1.4 x 10<sup>18</sup> km<sup>3</sup>. (since we divided 14 by 10, we need to multiply
          10<sup>17</sup> by 10 to keep the number the same magnitude).
        </li>
      </ul>

      <br/>

      <p>
        Now let's look at some Very <span class="text-sm">small</span> numbers:
      </p>
      <p>
        For example, the mass of a proton is about 0.00000000000000000000000000167 kg. This is even more awkward
        to write! 
      </p>

      <ul class="brm-list">
        <li>
          If you moved the decimal place to the right 27 places (or multiply by 10<sup>27</sup>), you would get 1.67.
          This means if you started with 1.67, you would need to move the decimal place to the left 27 places to get
          the number for the mass of a proton (or divide by 10<sup>27</sup>). 
        </li>
        <li>
          Dividing by 10<sup>27</sup> is the same as multiplying by 10<sup>-27</sup>
        </li>
        <li>
          So, this number for the mass of a proton can be written as: 1.67 x 10<sup>-27</sup> kg. 
        </li>
      </ul>

      <br/>

      <p>
        <b>Exponent math</b>
      </p>
      <p>
        OK, now that you understand the basics of exponents, we will talk about how to multiply and divide numbers
        that have exponents.
      </p>
      <p>
        <b>Addition/Subtraction:</b> When you are adding two numbers with 10 to an exponent, you need to make sure the
        exponents are the same in both numbers. Then add/subtract the numbers and keep the common 10<sup>x</sup>.
      </p>
      <p>
        For example: 
      </p>

      <ul class="brm-list">
        <li>
          3 x 10<sup>8</sup> + 5 x 10<sup>7</sup> 
        </li>
        <li>
          = 30 x 10<sup>7</sup> + 5 x 10<sup>7</sup> (here, we multiplied 3 by 10 to get 30. Since we multiplied by 10,
          we need to also divide (10<sup>8</sup>) by 10, which gives us 10<sup>7</sup>)
        </li>
        <li>
          = 35 x 10<sup>7</sup>
        </li>
      </ul>

      <p>
        <b>Multiplication:</b> When multiplying two numbers with base 10 with exponents,
        you multiply the numbers without exponents and <b><i>add</i></b> the exponents.
      </p>
      <p>For example:</p>

      <ul class="brm-list">
        <li>
          (3 x 10<sup>8</sup>)* (5 x 10<sup>7</sup>) = (3 x 5) * (10<sup>8</sup>x 10<sup>7</sup>)
        </li>
        <li>
          = 15 x 10<sup>8 </sup>x 10<sup>7</sup>
        </li>
        <li>
          = 15 x 10<sup>15</sup>
        </li>
        <li>
          we can divide 15 by 10 and multiply 10<sup>15</sup> by 10 to get (multiplying by 10 and dividing by 10 is
          the same as multiplying by 1: the value will not change)
        </li>
        <li>
          1.5 x 10<sup>16</sup>
        </li>
      </ul>

      <p>
        <b>Division:</b> When dividing two numbers with base 10 with exponents, you <i><b>subtract</b></i>
        the exponents.
      </p>
      <p>For example:</p>

      <ul class="brm-list">
        <li>10<sup>8</sup> / 10<sup>7</sup></li>
        <li>= 10<sup>8-7</sup></li>
        <li>= 10<sup>1</sup></li>
      </ul>

      <p>Another example:</p>

      <ul class="brm-list">
        <li>10<sup>27</sup> / 10<sup>15</sup></li>
        <li>= 10<sup>27-15</sup></li>
        <li>= 10<sup>12</sup></li>
      </ul>

      <p>
        If there are numbers in front of the base 10 (e.g., <b>3</b> * 10<sup>8</sup>), then divide the numbers also.
      </p>
      <p>For example:</p>

      <ul class="brm-list">
        <li>3 * 10<sup>8</sup> / 5 * 10 <sup>6 </sup>=  (3 / 5) * (10<sup>8</sup> / 10<sup>6</sup>)</li>
        <li>= 0.6 * 10<sup>8-6</sup></li>
        <li>= 0.6 * 10<sup>2</sup></li>
      </ul>

      <p>
        To get rid of the decimal place, we can multiply 6 by 10, then divide 10<sup>2</sup> by 10. This is the same
        as multiplying by 1:
      </p>

      <ul class="brm-list">
        <li>= 0.6*10 * 10<sup>2</sup>/10</li>
        <li>= 6 * 10</li>
        <li>= 60</li>
      </ul>

    </div>

{% endblock %}
            