---
title: "Search Page Help"
permalink: /brm/searchpage/index.html
---
            
{% extends "brm.njk" %}
            
{% block page_content %}
            
    <h1>Search Page Help</h1>

      <p class="text-centered">
        <i>
          To search a page on a MAC, hold down the
          <span style="color:#0b5394">command button</span>
          and the
          <b>
            <span style="color:#0b5394">F button</span>
            <u>at the same time.</u> 
          </b>
        </i>
      </p>

      <br/>
      <img class="img-centered" height="188" src="image.jpg" width="400"/>
      <br/>

      <p class="text-centered">
        <i>
          To search a page on a PC, hold down the 
          <span style="color:#0b5394">control (Cntl) button</span>
          and the 
          <b>
            <span style="color:#0b5394">F button</span>
            <u>at the same time.</u>
          </b>
        </i>
      </p>

      <br/>
      <img class="img-centered" height="129" src="pc.jpg" width="400"/>

      <br/><br/>
      Simply type the search term in the search box and hit enter/return. Any instances of the search term on the page
      you're on will be yellow-highlighted.


  
{% endblock %}
