---
title: "Plant Reproduction"
permalink: /brm/Area_PlantReproduction/index.html
---
            
{% extends "brm.njk" %}
            
{% block page_content %}
     <br>       
    <div style="font-weight:bold;font-size:20px;text-align:center;font-family:PT Sans, sans-serif;">
      <b>Units Related to Plant Reproduction</b>
      </div>
    
<br>
    <div style="font-size:18px;text-align:center;font-family:veranda;">
      Click on an instructional unit below to find out more.<br/><b>IMPORTANT NOTE:</b> Information given in units listed later builds on information in earlier units.
    </p>
    <hr/>


    <div class="area-column">
      <img src="GreenhouseExpHeader.png" style="display:block;margin-left:auto;margin-right:auto"/>

      <a href="../greenhouses/index.html">
        <small>Greenhouses</small>
      </a>
      <a href="../atoms-molecules/index.html">
        <small>Atoms</small>
      </a>
      <img src="gameicon.jpg"/>

      <a href="../molecules/index.html">
        <small>Molecules</small>
      </a>
      <a href="../chemicalvs-physicalreactions/index.html">
        <small>Chemical vs. Physical Reactions</small>
      </a>
      <a href="../plants/index.html">
        <small>Plants</small>
      </a>
      <a href="../vascular-plants/index.html">
        <small>Vascular Plants</small>
      </a>
      <a href="../seed-bearing-plants/index.html">
        <small>Seed-bearing Plants</small>
      </a>
      <a href="../angiosperm-types/index.html">
        <small>Angiosperm Types: Monocots &amp; Dicots</small>
      </a>
      <a href="../angiosperm-reproduction/index.html">
        <small>Angiosperm Reproduction</small>
      </a>
      <a href="../angiosperm-pollination/index.html">
        <small>Angiosperm Pollinators (Bees)</small>
      </a>
      <a href="../light/index.html">
        <small>Light/Electromagnetic Radiation</small>
      </a>
      <a href="../energy-general/index.html">
        <small>Energy Can Change Forms</small>
      </a>
      <a href="../photosynthesis/index.html">
        <small>Photosynthesis</small>
      </a>
      <img src="gameicon.jpg"/>


      <a href="../factors-affect-rate-photosynthesis/index.html">
        <small>Factors that Affect Photosynthesis</small>
      </a>


      <a href="../food/index.html">
        <small>What Plants Need to Grow</small>
      </a>
      <a href="../greenhouse-effect/">
        <small>Greenhouse Effect</small>
      </a>
    </div>

    <div class="area-column">
      <img src="AlgaeExpHeader.png" style="display:block;margin-right:auto;margin-left:auto"/>

      <a href="../atoms-molecules/index.html">
        <small>Atoms</small>
      </a>
      <img src="gameicon.jpg"/>

      <a href="../molecules/index.html">
        <small>Molecules</small>
      </a>
      <a href="../chemicalvs-physicalreactions/index.html">
        <small>Chemical vs. Physical Reactions</small>
      </a>
      <img src="gameicon.jpg"/>

      <a href="../light/index.html">
        <small>Light/Electromagnetic Radiation</small>
      </a>
      <a href="../energy-general/index.html">
        <small>Energy Can Change Forms</small>
      </a>
      <a href="../plants/index.html">
        <small>Plants</small>
      </a>
      <a href="../non-vascular-plants/index.html">
        <small>Non-vascular Plants</small>
      </a>
      <a href="../algae/index.html">
        <small>Algae</small>
      </a>
      <a href="../photosynthesis/index.html">
        <small>Photosynthesis</small>
      </a>
      <img src="gameicon.jpg"/>

      <a href="../factors-affect-rate-photosynthesis/index.html">
        <small>Factors that Affect Photosynthesis</small>
      </a>

      <a href="../thermal-energy-heat-temp/">
        <small>Transfer of Thermal Energy</small>
      </a>
    </div>

  
{% endblock %}
