---
title: "Between-Molecule Attractions"
permalink: /brm/between-moleculeattractions/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Between-Molecule Attractions</h1>

<div class="page" id="page1">
      <p>
        <b>Why objects exist.</b> For objects that are big enough for humans to see to exist, there must be forces
        that bond molecules to other molecules. The molecules of a specific substance (for example, salt) are
        attracted to other molecules of the same kind to form that substance. This is why we can see a drop of
        water or a grain of salt.
      </p>
      <p>
        Oppositely-charged areas of different molecules are
        attracted to each
        other due to
        <a class="brm-link" href="../electric-force/" target="_blank">electric force</a>. 
      </p>

      <ul>
        <li>For example, individual NaCl (table salt) molecules are attracted to each other through electric forces
          from oppositely-charged sides of molecules. The negative (Cl) sides of the molecules and positive (Na)
          sides of the molecule attract each other. (This is represented below.)
        </li>
      </ul>

      <br/>
      <img alt="Individual NaCL (table salt molecules)" class="img-centered" src="NaClChain.png"/>
      <br/>

      <ul class="brm-list">
        <li>
          Individual water molecules are attracted to each other because of the electric force.
          Oppositely-charged sides of water molecules attract.
          This idea is shown in the picture below.
          The negatively charged parts of molecules (represented by red) attract the positively charged parts of
          other molecules (represented as blue).
          And vice versa.
        </li>
      </ul>

      <img alt="water_molecule" class="img-centered" src="watermolecules.jpg" width="350"/>
      <br/>

      <ul class="brm-list">
        <li>
          The attractions between water molecules form water droplets that are large enough to see! If there were no
          attractions between H<sub>2</sub>O molecules, they would all separate from each other. You wouldn't be able
          to see them at all because molecules are way too tiny to see with your eyes.
        </li>
      </ul>
    </div>

<div class="page" id="page2">
      <p>
        <b>Sugar molecules (Advanced): </b>Individual sugar molecules—such as sucrose—are attracted to each other.
        These attractions are caused by electric forces from oppositely-charged areas of different sugar molecules.
        That is, areas of sucrose molecules that are negatively charged are attracted to positively charged areas
        of other sucrose molecules (and vice versa).
      </p>
      <p>
        Sugars are much more complex molecules than salts (such as NaCl, which is made of only two atoms). Because
        of this, the electric force attractions that hold individual sugar molecules together are harder to show.
        But the picture below shows a single sucrose molecule (left), and two sucrose molecules (right).
      </p>

      <img alt="single_sugar_molecule" class="img-centered" height="192" src="sucroserevised.jpg" width="400"/>
      <br/>

      <form class="quiz_choice quiz">
        <b>Q1. What is one basic force that binds salt molecules together (and also binds sugar molecules together)?</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) Magnetic forces</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) Gravitational forces (gravity)</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) Strong forces</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">d) Electric forces</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          You're right! Electric forces pull oppositely charged parts of different molecules together. This is what
          makes salt crystals and sugar crystals.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, Electric forces pull oppositely charged parts of different molecules together.
          This is what makes the salt crystals and sugar crystals that we can see.
        </div>
      </form>

    </div>

{% endblock %}
            
{% block toc %}
<div class="nav-toc-container">
      <h3>Table of Contents: Between-Molecules Attraction unit</h3>
      <ul>
        <li><a href="#top" onclick="tocPageJump(1)">Why Objects Exist: Attractions between Molecules</a></li>
        <li><a href="#top" onclick="tocPageJump(2)">Attractions between Sugar Molecules</a></li>

      </ul>
    </div>
{% endblock %}
                