---
title: "Home & HELP"
permalink: /brm/home/index.html
---
            
{% extends "brm.njk" %}
            
{% block page_content %}
            

    <div style="width:80%; margin:auto; font-size:15px">
      <div class="text-centered">

       
        <p class="font-pt-sans text-xl text-centered" style="color: #f1b900">
          <b>Home &amp; HELP PAGE</b>
        </p>

        <p align="left">
          <b>About this website (for teachers).</b> This website is part of the <a class="brm-link" href="https://www.isptutor.org/" target="_blank">ISP (Inquiry-based Science Project) Tutor</a>, for middle school students.
          It was developed under a research grant from the Department of Education to Prof. David Klahr (PI) and Dr.
          Stephanie Siler (Co-PI) and a team
          of middle school teachers and education researchers at Carnegie Mellon University.
          The content of this website is based on Next Generation Science Standards and designed to support students'
          background research for common science fair project research questions (e.g., the research question shown
          above).
        </p>
        <p align="left">
          <b>Below is a lesson on doing background research for a chosen research question.</b> This lesson may be split into individual lessons
          on selecting good research questions (Steps 1 &amp; 2), planning research (Steps 2 - 4), or given in its entirety (Steps 1 - 6).
          Students can download an editable booklet that gives directions and asks
          questions throughout the lesson. Students then view a video of a virtual student deciding on a research topic
          by considering what they already know (Step 1). Next, students work through
          a lesson in which they select a research topic and question (Step 2).
          Then, students can view a brief lesson where a virtual student explains how they plan for their background
          research (Step 3). In Step 4, students plan their own research.
          Afterward, in Step 5, students watch a video in which a virtual student conducts background research and
          synthesizes information to form a hypothesis for their research question (research has shown students have
          difficulty with this).
          Finally, students use this website to do background research for their research question and ultimately
          develop a hypothesis for their research question (Step 6).
        </p>

        <p align="left">
          <i><b>Note for teachers:</b> You and your students can also use this website as a resource to find various
            middle school level science units.
            You can do this by typing search terms into the search box above.
            Or you can <a class="brm-link" href="../all-units/" target="_blank">
              click here to see a list of all units in this website.</a>
          </i>
        </p>

        <hr/>

        <p class="font-pt-sans text-xl text-centered" style="color: #f1b900">
          <b>BACKGROUND RESEARCH LESSON </b>
        </p>

        <div style="background: #F7F7F7; padding-left: 2em; padding-right: 2em">
         <br/>
          <p align="left">
            <b>Students: First, download a booklet for this lesson
              <a download="" href="BRM_Booklet_final2.docx">here</a>. Follow the directions on this booklet for this
              lesson. </b>
          </p>
         <br/>

          <p align="left">
            <b>STEP 1:</b> First, you will watch a lesson on selecting a good research question
            <a class="brm-link" href="https://www.isptutor.org/rqwe" target="_blank">here</a>. (There is audio, so you
            may
            need headphones.)

           <br/><br/>
            Answer the questions for STEP 1 in your booklet.

           <br/><br/><br/>

            <b>STEP 2:</b> Now, select your research question <a class="brm-link" href="http://tedserver.psy.cmu.edu/PROD_ARCH/rq_c.html" target="_blank">here</a>. (Click on the blank page to start.)
            This lesson also has audio, so you may need headphones. Try to apply the methods used by the student in the
            lesson you watched when picking your research question.

           <br/><br/>
            Answer the questions for STEP 2 in your booklet.
          </p>
         <br/>
        </div>

       <br/>
        <div style="background: #F7F7F7; padding-left: 2em; padding-right: 2em">
         <br/>

          <p align="left">
            <b>STEP 3:</b> HELP IN PLANNING YOUR RESEARCH 
          </p>

          <p align="left">
            For important tips on doing background research, click on the <u>Plan Your Research video</u> button
            below.
            Take notes in your booklet.
          </p>

          <a href="../inhelp/index.html"><img alt="INhelp" src="planr.png"/></a>

         <br/>
          <p align="left">
            <b>STEP 4:</b> PLAN YOUR RESEARCH 
          </p>

          <p align="left">Now, think about what information you need to research to answer your research question.
            Click on your experimental topic below to watch (or re-watch) an animation for one trial of your
            experiment
            to get more ideas about what information to look up. </p>

          <p align="center">
            <a href="../CrystalsAnimation/">Crystal Growth</a>; <a href="../SodaMintAnimation/">Soda/Mint</a>; <a href="../IceMeltingAnimation/">Ice Melting</a>; <a href="../BalloonAnimation/">Gas in Balloon</a>;
            <a href="../RampAnimation/">Inclined Plane</a>; <a href="../SinkingAnimation/">Objects Sinking</a>; <a href="../GreenhouseAnimation/">Greenhouse</a>; <a href="../AlgaeAnimation/">Algae</a>
          </p>
         <br/>
          <p align="left">
            Write down the information you want to look up in your booklet (pages 4-5).
          </p>
         <br/>
        </div>


       <br/>

        <div style="background: #F7F7F7; padding-left: 2em; padding-right: 2em">
         <br/>

          <p align="left">
            <b>STEP 5:</b> HELP IN DOING BACKGROUND RESEARCH...
          </p>
          <p align="left"><b>Background Research lesson: </b>Now, <a class="brm-link" href="https://www.isptutor.org/brmwe" target="_blank">click here</a> to watch a lesson in which a virtual "high school
            student" is doing background research for their research question.
            (This video has sound.)
           <br/><br/>
            Take notes of this lesson in your booklet.
          </p>
         <br/>

          <div style="background: #b3d9ff; padding-left: 2em; padding-right: 2em">
           <br/>
            <p align="left">
              <b>HOW TO USE THIS WEBSITE TO FIND INFORMATION...</b>
            </p>
            <p align="left">
              You can find science units relevant to your research question by clicking on a blue button above for the
              science area of your research question (e.g., "Forces &amp; Motion").
              You'll see a list of units relevant to the topic you chose.

             <br/><br/>
              Or, you can type what you would like to find out about in the <u>search bar</u> above (as shown below).
              Click
              on the little magnifying glass and you'll see a list of units that include those key words (you may see
              some
              Ads in the list of results: just ignore those). Just click
              on the link of a unit you'd like to look at.


            </p>

           <br/>
            <img src="SearchBar_AreasOfScience3.png" width="600"/>
           <br/>

            <p align="left">You can also type "glossary" in the search bar to get a list of basic definitions of science
              concepts.</p>
           <br/>
            <p align="left">When you're in a unit, you may need to click on the orange arrows at the bottom of the page
              to
              find the info you're looking for (since many units
              have more than one page).
            </p>

            <p align="left">
              You can always come back to this page by clicking on the "Home &amp; HELP" button at the top of the page
              you're
              on (the Help and four Areas of Science buttons will be on every page).
            </p>
            <p align="left">
              If you still need help and don't know what to do, ask your teacher (or another adult) to help you.
            </p>
           <br/>
          </div>

         <br/>

          <p align="left">
            <b>STEP 6:</b> NOW, DO YOUR BACKGROUND RESEARCH!!
           <br/><br/>Follow the instructions starting on page 7 of your booklet, which will help you to find
            information
            for your research question.


          </p>
          <p align="left">

           <br/><br/>
          </p>
        </div>




        <hr/>

        <div class="text-sm" style="text-align:right">
          Click on magnifying glass below for<br/>
          more info on searching within a page:
        </div>
        <div style="text-align:left">
          <div style="display:block;text-align:right;margin-left:auto">         
            <a href="../searchpage/index.html">
              <img alt="Search Page Help" src="mglassf.jpg"/>
            </a>                     
          </div>
        </div>

      </div>

    </div>
  
{% endblock %}
