---
title: "Algae"
permalink: /brm/algae/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Algae</h1>

<div class="page" id="page1">
      <p>
        Did you know that there is so much algae on Earth that algae produce most of the oxygen in the Earth’s
        atmosphere?
        Because of this, algae are very important plants for the Earth’s environment and its animals (including people).
        This is also one reason why algae are important for us to understand.
      </p>
      <p>
        <b>What exactly is algae?</b> Algae are defined as simple plants that do not have flowers. There are types of
        algae that have many cells (such
        as seaweeds) and other types of algae that are only made of one single cell (like "diatoms").
        Algae contain chlorophyll and make their own food using light in the process of
        <a href="../photosynthesis/index.html" target="_blank">photosynthesis</a>. They produce oxygen during
        photosynthesis.
      </p>
      <p>
        Algae lack true stems, roots, leaves, and vascular tissue. So, algae are non-vascular plants, which means
        they don't have tubes to transport water throughout the plant.
      </p>

      <img alt="algae" class="img-centered" src="algae.jpg" width="350"/>

      <p>
        The picture above is an example of a multi-cellular (many-celled) form of algae called brown algae.
        Even though it looks like many vascular plants, it doesn't have tubes that transport water throughout the plant.
        Brown algae
        doesn't have roots that absorb water and nutrients (and transport them throughout the plant) either. Instead,
        the root-like
        structures of brown algae hold the plant in place. These are called "holdfasts" (makes sense, right?).
      </p>
      <p>
        Another important part of brown algae are the "gas bladders." Though they might look kind of like flowers (or
        fruits), they are not flowers.
        The gas bladders are pods that contain (you guessed it!) gases (air). Gas bladders help keep the algae from
        sinking to the bottom of the ocean, where they would die due to lack of sunlight.
      </p>
      <p>
        As you may have guessed, single-celled algae don't have all of these parts: stems, roots, leaves, and vascular
        tissues. (All of these parts are made of lots and lots of cells!)
      </p>
      <h4>How big are algae?</h4>

      <p>
        Algae range in size from microscopic, single cells, to multi-cellular plants that are many meters in length.
      </p>

      <ul class="brm-list">
        <li>
          Algae are plants made of at least one cell; each cell contains a nucleus with DNA.
        </li>
        <li>
          One group of single-cell algae are “diatoms”. One-celled algae such as diatoms typically live together in
          colonies.
        </li>
        <li>Seaweed are large, multi-cellular algae.</li>
      </ul>

      <h4>Where can you find algae?</h4>

      <p>
        Algae can be found in most habitats
        on Earth. But most algae can be found in either freshwater environments (for example, lakes or ponds) or marine
        environments (i.e., in oceans, seas, bays, or other waterways and nearby land surfaces).
      </p>
      <p>
        Algae can also live in soil, on the bark of trees, and in many other moist places. The algae
        that live on the surfaces of ponds, lakes and oceans are an important food source for many animals.
      </p>

    </div>

<div class="page" id="page2">

      <h4>Types of Algae </h4>

      <p>
        Algae are extremely diverse: there are at least 30,000 different species of algae. The different species of
        algae respond differently to factors like light intensity/brightness, temperature, and the amount of
        carbon dioxide (CO<sub>2</sub>) dissolved in the water surrounding the algae.
      </p>
      <p>
        Two major categories of algae are <b>microscopic uni-cellular (single-celled) algae</b> and <b>larger
          multi-cellular
          (many-celled) algae</b>. Let's take a closer look at each category.
      </p>
      <p>
        <b>Microscopic unicellular algae.</b> Diatoms are one <b><a href="../taxonomy/index.html" target="_blank">Class</a> </b>of uni-cellular (single-celled) algae.
        There are over 8,000 known <a href="../taxonomy/index.html" target="_blank"><b>species</b></a> of diatoms, the
        most of any Class of algae.
        One species of diatoms is Chaetoceros muelleri. 
      </p>
      <p>
        As shown in the picture below, diatoms have transparent cell walls that you can see through.
        Diatoms are found on surfaces of both fresh water (like lakes) and salt water (oceans). Like all algae, diatoms
        use photosynthesis to make their food.
      </p>
      <p>
        When diatoms die, their remains sink to the bottom of the water and form a layer.
        Shells of diatoms are a little bit rough. Because of this, people use the diatom shells to make toothpaste and
        other cleaning
        products.
      </p>

      <br/>
      <img alt="Diatoms" class="img-centered" height="400" src="Diatoms.jpg" width="299"/>
      <br/>

      <p class="text-centered">
        The picture above shows various species of diatoms, one Class of algae.
      </p>
      <p>
        <b>Multi-cellular algae.</b> Brown algae is one type of multi-cellular algae that includes over 1,000 species.
        One type of brown algae is what
        some people may think of as seaweed. Despite its name, brown algae contains pigments (called fucoxanthin) that
        reflect
        yellow light; as a result, brown algae appears yellow-ish (see the picture below). Energy from the (non-yellow)
        wavelengths
        of light that these pigments absorb helps photosynthesis occur.
      </p>

     <br/>
      <img alt="seaweed" class="img-centered" height="265" src="seaweed-1614647_1920.jpg" width="400"/>

      <p>
        Brown algae—like that shown in the picture above—lives and thrives in cool, rocky waters, like off North
        American coasts of the Atlantic Ocean. Giant kelp is another type of brown algae, which lives off the coast of
        the Pacific Ocean. Harvested brown algae is used to make pudding and salad dressing. 
      </p>
      <p>
       <br/>
        <b>Green algae</b> (which includes the Phylum: Chlorophyta, which has about 4,500 known species) are
        found on land around the bases of trees in moist areas. They are also found in both fresh and salt
        water (near the surface).
      </p>
      <p>
        Green algae can be either uni-cellular or multi-cellular. Seaweed is one example of multi-cellular
        green algae. Chlorella vulgaris and Chlorella sorokiniana are two species of uni-cellular green algae.
      </p>
      <p>
        The algae is green due to the chlorophyll pigments it contains (like most plants). Green algae is also
        commonly found in swimming pools and fish tanks. The picture below shows a microscopic image of one type of
        green algae:
      </p>

     <br/>
      <img class="img-centered" height="300" src="algae-1578953_1920.jpg" width="400"/>
     <br/>
      <!--
     <br/>
      <img class="img-centered" src="Micrasterias_.jpg" />
      -->

      <p>
        <b>Red algae</b> is another type of algae. Most red algae is multi-cellular. There are over 7,000 species of
        Red Algae. Red algae tend to live in deeper waters. The pigment found within red algae is able to absorb small
        amounts of light energy—mostly the higher-energy blue light that is able to travel farther through water than
        lower-energy light. This higher-energy blue light is used in photosynthesis. This type of algae appears red
        because it reflects (lower-energy) red light. But some species of “red” algae actually appear other colors,
        including orange, yellow, and pink (just not blue, because they absorb blue light).
      </p>
      <p>
        The seaweed shown below is one example of multi-cellular red algae. Products made from red algae range from food
        (such as ice cream) to hair conditioners.
      </p>

      <img alt="aquarium" class="img-centered" height="300" src="multi_celled_red_algae.jpg" width="400"/>
     <br/>
    </div>

<div class="page" id="page3">

      <p>
        <b>Problems with algae overgrowth</b>
      </p>
      <p>
        When the amount of nutrients in the water increases, algae can grow quickly. This can cause the water to turn
        in color to various shades such as brown, red, green and even become colorless, depending on the species of
        algae in “bloom”. These tides can become dangerous, because algae make toxins (poisons) when they are too
        densely packed together. The toxins released by algae collect in the bodies of the organisms (for example,
        small fish) eating the algae, which may kill them. If these organisms don't die from eating the concentrated
        algae, predators (for example, larger fish) who eat them may get sick. 
      </p>
      <p>
        Blooms can be found in both salt water and fresh water. Blooms in salt water are much harder to control because
        oceans are enormous.
      </p>
      <p class="text-centered">
        The photo below shows an algae bloom in Lake Erie in the summer of 2019:
      </p>

      <img alt="algae bloom" class="img-centered" src="erie_algaebloom.jpg" width="600"/>
      <br/>

      <p>
        Humans are more likely to cause blooms in lakes and other freshwater bodies. This happens when farmers and
        other people over-fertilize soil; the extra nutrients in fertilizers can dissolve in drainage water and seep
        into nearby bodies of water. The excessive buildup of nutrients in bodies of water in turn causes the
        over-growth of algae. This process is called eutrophication (from Greek, "eu" is "good," and, remember that
        "troph" means "nourishing"). But in this case, the algae are getting <b>too much</b> nourishment and become
        a problem! 
      </p>
      <p>
        Next, we'll talk about some other factors that affect the growth rate of different algae species: temperature,
        light, and carbon dioxide.
      </p>

    </div>

<div class="page" id="page4">
      <p>
        <b>Effects of temperature on algae growth.</b> The rate that algae reproduces depends on the temperature
        of the water it's in. But, since different species of algae grow at different rates, we need to look at the
        relationship between temperature and algae growth rate for specific species of algae.
      </p>
      <p>
        The graph below shows the growth rate of two species of "Chlorella" algae, Chlorella vulgaris and Chlorella
        NJ18, at different temperatures. As the temperature increases from 5°C (41°F), the
        growth rate increases up to 25-30°C. But when the temperature gets above 25-30°C (77-86°F), the
        growth
        rates actually start decreasing. In other words, when it's too hot, these algae don't grow as well. When it
        gets to 35°C (95°F), these algae completely stop growing.
      </p>

     <br/>
      <img alt="ChlorellaVulgaris_Chart_GrowthByTemp" class="img-centered" height="350" src="ChlorellaVulgaris_GrowthByTemp3.png"/>
     <br/>

      <p>
        The graph below shows the growth rates of two other species of green algae: Chlorella sorokiniana and
        Picochlorum. As you can see from the y-axis on the graph, their growth rates are much higher than the growth
        rates of Chlorella vulgaris and Chlorella NJ18. In fact, the maximum growth rate for Chlorella sorokiniana
        is much higher than the three other species of green algae.
      </p>

     <br/>
      <img alt="AlgaeSorokiana_Chart_GrowthByTemp" class="img-centered" height="350" src="AlgaeSorokianaTempGrowth2.png"/>
     <br/>

      <p>
        But what all 4 species of algae have in common is that they stop growing when it gets too hot (around 45°C
        or
        113°F). This is because photosynthesis stops when it gets too hot.
      </p>
    </div>

<div class="page" id="page5">

      <form class="quiz_choice quiz">
        <b>Q0.5: When it gets too hot, photosynthesis cannot take place in plants in general (not just algae). When
          photosynthesis stops in plant cells, what happens
          to the plants?
        </b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) They stop growing any more (they won't get any larger).</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) They only grow a little bit.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">c) They will die.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          That's correct! Plants get their food (sugars) from photosynthesis. Like people and other animals, plants will
          die if they don't get
          food. So (c) is the correct answer.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, plants get their food (sugars) from photosynthesis. Like people and other animals, plants will die
          if they don't get
          food. So, (c) is the correct answer.
        </div>
      </form>


    </div>

<div class="page" id="page6">
      <p>
        <b>Effects of light intensity on algae growth.</b> The relationship between light intensity and the growth rate
        of another species of Chlorella algae, Chlorella sorokiniana algae, is curved.
        At 36°C (97°F), the growth rate is highest at around

        <select class="fib_select" id="FIB2" onchange="fibUpdate('FIB2')">
          <option value="#ffffff">(Select one)</option>
          <option value="#ed8587">100 photon flux.</option>
          <option value="#ed8587">200 photon flux.</option>
          <option value="#11bf7a">500 photon flux.</option>
          <option value="#ed8587">1,000 photon flux.</option>
        </select>

        This is the brightness of full daylight but in indirect sun. As brightness increases above this level,
        Chlorella sorokiniana algae growth rates become slower.
      </p>

     <br/>
      <img alt="Chart_showing_algaegrowth_by_light_temp" class="img-centered" height="400" src="GrowthByLightIntenAndTemp.png"/>
     <br/>

      <p>
        To get an idea of what different levels of brightness are, the figure below shows increasingly bright skies from
        left to right (and the corresponding brightness in photon flux). The sunlight is actually brighter than what's
        shown in these photos — especially the last photo below. This is because photos can't show the full brightness
        of the sun.
      </p>

      <img alt="Light_scales" class="img-centered" height="300" src="LightScalePics.JPG"/>
    </div>

<div class="page" id="page7">
      <p>
        <b>Relationship between light intensity (how bright the light is) and algae growth.</b> The graph below show
        the relationship between the number of diatomic algae cells in millions (for the species Chaetoceros muelleri)
        and time (up to 7 days). Each different line shows the relationship for a different light intensity, from 0
        lux (no light) to 2,500 lux (a medium-bright day).
      </p>

      <img class="img-centered" src="oceanography-Average-cell-1-111-g001.png"/>

      <p class="text-centered">
        <script type="text/javascript">
          // Popup window code
          function newPopup(url) {
            popupWindow = window.open(
              url,'popUpWindow','height=200,width=600,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
          }
          </script>
          <a href="JavaScript:newPopup('../AlgaeFigCitation/index.html');">Click for citation</a></p>
    

     <br/><br/>


      <form class="quiz_choice quiz">
        <b>
          Q5: Based on this graph, what is your best guess for the cell count (in millions) after 168 hours (one week)
          when the light intensity is 250 lux (similar to the light intensity of a dim office)?</b>


        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) Zero.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">b) 1.25 million.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) 2.5 million.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) 4 million</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          That's right! The cell count is likely to be somewhere between the cell counts for zero lux and 500 lux.
          At zero lux, there are no cells. At 500 lux, there are about 2.5 million cells.
          So, a good guess is about in the middle of this range, or about 1.25 (million) cells after one week.
        </div>
        <div class="feedback-incorrect feedback">
          Well, actually, the cell count is likely to be somewhere between the cell counts for zero lux and 500 lux.
          At zero lux, there are no cells. At 500 lux, there are about 2.5 million cells.
          So, a good guess is about in the middle of this range, or about 1.25 (million) cells after one week.
        </div>


      </form>

    </div>

<div class="page" id="page8">
      <p>
        <b>Effects of carbon dioxide on algae growth.</b> As shown in the graph below, algae of the species Chlorella
        vulgaris grows more at higher than lower levels of CO<sub>2</sub> dissolved in water. This is true both when the
        light intensity is at 39 photon flux and 176 photon flux.
      </p>

      <img alt="AlgaeGrowth_LightIntensityCO2" class="img-centered" height="350" src="AlgaeGrowth_LightIntensityCO2_NoTitle2.jpg"/>
     <br/>

      <form class="quiz_choice quiz">
        <b>Q1: Why do you think that algae grows more when there is more carbon dioxide dissolved in the water?
        </b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) Carbon dioxide is an important nutrient for algae.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) Algae breathe in carbon dioxide.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">c) Carbon dioxide is used in photosynthesis to make food for the algae.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          That's correct! Like all plants, algae's food (sugars) is made during photosynthesis from carbon dioxide and
          water. So (c) is the correct answer.
        </div>
        <div class="feedback-incorrect feedback">
          Well, actually, like all plants, algae's food (sugars) is made during photosynthesis from carbon dioxide and
          water. So, (c) is the correct answer.
        </div>
      </form>

    </div>

<div class="page" id="page9">
      <h4>Summary</h4>

      <ul class="brm-list">
        <li>
          Algae produce most of the oxygen that's in the Earth's atmosphere.
        </li>
        <li>
          The two major types of algae are single-celled and multi-cellular.
        </li>
        <li>
          Algae can become a problem if there is too much of it in a given space. When algae become too concentrated,
          they produce toxins that can kill fish or other animals in the water.
        </li>
        <li>
          The rate of algae growth (or how fast they reproduce) depends on temperature, light intensity (or
          brightness), and carbon dioxide concentration.
        </li>
        <li>
          Different species of algae are affected differently by temperature, light intensity, and CO<sub>2</sub>
          concentration.
        </li>
      </ul>

    </div>

{% endblock %}
            
{% block toc %}
<div class="nav-toc-container">
      <h3>Table of Contents: Algae unit</h3>
      <ul>
        <li><a href="#top" onclick="tocPageJump(1)">What is Algae?</a></li>
        <li><a href="#top" onclick="tocPageJump(2)">Types of Algae</a></li>
        <li><a href="#top" onclick="tocPageJump(3)">Problems with Algae</a></li>
        <li><a href="#top" onclick="tocPageJump(4)">Effects of temperature on algae growth</a></li>
        <li><a href="#top" onclick="tocPageJump(5)">Question</a></li>
        <li><a href="#top" onclick="tocPageJump(6)">Effects of light intensity on algae growth</a></li>
        <li><a href="#top" onclick="tocPageJump(7)">Graph: Light intensity and algae growth</a></li>
        <li><a href="#top" onclick="tocPageJump(8)">Effects of carbon dioxide on algae growth</a></li>
        <li><a href="#top" onclick="tocPageJump(9)">Summary</a></li>
      </ul>
    </div>
{% endblock %}
                