---
title: "Rainbow"
permalink: /brm/atomic-masses-of-elements/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Atomic Masses of Elements</h1>

<div class="page" id="page1">
        <div dir="ltr">The atomic mass of different elements is not a whole number because it's the *average* of the masses of different
          "isotopes" of that element. "Isotopes" are different versions of the element, with different number of neutrons but the same number
          of protons. If a proton is added or removed from an atom, it becomes a different element! <div><br/></div>

        </div>
    </div>

{% endblock %}
            