---
title: "Vascular Plants"
permalink: /brm/vascular-plants/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Vascular Plants</h1>

<div class="page" id="page1">
      <p>
        <b>Two major Types of Plants.</b> Plants can be divided into Vascular and Non-Vascular Plants. This unit
        discusses some important properties of Vascular plants.
      </p>

      <img alt="chart showing categories of vascular plants" class="img-centered" src="PlantCategories_vascular_cropped.jpg"/>

    </div>

<div class="page" id="page2">
      <p>

      </p>
      <p>
        <b>What are Vascular Plants?</b> You may have heard of a "vascular system" that humans have. The vascular system
        in humans includes the
        series of tubes (blood vessels) for carrying blood throughout the body. Like humans (and other animals),
        vascular plants have tubes for carrying water and nutrients throughout the plant. Like the walls of blood
        vessels in humans, the walls of these tubes in vascular plants are made of cells.
      </p>
      <p>
        The three major parts of vascular plants are the: (a) roots, (b) stems, and (c) leaves. Each of these three
        major parts have tubes for carrying water and other nutrients—including the sugar plants produce
        in their leaves. These main parts and their sub-parts are labeled in the picture below.
      </p>
     <br/>

      <img class="img-centered" src="Revisedroot.png" width="400"/>
      <br/>

    </div>

<div class="page" id="page3">
      <p>
        <b>Roots.</b> Plants are held in the ground by their roots. The roots also absorb minerals and water in the
        soil. Plants need water (along with carbon dioxide, CO<sub>2</sub>) to make sugars during the process of
        <a class="brm-link" href="../photosynthesis/index.html" target="_blank">photosynthesis</a>.
        Plants also need water to hold their bodies upright (since, unlike many animals, they don't have skeletons).
        This is why plants go limp if they don't get enough water. 
      </p>
      <p>
        There are two types of roots in vascular plants: (a) fibrous roots, and (b) taproots. Some plants—like trees
        and sunflowers—have a system of smaller <b>fibrous roots</b> that spread out from the plant. This root system
        could be very spread out and as large as (or even larger than) the part of the plant you actually see.
      </p>

  

      <img alt="fibrous root_taproot root" class="img-centered" height="305" src="VascPlant2.jpg" width="400"/>

      <br/>

      <p>
        Other plants—like carrots, beets and (the very annoying!) dandelions—have one large root called a
        <b>taproot</b>. This root is strong and often grows deep into the ground. A taproot is shown on the right
        side of the picture above. Carrots and beets that we eat are actually the roots of plants! Carrots and
        beets are larger than most other plant roots because these plants store food in their roots.
      </p>

    </div>

<div class="page" id="page4">
      <p>
        <b>Stems</b> carry substances like water and minerals from the roots to the leaves. Stems come in various
        sizes and shapes.
      </p>
      <p>
        Stems can be soft or hard. Examples of soft stem plants are tomatoes, dandelions, and sunflowers. These stems
        often die in cold weather; they grow new stems each year. The other type of stem is <b>woody</b>. Woody stems
        have an outer covering of bark. These plants are rigid and strong. Woody plants grow tall and usually last
        many years. Examples of plants with woody stems are rose bushes and trees. 
      </p>
     <br/>

      
        <img alt="cross_section_of_leaf" class="img-centered" src="RevisedStemCrosssection_final.jpg" width="400"/>
    
      <br/>

      <p>
        The <b>Xylem </b>of the stem carries water and dissolved nutrients from the roots to other parts of the
        plant. This part of the stem also provides support for the plant, helping it stay upright. The <b>Phloem</b>
        is the inner bark of the tree. It is vascular—which means it has tubes. It carries sugar and other products
        from the leaves—where
        <a class="brm-link" href="../photosynthesis/index.html" target="_blank">photosynthesis</a>
        occurs—to other parts of the plants.
      </p>

     <br/><br/>

    </div>

<div class="page" id="page5">
      <p>
        <b>Leaves.</b> Leaves are a very important part of the plant. The
        <a class="brm-link" href="../chemicalvs-physicalreactions/index.html" target="_blank">chemical process</a>
        of <b>photosynthesis,</b> in which the plant’s food (sugar) is made, happens in the plant’s leaves. Leaves
        come in different sizes and shapes like the ones you see below. Many people don't realize that pine needles
        are actually the leaves of evergreen trees.
      </p>

     <br/>


      <div class="img3Col imgClear">
        <div class="imgCol">
          <img height="167" src="VascPlant5.jpg"/>
        </div>
        <div class="imgCol">
          <img height="167" src="VascPlant6.jpg"/>
        </div>
        <div class="imgCol">
          <img height="167" src="VascPlant7.jpg"/>
        </div>
      </div>

<br/>

    </div>

<div class="page" id="page6">
      <p>
        <b>Parts of Leaves and their Functions.....</b>
      </p>


     <br/>
      <img alt="Leaf_Structure" class="img-centered" src="LeafStructurebrm_final3.jpg" width="600"/>
     <br/>

      <p>
        The drawing above represents a magnified section of a leaf. The parts of the leaf include:
      </p>

      <ul class="brm-list">
        <li>
          <b>Cuticle</b> – The cuticle of the leaf is a waxy, waterproof coating that covers the upper portion
          of the leaf’s surface. This part of the leaf prevents the evaporation of water from the leaf. (The cuticle,
          and all other parts of the leaf, are shown in the picture above.)
        </li>
        <li>
          <b>Epidermis</b> – This is a layer of (epidermal) cells on both the upper and lower sides of the
          leaf. Like your skin's epidermis protects your body, the plant's epidermis protects the leaf.
        </li>
        <li>
          <b>Palisade Mesophyll</b> – Within this layer, the cells contain chloroplasts in which chlorophyll “traps”
          the energy in sunlight for photosynthesis.
        </li>
        <li>
          <b>Spongy Mesophyll</b> – These are spaces between the cells on this layer. Carbon dioxide and oxygen are
          temporarily stored here.
        </li>
        <li>
          <b>Stoma (singular)/Stomata (plural)</b> – Stomata are tiny pores or holes on the surfaces of leaves
          (mostly on the bottom surfaces) that open and close.
        </li>
        <li>
          <b>Veins</b> – Veins in plants' leaves carry water, minerals, and food (including sugars such as glucose)
          to plant cells. Veins are part of the vascular system in plants.
        </li>
      </ul>



    </div>

<div class="page" id="page7">

      <p>
        <b>Stomata (more detail).</b> Stomata are shown below, from the bottom or underside view of a leaf. The stoma on
        the left is open, and the
        stoma on the right is closed.
      </p>


      <img alt="stomatal_apparatus" class="img-centered" src="Stomatal_apparatus.jpg" width="600"/>


      <p>
        Stomata are important because they open to allow CO<sub>2</sub> to enter the leaf for photosynthesis. When
        stomata open, the leaves
        lose O<sub>2</sub> and water in its gas form (also called "water vapor"). The loss of water from a leaf is
        called <b>transpiration</b>. (Transpiration is a part of the

        <a class="brm-link" href="../water-cycle/index.html" target="_blank">Water Cycle</a>.)


      </p>

    </div>

<div class="page" id="page8">

      <b>Check your basic understanding...</b>

      <form class="quiz_choice quiz">
        <b>Q1: What is/are the difference(s) between vascular and non-vascular plants?</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) Only vascular plants have roots. </div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) Only vascular plants have stems.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) Only vascular plants have leaves.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) Only vascular plants have veins.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">e) All of the above. </div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          That's right! Only vascular plants have roots, stems, leaves, and veins (that move water, glucose, and other nutrients
          throughout the plant). So, (e) is the correct answer.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, only vascular plants have roots, stems, leaves, and veins (that move water, glucose, and other nutrients
          throughout the plant). So, (e) is the correct answer.
        </div>
      </form>

     <br/>


      <form class="quiz_choice quiz">
        <b>Q2: In general, which type of plant do you think is larger?</b>
        <input name="question" type="radio" value="correct"/>
        <div class="label">a) Vascular plants. </div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) Non-vascular plants.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) There's no difference in size.</div><br/>

        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          That's right! Vascular plants (by definition) have tubes that transport water, glucose, and other nutrients to
          cells throughout the plant. This allows them to grow larger than non-vascular plants (which don't have these tubes).
        </div>
        <div class="feedback-incorrect feedback">
          Well, vascular plants (by definition) have tubes that transport water, glucose, and other nutrients to
          cells throughout the plant. This allows them to grow larger than non-vascular plants (which don't have these tubes).
        </div>
      </form>


    </div>

{% endblock %}
            
{% block toc %}
<div class="nav-toc-container">
      <h3>Table of Contents: Vascular plants</h3>
      <ul>
        <li><a href="#top" onclick="tocPageJump(1)">Taxonomy of Plants</a></li>
        <li><a href="#top" onclick="tocPageJump(2)">What are Vascular Plants?</a></li>
        <li><a href="#top" onclick="tocPageJump(3)">Roots</a></li>
        <li><a href="#top" onclick="tocPageJump(4)">Stems</a></li>
        <li><a href="#top" onclick="tocPageJump(5)">Leaves</a></li>
        <li><a href="#top" onclick="tocPageJump(6)">Parts of Leaves &amp; Their Functions</a></li>
        <li><a href="#top" onclick="tocPageJump(7)">Stomata in Leaves</a></li>
        <li><a href="#top" onclick="tocPageJump(8)">Understanding Check!</a></li>
      </ul>
    </div>
{% endblock %}
                