---
title: "Factors that Affect Photosynthesis"
permalink: /brm/factors-affect-rate-photosynthesis/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Factors Affecting Photosynthesis</h1>

<div class="page" id="page1">
      <p>
        <b>Variables that affect the rate of photosynthesis:</b> There are several factors that affect the rate of
        photosynthesis (or how fast sugars are produced in plants). These include: (a) light intensity (brightness),
        (b) carbon dioxide concentration, (c) temperature, and (d)
        <a class="brm-link" href="../light/index.html" target="_blank">light wavelength</a>.
        The relationship between light intensity and photosynthesis is shown in the graph below. 
      </p>

      <br/>

      <div style="text-align:left">

        <img class="img-left img-size_med" src="LightIntensity_PhotosynthRateGraph.GIF"/>

      </div>
      <br/>

      <ul class="brm-list">
        <li>
          <b>Light intensity (amount/brightness of light).</b> When there is no light, no photosynthesis takes place. As
          the
          light intensity increases from zero, the rate of photosynthesis
          increases. After a certain point, the rate of photosynthesis will not increase any more with increasing
          light intensity.
        </li>
      </ul>

      <ul class="brm-list nested-list">
        <li>
          <p id="demo" style="display: none">This happens because there is just not enough chlorophyll (and other
            molecules needed for photosynthesis)
            in plant cells to increase the rate of photosynthesis any more.</p>

          <button onclick="toggleText('demo')" type="button">Click to find out why</button>
        </li>

      </ul>

    </div>

<div class="page" id="page2">
      <form class="quiz_choice quiz">
        <b>
          Q3.5: For low levels of light intensity, what is the relationship between light intensity and
          photosynthesis rate?</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) There is no relationship.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) As light intensity increases, photosynthesis rate decreases.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">c) As light intensity increases, photosynthesis rate increases.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) I have no clue.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          You are right. With low levels of light intensity (close to the origin of the graph), as light intensity
          increases, the rate of photosynthesis also increases. So, (c) is the correct response.
        </div>
        <div class="feedback-incorrect feedback">
          Not quite. With low levels of light intensity (close to the origin of the graph), as light intensity
          increases, the rate of photosynthesis also increases. So, (c) is the correct response.
        </div>
      </form>

      <br/>
    </div>

<div class="page" id="page3">

      <ul class="brm-list">
        <li>
          <b>Carbon Dioxide concentration.</b> When there is no CO<sub>2</sub>, photosynthesis does not occur.
          Increasing the concentration of <b>Carbon Dioxide</b> will increase the rate of photosynthesis. But after
          a certain point, the rate of photosynthesis will not increase any more as CO<sub>2</sub>
          concentration increases.
        </li>
      </ul>

      <img class="img-left img-size_med" src="CO2_RatePhotoSynth_Graph.GIF"/>

      <br><br/>So, after a certain point, more carbon dioxide in the air will no longer help plants grow.

    </div>

<div class="page" id="page4">

      <form class="quiz_choice quiz">
        <b>
          Q4: According to the graph, as the CO<sub>2</sub> levels increase, what happens to the rate of
          photosynthesis?
        </b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) It keeps increasing.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">b) It increases up to a certain point then remains the same.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) It remains the same for all CO<sub>2</sub> levels.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) This information cannot be determined from this graph.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! As the CO<sub>2</sub> level increases, the photosynthesis rate also increases. However, once it
          reaches a certain CO<sub>2</sub> level, the rate of photosynthesis does not increase (or decrease) any more.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, as the CO<sub>2</sub> level increases, the photosynthesis rate also increases. However, once it
          reaches a certain CO<sub>2</sub> level, the rate of photosynthesis does not increase (or decrease) any more.
          So, (b) is the correct answer.
        </div>
      </form>

      <br/>

    </div>

<div class="page" id="page5">

      <ul class="brm-list">
        <li>
          <b>Temperature.</b> The relationship between temperature and rate of photosynthesis
          is different from the others. Again, when the temperature is very low, no photosynthesis
          occurs. The increase in photosynthesis rate is slow at first, but starts to increase
          more quickly at a certain point. The rate of photosynthesis is highest between 10
          and 20°C (or 50-68°F). After this maximum, the photosynthesis
          rate drops off quickly as the temperature increases. At around 40°C (or 104°F), 
          photosynthesis stops. As a result, plants cannot grow anymore.
        </li>
</ul>
        

        <img class="img-left" width="400" src="TempVphotosynthesisRate3.PNG"/>

        <br/>

        <ul class="brm-list nested-list">

         <br>
          <li>
            Why does photosynthesis stop at high temperatures? There are certain molecules called "enzymes" made
            by living organisms. Enzymes speed up
            <a class="brm-link" href="../chemicalvs-physicalreactions/" target="_blank">chemical reactions</a>.
            Chlorophyll is one enzyme that helps cause photosynthesis. Another enzyme, called RuBisCo, has the job of
            capturing CO<sub>2</sub>. When the temperature is too high, RuBisCo gets very bad at capturing
            CO<sub>2</sub>, which is needed for photosynthesis. As a result, photosynthesis stops.
          </li>
        </ul>
      </ul>
      <br/>
      <form class="quiz_choice quiz">
        <b>
          Q4.5: What is the relationship between temperature and rate of photosynthesis between 21°C
          (70°F) and 38°C (100°F)? Base your answer on the graph and other information in
          this unit.
        </b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) The rate of photosynthesis increases from 21-38°C.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">b) The rate of photosynthesis decreases from 21-38°C.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) The rate of photosynthesis does not change from 21-38°C.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) How should I know?</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          That's right! The rate of photosynthesis is maximum a bit below room temperature (between 10 and 20°C) 
          but decreases at temperatures higher than about 20 degrees. So, (b) is the correct answer.
        </div>
        <div class="feedback-incorrect feedback">
          Well, actually, the rate of photosynthesis is maximum a bit below room temperature (between 10 and 20°C) 
          but decreases at temperatures higher than about 20 degrees. So, (b) is the correct response.
        </div>
      </form>

    </div>

<div class="page" id="page6">

      <form class="quiz_choice quiz">
        <b>Q0.5: When it gets too hot, photosynthesis cannot take place in plants. When photosynthesis stops in plant
          cells, what happens
          to the plants?
        </b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) They stop growing any more (they won't get any larger).</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) They only grow a little bit.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">c) They will die.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          That's correct! Plants get their food (sugars) from photosynthesis. Like people and other animals, plants will
          die if they don't get
          food. So (c) is the correct answer.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, plants get their food (sugars) from photosynthesis. Like people and other animals, plants will die
          if they don't get
          food. So, (c) is the correct answer.
        </div>
      </form>

    </div>

<div class="page" id="page7">
      <ul class="brm-list">
        <b>Light wavelength.</b> Certain
        <a class="brm-link" href="../light/" target="_blank">frequencies of visible light</a> 
        speed up or slow the rate of photosynthesis. Sunlight that has energy in the blue-violet and red frequency
        ranges causes the highest rates of photosynthesis. Sunlight in the green range causes lower rates of
        photosynthesis. This is because chlorophyll pigment molecules do not absorb green light well* (and do not
        convert this radiation into energy that causes the chemical processes in photosynthesis).
        <br/><br/>
        <ul class="brm-list nested-list">
          *This is why plants' leaves look green to us: green light is not absorbed; instead,
          it is reflected by the molecules that make up the plants to our eyes.

        </ul>
      </ul>
    </div>

<div class="page" id="page8">

      <form class="quiz_choice quiz">
        <b>Q3: Why do most plants look green to us?
        </b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) They absorb green light.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">b) They reflect green light.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) They absorb blue and yellow light.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          That's correct! Plants look green to us because green light is reflected off of the plants to our eyes. So (b)
          is the correct answer.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, plants look green to us because green light is reflected off of the plants to our eyes. So, (b) is
          the correct answer.
        </div>
      </form>

      <br/>
    </div>

{% endblock %}
            
{% block toc %}
<div class="nav-toc-container">
      <h3>Table of Contents: Factors that Affect Photosynthesis</h3>
      <ul>
        <li><a href="#top" onclick="tocPageJump(1)">Relationship between light intensity and photosynthesis</a></li>
        <li><a href="#top" onclick="tocPageJump(2)">Relationship between CO2 and photosynthesis</a></li>
        <li><a href="#top" onclick="tocPageJump(3)">Relationship between temperature and photosynthesis</a></li>
        <li><a href="#top" onclick="tocPageJump(4)">Question</a></li>
        <li><a href="#top" onclick="tocPageJump(5)">Relationship between light frequency and photosynthesis</a></li>
        <li><a href="#top" onclick="tocPageJump(6)">Understanding Check</a></li>
        <li><a href="#top" onclick="tocPageJump(7)">Light intensity &amp; algae growth</a></li>
      </ul>
    </div>
{% endblock %}
                