---
title: "Rainbow"
permalink: /brm/rainbow/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Rainbow</h1>

<div class="page" id="page1">
      <p>
        This is called a rainbow!
      </p>

      <a href="../rainbow/Rainbow_1600.jpg?attredirects=0/index.html">
        <img alt="rainbow" height="225" src="Rainbow_1600.jpg" width="400"/>
      </a>
      <br/>

      <p>
        Return to 
        <a class="brm-link" href="../light-reflection-color/index.html" target="_blank">
          Light reflection &amp; Color
        </a> unit.
      </p>

    </div>

{% endblock %}
            