---
title: "Friction"
permalink: /brm/friction/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Friction</h1>

<div class="page" id="page1">
      <p>
        <b>What is Friction?</b> Friction is a force between a surface and an object moving on that surface that resists
          motion. In other words, the force of friction acts in the direction that is opposite the direction the object is
          moving on a surface. This idea is shown below:
      </p>

      <a href="../friction/Box_Friction.GIF?attredirects=0/index.html">
        <img class="img-centered" src="Box_Friction.GIF"/>
      </a>
     <br/>
      <p>
        <b>Why do we care about friction?</b> Friction is another very important force that allows you to walk,
        ride your bike, or drive to where you want to go. Without friction, we'd slide off of our chairs and slip
        trying to walk! Life would be even more difficult!
      </p>
    </div>

<div class="page" id="page2">
      <form class="quiz_choice quiz">
        <b>Q1: Which is true about the force of friction acting on a book sitting at rest on a desk?</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) Friction acts downward on the book.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) Friction pushes upward on the book.
        </div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">c) There is no friction acting on the book.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) It's impossible to know without more information.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          That's right! No friction acts on the book because it is at rest.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, no friction acts on the book because it is at rest.
        </div>
      </form>
    </div>

<div class="page" id="page3">

<p>
        <i><b>Example 1.</b></i> Another example of friction is pushing a box across a floor.
        You have probably noticed that it's much easier to push a box on a wooden floor than on a
          carpeted floor. This is because there is more friction that opposes the motion of the box on the carpeted floor
          than on the smoother wooden floor.
      </p>

      <img alt="Image of two figures each pushing a box on different surfaces: wooden floor and carpeted floor. There is more friction on the carpeted floor and less friction on the wooden floor. " class="img-centered" src="NewFrictionImageBookends.jpg" width="600"/>
      <br/>

    </div>

<div class="page" id="page4">

 <p>
        <b><i>Example 2</i></b>. For example, when you walk barefoot, you may feel the friction between the bottom
        of your foot and the ground surface. When you first take a step and push forward on the ground
        (See #1 in the picture below), this friction force acts on your foot in the opposite direction you are
        walking in. The amount of the force of friction acting on your foot is also the <i>same</i> as the force
        your foot applies to the ground. This balance of forces keeps your foot from sliding forward on the ground.
        But if you stepped on a banana, the backward friction force would be much less. As a result, your foot would
        slide forward, in the direction of the net force acting on your foot (and you may fall!).
      </p>

<div>
      <img alt="image of applied action and friction reaction" class="img-centered" height="240" src="FrictionFeetGraphicA3-T1RevisedText.jpg" width="400"/>
</div>
      <br/>
      <p>
        So, this shows how the friction between the ground and the bottom of your foot is necessary to keep
        your foot from sliding forward when you first take a step. This happens because friction pushes against the
        bottom of your foot in the opposite direction that you are pushing against the ground. The amount of the
        force of friction acting on your foot is also the <i>same</i> as the force your foot applies to the ground. 
      </p>
      <p>
        As shown in #3, friction also allows you to push off backward on the ground and allow you to move
        forward. Friction acts in the opposite direction of your push on the ground, or forward this time.
        If there were less or no friction (for example, if you stepped on another banana), your foot would
        slide backwards and you may fall (again!).
      </p>
      <br/>
      </div>

<div class="page" id="page5">
      <p>
        <b><i>Example 3</i>.</b> For a round object to roll down an incline (such as a hill),
          there must be at least some friction between the object and surface of the incline. If
            there is no friction, the object will not roll. Instead, it will slide down the incline. 
      </p>
      <p>
        <b>Effect of friction on sliding vs. rolling objects.</b> The amount of friction between a round object
        (for example, a ball) and surface determines whether the object will slide or roll on the surface (for
        example, a ramp). 
      </p>
      <p>
        If there is no or little friction, the object will slide down the surface.
      </p>
      <p>
        For <b>sliding objects</b>, greater friction produces more resistance to the object's motion. 
      </p>

      <img alt="ball rolling uphill" class="img-centered" src="friction2ball.jpg"/>
      <br/>

      <p>
        If there is enough friction acting on the round object, it will start to <b>roll</b> down the surface.
        This is what we see happen most of the time.
      </p>

      <p>
        Once there is enough friction to keep the rolling object rolling
              (and not slipping or sliding at all on the surface), increasing the friction does not affect the rolling object's motion. In other
              words, once friction is greater than a certain amount, adding more friction does not affect the ball's motion.
      </p>

     <br/>
      <img alt="ball rolling downhill" class="img-centered" src="NewFrictionBall.jpg"/>
     <br/>


    </div>

<div class="page" id="page6">
      <p>
        <b>Friction and speed of ball on ramp.</b> As discussed more in 
        <a class="brm-link" href="../kinetic-and-potential-energy/" target="_blank">Kinetic and Potential Energy</a> 
        (advanced section), there are several types of kinetic energy (KE). One type is translational KE, which is
        the energy due to the movement of the object across a distance (for example, a ball sliding down a ramp).
        The faster an object moves, the greater its translational KE is.
      </p>
      <p>
        Another type of KE is rotational KE. This is the energy due to an object's rotation around
        an axis. The faster the object rotates, the greater its rotational KE is. Both types of motion are shown in the
        animation below:
      </p>

     <br/>

      <div>


        <img class="img-centered" src="Ball_AnimationRevised7.gif" width="600"/>


          <p>
            The animation above shows a ball rolling down a ramp. The ball has two types of motion: (a) translational motion (moving along the x-axis, and (b) rotational
            motion (rotating along its own axis).
          </p>

       <br/>
      </div>

      <form class="quiz_choice quiz">
        <b>
          Q2: We have two ramps that are identical except for the amount of friction of the ramp surfaces. We place a ball at the top
          of the high-friction ramp, which rolls to the bottom of the ramp. We then place an identical ball at the top
          of a no-friction ramp. It slides (without rolling) down the ramp to the bottom. Which of the following would
          be true about the speed of the ball right at the bottom of the ramps? (Hint: apply the law of conservation of
          energy.)
        </b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) The ball on the high-friction ramp will have a higher speed.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">b) The ball on the no-friction ramp will have a higher speed.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) The speeds of the balls will be the same.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) I really don't know.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          That's right! If the ball slides rather than rolls, it will only have translational kinetic energy. So, based on the conservation
          of energy, it will have more translational kinetic energy than a ball that is rolling down the same ramp (which
          has both translational and rotational kinetic energy). So, the sliding ball will be moving faster down the ramp
          (at every location on the ramp).
        </div>
        <div class="feedback-incorrect feedback">
          Actually... if the ball slides rather than rolls, it will only have translational kinetic energy. So, based on the conservation
          of energy, it will have more translational kinetic energy than a ball that is rolling down the same ramp (which
          has both translational and rotational kinetic energy). So, the sliding ball will be moving faster down the ramp
          (at every location on the ramp).
        </div>
      </form>
    </div>

<div class="page" id="page7">

      <p>
        <b>Advanced!!:</b> The acceleration of a solid sphere rolling down an incline without slipping. <b>(This
        section includes concepts related to rotational motion that are probably not familiar to students.)</b>
      </p>
     <br/>
      <div>

      <img class="img-centered" src="Ball_AnimationRevised7.gif" width="600"/>
        <div>
          <p>
            The animation above shows a ball
            rolling down a ramp. The ball has two types of motion: (a) translational motion (moving along the x-axis, and
            (b) rotational motion (rotating along its own axis).
          </p>
        </div>
       <br/><br/>
      </div>

      <p class="text-centered">
        Applying <b>Newton's Second Law</b> in x-direction (down the ramp): 
        <span style="color:#0000ff"><b>m</b></span>
        <span class="font-times text-sm">•</span>
        <span style="color:#0000ff"> <b>a<sub>x</sub></b> = <b>m </b></span>
        <span class="font-times text-sm">•</span>
        <span style="color:#0000ff"><b>g</b></span>
        <span class="font-times text-sm">•</span>
        sinΘ - <b>f<sub>s</sub> (#1)</b>
      </p>
      <p>
        <i>Plan for solving for a<sub>x</sub></i>: We want to reduce the number of unknowns in this equation by
        replacing <b>f</b><sub>s</sub> with other terms in the equation (like acceleration and mass). To do that,
        we will use something called the <b>torque</b> (pronounced "tork"). <b>Torque</b> is a twisting force that
        causes objects to spin/rotate/roll. We will use this relationship for the <b>torque</b> on the ball. 
      </p>
      <p class="text-centered">
        Sum of <b>Torque</b> on object =
        <b style="color:#0000ff">I</b> 
        <span class="font-times text-sm">•</span>
        <b style="color:#0000ff">α</b>
        = <b>f<sub>s</sub></b>
        <span class="font-times text-sm">•</span>
        <b style="color:#0000ff">r</b>
        (#2) (because the only torque acting on the ball is due to friction)
      </p>
     <br/>
      <p>
        This is analogous to Newton's second law: The Sum of <b>Forces</b> on object = <b>m</b> 
        <span class="font-times text-sm">•</span>
        <b>a</b>; The Sum of <b>Torque</b> on an object = <b>I</b> 
        <span class="font-times text-sm">•</span>
        <b>α</b>, where:
      </p>

      <ul class="brm-list">
        <li>
          <b>I</b> is the resistance of an object to change in rotational motion (analogous to <b>m</b>,
            or mass, which is resistance to change in translational motion)
        </li>
        <li>
          <b>α</b> is the rotational acceleration of an object (analogous to <b>a</b>, which is the translational
          acceleration of an object)
        </li>
      </ul>

      <p class="text-centered">
        For a solid sphere:
      </p>
      <p class="text-centered">
        <span style="color:#0000ff"><b>I</b> = 2/5 <b>m</b> </span>
        <span class="font-times text-sm">•</span>
        <span style="color:#0000ff"><b>r</b><sup>2</sup> (#3)</span>
        (<b>r</b>: radius of sphere)
      </p>
      <p class="text-centered" style="color:#0000ff">
          <b>α</b> = <b>a</b><sub>x</sub> / <b>r</b>  (#4)
      </p>
      <p class="text-centered">
        Solving for <b>f</b><sub>s</sub> (in #2):
      </p>

      <p class="text-centered">
          <span style="color:#0000ff"><b>f</b><sub>s</sub> = <b>I</b></span>
          <span class="font-times text-sm">•</span>
          <b>α</b>/<b>r</b>
      </p>
      <p class="text-centered">
          Substituting for <b>I</b> (#3) &amp; <b>α</b> (#4):
      </p>
      <p class="text-centered">
          <span style="color:#0000ff"><b>f</b><sub>s</sub> = (2/5</span>
          <b>m</b> 
          <span class="font-times text-sm">•</span>
          <b>r</b><sup>2</sup>)(<b>a<sub>x</sub></b>/<b>r</b>)/<b>r</b>
      </p>
      <p class="text-centered">
        <span style="color:#0000ff"><b>f</b><sub>s</sub>= 2/5</span>
        <b>m</b>
        <span class="font-times text-sm">•</span>
        <b>a</b><sub>x</sub> (#5)
      </p>
      <p class="text-centered">
          Substituting <b>f</b><sub>s</sub> from (#4) into our original equation (#1):
      </p>
      <p class="text-centered">
        <span style="color:#0000ff"><b>m</b> </span>
        <span class="font-times text-sm">•</span>
        <b>a<sub>x</sub></b> = <b>m</b>
        <span class="font-times text-sm">•</span>
        <b>g</b>
        <span class="font-times text-sm">•</span>
        <b>sinΘ</b> - 2/5 <b>m</b> 
        <span class="font-times text-sm">•</span>
        <b>a</b><sub>x</sub>
      </p>
      <p class="text-centered">
        The <b>m</b>'s (mass) cancel each other, and we have:
      </p>
      <p class="text-centered">
        <span style="color:#0000ff"><b>a<sub>x</sub></b> = <b>g</b> </span>
        <span class="font-times text-sm">•</span>
        <b>sinΘ</b> - 2/5 <b>a</b><sub>x</sub>
      </p>
      <p class="text-centered">
        Adding 2/5 <b>a</b><sub>x</sub> to both sides of the equation:
      </p>
      <p class="text-centered">
        <span style="color:#0000ff">7/5 <b>a<sub>x</sub></b> = <b>g </b></span>
        <span class="font-times text-sm">•</span>
        sinΘ
      </p>

     <br/>

      <p class="text-centered">
        And Finally!!...
      </p>
      <p class="text-centered">
        <span style="color:#0000ff"><b>a<sub>x</sub></b> = 5/7 <b>g</b> </span>
        <span class="font-times text-sm">•</span>
        <span style="color:#0000ff"><b>sinΘ</b></span>
          ==&gt; This is the acceleration of a solid sphere rolling without slipping down a ramp.
      </p>

      <p class="text-centered">
          If there were <b><i>no friction</i></b> on this ramp, then from (#1):
      </p>
      <p class="text-centered">   
        <b>a<sub>x</sub></b> <b>a<sub>x</sub></b> = <b>g</b> 
        <span class="font-times text-sm">•</span>
        <b>sinΘ</b> or <b>a<sub>x</sub></b> = 7/7
        <b>g </b>
        <span class="font-times text-sm">•</span>
        sinΘ
      </p>

      <p>
        So, we see that the acceleration of the ball down the ramp, <b>a<sub>x</sub></b> is <i>less</i> when the
        ball is rolling due to friction on the ramp surface compared to when it slides down the ramp with no friction.
      </p>
<br/>
      <form class="quiz_open quiz">
        <b>Q3: Based on the law of conservation of energy, we would expect that the acceleration of a ball rolling down
          a ramp would be less than the acceleration of a ball sliding down another ramp (identical to the first ramp,
          but with less friction). Explain why.</b>
        <textarea></textarea><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Thanks for your response!
        </div>
      </form>

    </div>

{% endblock %}
            
{% block toc %}
<div class="nav-toc-container">
    <h3>Table of Contents: Friction unit</h3>
    <ul>
    <li><a href="#top" onclick="tocPageJump(1)">What is Friction?</a></li>
      <li><a href="#top" onclick="tocPageJump(2)">Understanding check</a></li>
      <li><a href="#top" onclick="tocPageJump(3)">Friction example 1</a></li>
      <li><a href="#top" onclick="tocPageJump(4)">Friction example 2</a></li>
      <li><a href="#top" onclick="tocPageJump(5)">Friction example 3 (ramp)</a></li>
      <li><a href="#top" onclick="tocPageJump(6)">Friction of ball on ramp &amp; Question</a></li>
      <li><a href="#top" onclick="tocPageJump(7)">Advanced: Applying Newton's Second Law to ball rolling down ramp</a></li>
    </ul>
  </div>
{% endblock %}
                