---
title: "Mass"
permalink: /brm/mass/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Mass</h1>

<div class="page" id="page1">
      <p>
        <b>What is Mass?</b> All physical objects (even atoms, protons, neutrons, and electrons) have some mass. Mass
        is the amount of "stuff" something is made of. Atoms are the "building blocks" of mass. The masses for the
        different kinds of atoms—or different elements—are given in the
        <a class="brm-link" href="../periodic-table/" target="_blank">Periodic table.</a>
        The mass of each element just depends on how many protons, neutrons, and electrons it has.
      </p>
      <p>
        The mass of an object is
        <a class="brm-link" href="../proportional-1/" target="_blank">directly proportional to</a>
        the number of atoms that make up the object: the more atoms the object is made of, the more mass that object
        has. For example, a rock made of three billion gold atoms has more mass than another rock made of one billion
        gold atoms. (It has 3 times the mass.)
      </p>
      <p>
        The mass of an object also depends on the type of atoms it is made of. For example, an object made of one
        million gold atoms will also have more mass than an object made of a million silver atoms. This is because
        each gold atom has more mass than each silver atom: it has more protons, neutrons, and electrons. 
      </p>

      <p>
        Mass can be measured in grams (g) or kilograms (kg).
      </p>

     <br/>
    </div>

<div class="page" id="page2">
      <p>
        <b><i>Mass is constant.</i></b> The number and type of atoms that make up the object determines an object's
        mass. So, the mass of an object is the same here on earth as its mass would be on the moon or another planet
        or even in space (if nothing caused it to gain or lose atoms). You can say that the mass of an object is
        "constant" or does not depend on where the object is. (Now,
        <a class="brm-link" href="../weight/" target="_blank">weight</a>
        is a different story!)
      </p>
      <p>
        <b>Mass vs. Weight.</b> Mass and weight are related, but they're not the same things. Mass is the amount of
        "stuff" an object has (it is often measured in grams). The weight of an object is the amount of <b>force</b>
        that object's stuff is being pulled on because of gravity (weight can be measured in Newtons or pounds).
      </p>

     <br/>
    </div>

<div class="page" id="page3">
      <p>
        <b>Relationship between Mass and Motion of object</b>
      </p>
      <p>
        An important point is that <b>the mass of an object is also a measure of how much it resists a change to
        its motion (speeding up, slowing down, or changing direction)</b>. 
      </p>
      <p>
        As discussed in more detail in the 
        <a class="brm-link" href="../forces-and-motion-newton-s-second-law/" target="_blank">Newton's Second Law</a>
        unit, for a given force applied to objects, how much the object speeds up or slows down depends on its mass.
      </p>
      <p>
        Objects with more mass will change their speed less than objects with less mass when the same force is applied. 
      </p>

      <a href="../mass/Mass_Speed.GIF?attredirects=0/index.html">
        <img alt="Image showing object with more mass will change their speed less than objects with less mass" class="img-centered" src="Mass_Speed.GIF"/>
      </a>
      <br/>

      <p>
        It also takes more force to change the motion of — or accelerate — an object with more mass by the same amount
        as a less massive object. For example, it would take (much!) more force to accelerate a 100 kg object at
        10 m/s<sup>2</sup> (or increase its speed by 10 m/s every second) than it would to accelerate a 1 kg object
        at 10 m/s<sup>2</sup>. (In fact, it would take 100 times as much force to give the 100 kg object the same
        acceleration as the 1 kg object.) 
    </p>
      <p>
        <b>Explanation.</b> If you think of objects as made of particles, you can think of the force applied to an object as split up
        equally among all of its particles of the same mass. So, in a more massive object, each particle would
        experience less force and as a result, less acceleration, compared to a less massive object.
      </p>

     <br/>
    </div>

<div class="page" id="page4">
      <p>
        <b>Conservation of mass during reactions.</b> An important principle is that in all
        <a class="brm-link" href="../chemicalvs-physicalreactions/" target="_blank">chemical and physical reactions</a>, the total mass of all particles (atoms and molecules) before the reaction is equal to the total mass of
        all particles after the reaction. That is, the total mass of particles is "conserved," or stays the same.
      </p>

     <br/>
    </div>

{% endblock %}
            