---
title: "Absorption"
permalink: /brm/absorption/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Absorption</h1>

<div class="page" id="page1">
      <p>
        <b>What is absorption?</b> You have almost certainly seen materials like paper towels and clothing (made
        of materials like cotton, wool, and denim) absorb water. This means that molecules of water move between
        the molecules that make up these materials and go into the materials.

        Your hair also absorbs water. This means that molecules of water move between the molecules that make up strands of your
        hair so that the water molecules are inside each strand of your hair.

       <br/><br/>But other
        materials, like metals (shown below) and wax-coated bird feathers, do not absorb water or other liquids.
      </p>

      <img alt="Water on metal" class="img-centered img-size" src="absorption_BRM.jpg"/> 

      <p>
        Why don't some materials (like the metals above) absorb liquids? The molecules that make up these non-absorbent
        materials tend to be much closer together (or denser), so H<sub>2</sub>O molecules are not able to move between the molecules of the materials to
        penetrate into the materials.

       <br/><br/>Even though the metal surfaces of cars don't absorb water, people often
        put a layer of wax on their cars. This wax layer prevents water from directly touching the metal. As a result,
        water on the surface of the car can't bond with the iron (Fe) of the car bodies to form rust
        (Fe<sub>3</sub>O<sub>4</sub>).
      </p>
    </div>

<div class="page" id="page2">
      <p>
        <b>Electric charges also help absorption.</b> To further understand why certain materials absorb and "hold" liquids, we have to remember that water molecules have ends
        with opposite electric charges. As shown below, the hydrogen (H) side of water molecules is positively
        charged and the oxygen (O) side of the molecule is negatively charged. Because of this, they are
        attracted to other water molecules and any other molecules or atoms that have areas that are charged.
        These include salt molecules (such as NaCl) and sugar molecules (such as
        C<sub>12</sub>H<sub>22</sub>O<sub>11</sub>).
      </p>
      <img alt="Water molecule" class="img-centered img-size" src="InkedCombinedOxygenHydrogen_A1-T1_LI2_cropped.jpg"/>
     <br/>
      <p class="text-centered">
        Above are two ways to represent a water (H<sub>2</sub>O) molecule, which has positively and
        negatively charged sides.
      </p>
    </div>

<div class="page" id="page3">

      <h4>Absorption of water by different materials.</h4>

      <p>
        <b>Absorption of water by paper towels.</b>
        Water molecules also "stick" to the molecules that make up absorbent materials because of electric
        forces (see the 
        <a class="brm-link" href="../atoms-molecules/" target="_blank">Atoms: Basics</a>
        or
        <a class="brm-link" href="../electric-force/" target="_blank">electric force</a>
        unit for more information on electric forces). Paper towels are mostly made from trees. And guess what?
        Trees contain a lot of sugar molecules. (They produce sugars during
        <a class="brm-link" href="../photosynthesis/" target="_blank">photosynthesis</a>.)
      </p>
      <p>
        We know that sugar molecules have charged areas, which attract oppositely-charged areas of water
        molecules. This is why sugar molecules dissolve in water. Water is absorbed by paper towels through the
        same process of attraction by electric forces.
      </p>
      <p class="text-centered">
        The paper towel below absorbs water because of the electric force.
      </p>

      <img alt="paper towel absorbing water" class="img-centered img-size" src="PaperTowel_3805.jpg"/> 
     <br/>
     <br/>
      <p>
        <b>Absorption by hair, wool, yarn, etc.</b>  When you take a shower, your hair gets wet because it also
        absorbs water. Your hair and similar materials like wool and yarn (which are made of animal hair, which
        is similar to human hair) are made of molecules called proteins. Like water, protein molecules also have
        areas that are positively and negatively charged. This is what allows water molecules to "stick" to
        hair, wool, and yarn molecules, resulting in absorption. 
      </p>

    </div>

<div class="page" id="page4">

      <p>
        <b>Water temperature and absorption.</b> As you might expect, there is a relationship between water
        temperature and how much water is absorbed by a material (such as paper towels or hair) in a given
        time. As water temperature increases, the amount of water absorbed by a material increases.
      </p>
      <p>
        Why is this? As water temperature increases, the average kinetic energy (energy due to motion) of water
        molecules increases. So, the water molecules will be able to move farther into the materials (rather
        than stop because they are "caught" by the electric force of the molecules that make up the material).
        So more water is absorbed when the water temperature is higher.
      </p>
      <p>
        When water is cooler, the molecules on average have less kinetic energy. Because they're moving slower,
        they are more easily "caught" and stopped by the electric forces of the materials. As a result, less
        water will be absorbed by the material (Source: Songok et al., 2014).
      </p>


      <!-- Quiz: Choice -->
      <form class="quiz_choice quiz">
        <p>
          <b>
            Q1: You have two glasses, each filled with one cup of water. In Glass A, the water is hot (80
            degrees C). In Glass B, the water is room temperature (22 degrees C). You hang two identical
            pieces of yarn vertically in the water so that the exact same amount of yarn is in the water.
          </b>
        </p>
        <p>
          <b>
            In which glass will the section of the yarn that is ABOVE THE WATER LINE absorb more water?
          </b>
        </p>
        <img src="Q1_pic.PNG" width="400"/>
       <br/>

        <input name="question" type="radio" value="correct"/>
        <div class="label">a) Glass A</div>
       <br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) Glass B</div>
       <br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) They would absorb the same amount.</div>
       <br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) There is just no way to tell.</div>
       <br/>
        <button class="submit-btn" type="submit">Submit</button>

        <div class="feedback-correct feedback">
          You're right! The yarn in Glass A with the hot water will absorb more water. You will see that the
          part of the yarn that is above the water line will absorb MORE water in the hot water than in the
          cold water. This is because the hot water will move farther upward in the yarn than the cold water.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, the yarn in Glass A with the hot water will absorb more water. You will see that the part
          of the yarn that is above the water line will absorb MORE water in the hot water than in the cold
          water. This is because the hot water will move farther upward in the yarn than the cold water.
        </div>
      </form>

      <p>
        In the scenario for Q1 above, the water absorbed by the yarn that is above the water level will
        evaporate into the air. This evaporated water will be replaced by more water from the glass that is
        absorbed by the yarn. This water will also evaporate. Water will continue to be absorbed and evaporate
        in a continuous cycle (until there's no more water).
      </p>
    </div>

<div class="page" id="page5">

      <!-- Quiz: Choice -->
      <form class="quiz_choice quiz">
        <b>Q2: In the scenario for Q1, you use salt water rather than regular water. As salt water is
          absorbed by the yarn above the water level, what will happen to the Na+ and Cl- atoms in the yarn?
        </b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) They will evaporate with the water.</div>
       <br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">b) Some will remain in the yarn (above the water level).</div>
       <br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) They will all return to the water.</div>
       <br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) How should I know?</div>
       <br/>
        <button class="submit-btn" type="submit">Submit</button>

        <div class="feedback-correct feedback">
          You're right! At least some Na+ and Cl- atoms will remain in the yarn, attracted to each other and
          the yarn molecules by electric forces. As salt water is absorbed and the water evaporates, NaCl
          crystals will build up on the yarn that is above the water level!
        </div>

        <div class="feedback-incorrect feedback">
          Actually, at least some Na+ and Cl- atoms will remain in the yarn, attracted to each other and the
          yarn molecules by electric forces. As salt water is absorbed and the water evaporates, NaCl crystals
          will build up on the yarn that is above the water level!
        </div>
      </form>

      <!-- Quiz: Choice -->
      <form class="quiz_choice quiz">
        <b>Q3: In the scenario for Q2 above, would you expect NaCl crystals to build up faster above the water
          line in hot salt water or cooler salt water?
        </b>
        <input name="question" type="radio" value="correct"/>
        <div class="label">a) The hot salt water</div>
       <br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) The cooler salt water</div>
       <br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) They will build up at the same rate.</div>
       <br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) How should I know?</div>
       <br/>
        <button class="submit-btn" type="submit">Submit</button>

        <div class="feedback-correct feedback">
          You're right! Because hot water is both absorbed and evaporates faster than cooler water, the Na+
          and Cl- atoms will build up faster above the water line when the water is hot.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, because hot water is both absorbed and evaporates faster than cooler water, the Na+ and
          Cl- atoms will build up faster above the water line when the water is hot.
        </div>
      </form>
    </div>

<div class="page" id="page6">
      <p>
        The photo below shows salt (NaCl) growth on a plain piece of yarn after a few weeks of sitting in salt
        water. Most of the water has evaporated during this time. You may notice that most of the growth is
        toward the top of the string (the part that was just above the initial water level, represented by the blue line). This is because
        once Na+ and Cl- atoms start to build up on the yarn, they continue to attract the oppositely-charged
        atoms. Na+ atoms attract Cl- atoms and Cl- atoms attract Na+ atoms due to the electric force. 
      </p>
      <p>
        The <a class="brm-link" href="../electric-force/" target="_blank">electric forces</a>
        between Na+ and Cl- atoms are stronger than the electric forces of the protein molecules that make up
        the yarn. This is why the Na+ and Cl- atoms build onto each other more than they build onto the yarn to form the salt crystals you can see below.
      </p>

      <a href="../absorption/SaltGrowthTop.jpg?attredirects=0/index.html">
        <img alt="salt growing on string" class="img-centered img-size" src="InkedSaltGrowthTop_waterline.jpg"/>
      </a>

      <br/>

      <!-- Quiz: Choice -->
      <form class="quiz_choice quiz">
        <b>
          Q4: Say you have a glass of salt water that cannot dissolve any more salt. You put a piece of yarn
          in the water. Which, if either, do you think the Na+ and Cl- atoms in the water would be more
          attracted to?
        </b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) Plain yarn</div>
       <br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">b) Yarn coated with salt crystals</div>
       <br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) They would be attracted to both the same amount.</div>
       <br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) There is no way to tell.</div>
       <br/>
        <button class="submit-btn" type="submit">Submit</button>

        <div class="feedback-correct feedback">
          You're right! The electric force between Na+ and Cl- atoms is stronger than the electric force
          between Na+/Cl- atoms and protein molecules that make yarn. So, the Na+ and Cl- atoms in the water
          would be more attracted to the yarn coated with NaCl.
        </div>

        <div class="feedback-incorrect feedback">
          Well, the electric force between Na+ and Cl- atoms is stronger than the electric force between
          Na+/Cl- atoms and protein molecules that make yarn. So, the Na+ and Cl- atoms in the water would be
          more attracted to the yarn coated with NaCl.
        </div>
      </form>
    </div>

{% endblock %}
            
{% block toc %}
<div class="nav-toc-container">
      <h3>Table of Contents: Absorption unit</h3>
      <ul>
        <li><a href="#top" onclick="tocPageJump(1)">Definition of Absorption</a></li>
        <li><a href="#top" onclick="tocPageJump(2)">Role of Electric Charges in Absorption</a></li>
        <li><a href="#top" onclick="tocPageJump(3)">Absorption of Water by Different Materials</a></li>
        <li><a href="#top" onclick="tocPageJump(4)">Water Temperature &amp; Absorption</a></li>
        <li><a href="#top" onclick="tocPageJump(5)">Questions about Salt "growth" on yarn in water</a></li>
        <li><a href="#top" onclick="tocPageJump(6)">Salt "growth" on yarn in salt water</a></li>

      </ul>
    </div>
{% endblock %}
                