---
title: "Help"
permalink: /brm/help/index.html
---
            
{% extends "brm.njk" %}
            
{% block page_content %}
            
    <h1>Help</h1>

    <p class="font-trebuchet text-lg text-centered">
      <i>
        The video below will show you how to search for information for your research question.
       <br/>
        Click anywhere on the screen below to begin. (You can click on the screen to pause at any point.) 
      </i>
    </p>

    <div class="text-centered">
      <video controls="" height="510">
        <source src="ISP_Tutor's_Background_Research_Module_Tutorial.mp4" type="video/mp4"/>
      </video>
    </div>


    <p class="font-trebuchet text-lg text-centered">
      <i>You can also pause and rewind the video using the controls above. </i>
    </p>

  
{% endblock %}
