---
title: "Food"
permalink: /brm/food/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>What Plants Need to Grow</h1>

<div class="page" id="page1">
      <p>
        <b>Have you ever wondered how things grow?</b> Matter cannot be created out of nothing. So,
        for plants and animals (including people) to grow and to replace cells that have died,
        the plants/animals need to take in matter. Where does this matter come from?
      </p>

      <img alt="leaf_tree_penguinmotherandchick" class="img-centered" src="BRMImages.png"/>
      <br/>

      <p>
        The number one MAJOR source of materials for plants to grow is carbon dioxide, which plants get from the air!
        <b>Most of the atoms that plants are made of come from carbon dioxide molecules in the air</b> that become
        different types of molecules during
        <a class="brm-link" href="../chemicalvs-physicalreactions/" target="_blank">chemical reactions</a>
        in <a class="brm-link" href="../photosynthesis/" target="_blank">photosynthesis</a>!
      </p>

     <br/>
    </div>

<div class="page" id="page2">
      <p>
        <b>What else (besides CO<sub>2</sub> and water) do plants need to grow?</b> Another source of matter for plants
        is minerals (made of atoms/molecules) that plants get from the soil. These minerals that plants take in will
        help build the new cells in plants. These minerals also provide some of the energy needed to make different
        kinds of cells in plants.
      </p>

      <ul class="brm-list">
        <li>
          The Main nutrients plants need from soil (and often in fertilizers) are the elements: <b>Nitrogen(N)</b>;
          <b>Phosphorus (P)</b>; <b>Potassium (K)</b>. These minerals are commonly found in fertilizers you can buy
          in stores.
          <ul class="brm-list nested-list">
            <li>
              Nitrogen (N) is a gas at temperatures on Earth. Because of this, the Nitrogen in fertilizers must be
              bonded with other atoms in the form of a molecule (otherwise, it would just escape from the fertilizer
              into the air due to its lower density). Some common molecules in fertilizer that contain Nitrogen are
              Nitrate, NO<sub>3</sub> and Nitrate Nitrogen, which is just Nitrate with another Nitrogen atom:
              NO<sub>3</sub>-N.
            </li>
            <li>
              Similarly, Phosphorus (P) in fertilizer is in the form of P<sub>2</sub>O<sub>5</sub>.
            </li>
            <li>
              And Potassium (K) is in the form K<sub>2</sub>O (called potash).
            </li>
          </ul>
        </li>
      </ul>

      <br/>
      <img alt="Plant_diagram" src="Plantbrmminerals.png"/>
      <br/>
      <br/>
      <br/>

      <p>
        Nutrients in soil, including the elements Nitrogen (N), Phosphorus (P), and Potassium (K), dissolve in water
        when it rains and are able to enter the roots of the plant. These nutrients travel to different parts of the
        plant, including the stem, leaves, and branches, where they are used by the plants as materials and energy to
        build and repair cells.
      </p>
      <p>
        <b>Carbon dioxide</b> from the air is a very important part of plants. Many people do not realize that most
        of the atoms that make up plants come from carbon dioxide in the air!
      </p>

    </div>

<div class="page" id="page3">

      <p><b>What do these minerals (N, P, and K) do?</b></p>

      <ul class="brm-list">
        <li>
          <b>Nitrogen (N)</b> is used by plants for <b style="color:rgb(153,51,102)">growth</b>. Nitrogen also helps
          give plants their <b style="color:rgb(0,176,80)">green color</b>.

          <ul class="brm-list nested-list">
            <li>
              <b>Nitrogen</b> isvimportant because it is a part of <b>chlorophyll</b>molecules. A chlorophyll molecule is:
              <span style="color:rgb(34,34,34)">
                C<sub>55</sub>H<sub>72</sub>O<sub>5</sub><b>N</b><sub>4</sub>Mg;
              </span>
              it has 55 Carbon atoms, 72 Hydrogen atoms, 5 Oxygen atoms, 4 Nitrogen atoms, and one Manganese atom.
              Chlorophyll is the molecule that sunlight hits and gives energy to produce sugars from water and carbon
              dioxide (i.e., photosynthesis) in chemical reactions. Chlorophyll is what gives plants their 
              <span style="color:rgb(0,176,80)"><b>green color</b></span>. 

              <ul class="brm-list nested-list">
                <li>
                  But, most of a chlorophyll molecule is made of Carbon and Hydrogen atoms! (You need 55 Carbon atoms
                  and 72 Hydrogen atoms for just one chlorophyll molecule!) Where does the Carbon and Hydrogen atoms
                  come from? As you may have guessed, Carbon comes from CO<sub>2</sub> in the air. And the Hydrogen
                  atoms come from water (H<sub>2</sub>O)!
                </li>
              </ul>
            </li>
            <li>
              Nitrogen is also a major component of amino acids, the building blocks of proteins. (Proteins are very
              important complex molecules that do most of the work in cells and are required for the structure,
              function, and regulation of the organism’s tissues and organs.)
            </li>
          </ul>
         <br/><br/>
        </li>
        <li>
          <b>Phosphorus (P)</b> is used by plants to help form new <b style="color:rgb(153,51,102)">roots</b>,
          make <b style="color:rgb(153,51,102)">seeds</b>, <b style="color:rgb(153,51,102)">fruit</b> and 
          <b style="color:rgb(153,51,102)">flowers</b>. It's also used by plants to help fight disease. In addition...

          <ul class="brm-list nested-list">
            <li>
              Phosphorus (along with Oxygen) form phosphate molecules in ATP. ATP (Adenosine Tri-Phosphate) is a key
              source of energy for plants and animals. ATP breaks apart glucose in a very complicated series of chemical
              reactions. The end result of these reactions is to produce more ATP, which provides the energy to make
              various parts of plants, including leaves, flowers, seeds, etc. So, ATP and glucose react to form more ATP!
              This is how important ATP is for life! Because ATP is so important, we talk about it more below.
            </li>
          </ul>
         <br/><br/>
        </li>
        <li>
          <b>Potassium (K)</b> helps plants make strong <b style="color:rgb(153,51,102)">stems</b> and
          <b style="color:rgb(153,51,102)">grow fast</b>. It's also used to help fight disease. In addition:

          <ul class="brm-list nested-list">
            <li>
              <b>Potassium</b> helps control the opening and closing of little holes called stomata (see
              <a class="brm-link" href="../vascular-plants/" target="_blank">Vascular plants</a>
              unit for more information on stomata), and therefore controls how much CO<sub>2</sub> enters and leaves
              the plants. CO<sub>2</sub> is necessary for
              <a class="brm-link" href="../photosynthesis/" target="_blank">photosynthesis</a>
              to occur.
            </li>
            <li>
              <b>Potassium</b> also triggers the activation of enzymes (molecules that help speed up chemical reactions).
              Potassium is also essential for the <i>production</i> of the molecule Adenosine Triphosphate (ATP). 
            </li>
          </ul>
        </li>
      </ul>

      <br/>

    </div>

<div class="page" id="page4">
      <p>
        <b>Sources of Energy in Plant/Animal Cells</b>
      </p>
      <p>
        Where exactly do plants and animals get the energy to repair cells and build new cells? Remember that energy is
        <b>not</b> a different kind of substance from the different types of atoms in the periodic table. Energy is (a)
        the actual motion of <i>particles</i> (atoms, molecules) or (b) the potential for greater motion of particles.
      </p>
      <p>
        <b>ATP molecules.</b> A key source of energy is the molecule ATP
        (C<sub>10</sub>H<sub>16</sub>N<sub>5</sub>O<sub>13</sub>P<sub>3</sub>), 
        Adenosine Tri-Phosphate. ATP is critical for plants and animals in performing cellular work such as repairing
        cells and building new ones, including leave, flower, and seed cells. 
      </p>

      <ul class="brm-list">
        <li>
          But, how does ATP "make energy"? To answer, we must first see what ATP molecules are made of. As shown below,
          ATP is made of three parts: adenine, ribose, and a phosphate group. The adenine and ribose parts of ATP are
          together called adenosine.
        </li>
        <li>
          The key part of the ATP are the three phosphates, PO<sub>4</sub> (shown on the right side of each of the
          three figures below, which are different ways to represent the ATP molecule). The last phosphate on ATP
          breaks away from the rest of the molecule (which is now ADP, or Adenosine Di-Phosphate, because it only has
          two phosphate molecules).
         <br/>
         <br/>
          <ul class="brm-list nested-list">
            <li>
              Some of this lone phosphate's electrons move to a lower
              <a class="brm-link" href="../atoms-molecules/" target="_blank">energy level</a>
              as a result of the phosphate breaking its bond in ATP. Because
              <a class="brm-link" href="../energy-general/" target="_blank">energy must be conserved</a>
              , this phosphate gains kinetic energy, or moves around faster. This
              <a class="brm-link" href="../kinetic-and-potential-energy/" target="_blank">kinetic energy</a>
              due to motion can cause chemical reactions in plants and animals that require energy for the reaction
              to take place.
            </li>
          </ul>
        </li>
        <li>
          The kinetic energy from the last phosphate that has broken from the ATP (now ADP) molecule is also used by
          plants and animals to move other materials in and out of cells (and in animals, to make muscles contract!).
        </li>
      </ul>

      <br/>
      <img height="167" src="ATP_abstract.png" width="400"/>
      <img alt="ATP" height="262" src="ATP.GIF" width="400"/>
      <img alt="phosphate" height="250" src="revisedphosphate2.png" width="400"/>
     <br/><br/>
      <!--<br/><br/><br/><br/><br/><br/><br/><br/> -->


      <form class="quiz_choice quiz">
        <b>Q1: Which of the following is the most accurate explanation for the role of glucose in plant growth?</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) Glucose makes parts of the plant (stems, leaves, roots, etc.)</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) ATP makes glucose molecules. Glucose molecules provide the energy (due to their motion) to
          make parts of the plant.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">c) Glucose and ATP react to form lots of ATP. ATP molecules break into a phosphate molecule
          and ADP molecule. The phosphate molecules provide energy (due to their motion) to make parts of the plant.
        </div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) I really don't know. This is confusing!</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! Glucose is not the DIRECT source of energy for making parts of the plant. Glucose molecules are
          important because they react with ATP molecules to make even more ATP molecules. ATP molecules are the DIRECT
          source of energy for making parts of the plant, like the seeds, petals, etc. (c) is the correct response.
          This energy from motion comes from the phosphate molecule (PO<sub>4</sub>) breaking from the ATP molecule.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, glucose is not the DIRECT source of energy for making parts of the plant. Glucose molecules are
          important because they react with ATP molecules to make even more ATP molecules. ATP molecules are the DIRECT
          source of energy for making parts of the plant, like the seeds, petals, etc. This energy from motion comes
          from the phosphate molecule (PO<sub>4</sub>) breaking from the ATP molecule. So, (c) is the correct response.
        </div>
      </form>

     <br/><br/>
    </div>

{% endblock %}
            