---
title: "Isaac Newton"
permalink: /brm/isaacnewton/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Isaac Newton</h1>

<div class="page" id="page1">
      <p>
        <b>ABOUT SIR ISAAC NEWTON</b>
      </p>
      <p>
        Have you ever wondered why an apple falls straight down to the ground? Or perhaps you've wondered why a
        rainbow has seven different colors? If you have, you're in good company. Sir Isaac Newton wondered about
        these things also. In fact, because of his curiosity, we understand the theory of gravity, the laws of
        motion and even color! 
      </p>
      <div style="display:block;text-align:left">
        <img height="200" src="isaac-newton-3936704_1280.png" style="display:inline;float:left;margin:5px 10px 0px 0px" width="187"/>
      </div>

      <div style="text-align:left">
        <p class="text-justify">
          Sir Isaac Newton was born in Lincolnshire, England in the year 1643. He was a multifaceted person, which
          means he had <i>many</i> talents. He was a scientist, an inventor, a writer, a scholar, a mathematician
          and more. Although many of his contributions to the world are notable, one of his most known contributions
          is related to gravity and motion.
        </p>
        <p class="text-justify">
          Newton’s Laws of Motion (of which there are three), were published in a book he wrote called the
          <i>Mathematical Principles of Natural Philosophy</i> (Philosophiae Naturalis Principia Mathematica) in 1687.
          The ideas in this book have helped to shape the way we understand the world today. They also serve as a
          foundation for many of the sciences, such as Physics. 
        </p>
      </div>
     <br/>
     <br/>
      <div style="background-color:ghostwhite;padding:20px">
        <p class="text-centered">
          <i>The Color Wheel</i>
        </p>
        <img class="img-centered" height="246" src="Boutet_1708_color_circles.jpg" width="320"/>

        <p>
          Another one of Newton's important discoveries is related to color. If you've ever seen a color wheel or
          heard of primary colors, then you are familiar with one of Newton's discoveries. Newton studied the colors
          of the rainbow and light using prisms. These visible colors, red, orange, yellow, green, blue, indigo
          and violet, which can be remembered as "ROY G BIV," form the color wheel. Check out the
          <a href="../light-reflection-color/index.html"><b>Light reflection &amp; Color unit</b></a>
          for more information. 
        </p>
        <p>
          These are just a couple of Newton's notable accomplishments. He made <i>many</i> other discoveries and
          contributed to the world we know today in profound ways. 
        </p>
      </div>

    </div>

{% endblock %}
            