---
title: "Temperature"
permalink: /brm/temperature/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Temperature</h1>

<div class="page" id="page1">
      <p>
        The temperature of an object is defined as the average (translational) kinetic energy of its particles (molecules
        and atoms). The kinetic energy of each particle is related to both the mass of the particle and the speed of the
        particle.
      </p>
      <p class="text-centered">
        Kinetic energy is defined as: KE (particle) = 1/2*m*v<sup>2</sup>
      </p>
      <p>
        The temperature of an object is defined as the average of (1/2*m*v<sup>2</sup>) for all of the object's
        particles.
      </p>
      <p>
        So, if something causes the particles of an object to start moving around faster, the temperature increases.
        But if something causes the particles of an object start to slow, the temperature decreases.
      </p>
    </div>

<div class="page" id="page2">

      <p>
        As shown below, when an object's particles move around faster, the object is at a higher temperature (Time 1).
        When they move around more slowly, the object is at a lower temperature (Time 2).
        (The particles stay the same size though.)
      </p>

      <img class="img-centered" src="ThermalEnergyGif9-25.gif"/>

    </div>

<div class="page" id="page3">
      <p>
        Temperature is measured in degrees <b>Celsius</b> or <b>Fahrenheit</b>. In the United States, we mostly
        use Fahrenheit. But in science (and most of the rest of the world), the standard unit is Celsius.
      </p>
      <p>
        In Fahrenheit, water freezes at 32 degrees and boils at 212 degress.
      </p>
      <p>
        But in Celcius, water freezes at 0 degrees and boils at 100 degrees. (This is pretty easy to remember, right?)
      </p>
      <p>
        The Fahrenheit and Celcius scales in the range of water freezing and boiling are shown on a number line below:
      </p>

     <br/>
      <img class="img-centered" src="FarToCel.png"/>
     <br/>

      <p class="text-centered">
        To summarize: degrees C = (°F - 32)*100/180
      </p>
      <p class="text-centered">
        Simplifying the fraction: °C = (°F - 32)*5/9
      </p>

    </div>

{% endblock %}
            