---
title: "Orbitals of Electrons in Atoms"
permalink: /brm/orbitals/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Orbitals of Electrons in Atoms</h1>

<div class="page" id="page1">
      <p>
        Electrons in atoms can't be just anywhere. Orbitals show where the electrons in atoms are "allowed" to be. 
        The picture shows the different orbitals electrons can have (called s, p, d, and f).
        These different orbitals are shown for different energy circles (1, 2, 3, and 4).
        The lowest energy circle is 1 (electrons in this first energy circle have the lowest total energy). Electrons
        have more energy as the number of the energy circle increases.
      </p>
      <p>
        You don't have to understand all of this. The point in showing this is so you can see how much
        more complicated orbitals are than Energy circles — which again (this is important to understand!)
        just represent the amounts of energy of the electrons and <i>not</i> how they move around the
        nucleus.
      </p>

      <div style="float:left;margin:5px 10px 0px 0px">
        <figure>
          <img alt="orbital" src="orbital.png" style="border:1px solid black"/>
          <figcaption>
            <small>Source:Geek3 / CC BY-SA (https://creativecommons.org/licenses/by-sa/4.0)</small>
          </figcaption>
        </figure>
      </div>
      <br/>

      <p>
        As you can see, the "s" orbital increases in size with increasing energy level (from 1 to 4).
        This is because the orbitals are farther from the nucleus.
      </p>
      <p>
        You may also notice that the "s" orbital is the simplest one. It is more or less spherical.
      </p>
      <p>
        The rest of the orbitals are crazier.
      </p>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

      <p>
        (Go back to
        <a class="brm-link" href="../atoms-molecules/" target="_blank">Atoms unit</a>.)
      </p>
      <p>
        (Go back to
        <a class="brm-link" href="../energy-levels-of-elements/" target="_blank">Energy levels of elements</a>
        unit.)
      </p>

    </div>

{% endblock %}
            