---
title: "Glossary"
permalink: /brm/glossary/index.html
---
            
{% extends "popup.njk" %}
            
{% block page_specific_style %}
<style>
        dt {
            font-weight: bold;
        }

        dd {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}
            
{% block page_content %}
            
    <dl>

        <dt id="glossary_absorb">Absorb</dt>
        <dd>
            When a material takes in a substance or energy. An example of absorption is a cotton cloth taking in spilled
            water or a tar road absorbing sunlight (and becoming hotter).
        </dd>

        <dt id="glossary_atom">Atom</dt>
        <dd>
            The basic unit of matter also known as the "building blocks" of matter. Atoms have a nucleus, which is made
            of protons and neutrons, and electrons that orbit around the nucleus.
        </dd>

        <dt id="glossary_atomic number">Atomic number</dt>
        <dd>
            The number of protons in the nucleus of an atom. You can identify the element of an atom based on how many
            protons it has.
        </dd>

        <dt id="glossary_atomic mass">Atomic Mass</dt>
        <dd>
            The number of protons and neutrons in the nucleus of the atom.
        </dd>

        <dt id="glossary_boiling point">Boiling Point</dt>
        <dd>
            The temperature at which a liquid substance changes to a gas or vapor substance. At this point, the
            molecules of the liquid
            substance are moving around fast enough to break free from their bonds with other molecules, becoming a
            gaseous substance.
            This point is different for every substance but the most commonly known boiling point is the boiling point
            for water, at
            100°C or 212°F.
        </dd>

        <dt id="glossary_buoyancy">Buoyancy</dt>
        <dd>
            The ability of an object to float or rise in a fluid (either a liquid or gas).
        </dd>


        <dt id="glossary_buoyancy_force">Buoyancy Force</dt>
        <dd>
            The force that arises from the pressure of the molecules of a fluid (either glass or liquid) pushing on the
            object in the fluid.
        </dd>

        <dt id="glossary_catalyst">Catalyst</dt>
        <dd>
            A material that speeds up a chemical reaction. An example of a catalyst is an enzyme, produced by living
            organisms
            to cause a chemical change in the plant or animal.
        </dd>

        <dt id="glossary_cause">Cause</dt>
        <dd>
            To make something happen. For example, in a cause and effect relationship, one event causes another to
            happen.
            The cause is why it happened, and the effect is what happened.
        </dd>

        <dt id="glossary_chemical">Chemical</dt>
        <dd>
            A substance that is made of just one type of atom or molecule. For example, water is a chemical,
            made of H2O molecules (two atoms of hydrogen and one atom of oxygen).
        </dd>


        <dt id="glossary_chemical_equation">Chemical Equation</dt>
        <dd>
            A way to represent a chemical reaction using element symbols (found in the Periodic table). Chemical
            equations have two sides: the
            reactant side and the product side. For example, two oxygen atoms (reactant) may react to form a product: an
            oxygen molecule: O + O → O2.
        </dd>


        <dt id="glossary_chemical_reaction">Chemical Reaction</dt>
        <dd>
            A process in which substances and their molecules change into other substances with a different set of
            molecules.
            For example, in photosynthesis, [carbon dioxide + water] react to each other to change into new substances
            [a sugar called glucose + oxygen].
        </dd>

        <dt id="glossary_controlv">Control v.</dt>
        <dd>
            As a verb, control means to make all the variables you are not testing the same across
            the experimental conditions. This way, you can "control" that variable so it does not affect the outcome of
            the experiment.
        </dd>

        <dt id="glossary_controln">Control n.</dt>
        <dd>
            As a noun, the control condition is the condition that is the "usual" way things are. For example, if you're
            testing whether
            fertilizer you usually give them. In a medical experiment, the control condition would be people who do not
            take the medicine you're testing.
        </dd>

        <dt id="glossary_correlation">Correlation</dt>
        <dd>
            The relationship between two variables, where increases in one variable are associated with increases or
            decreases in the other
            variable. However, changes in one variable may or may not cause changes in the other variable. For example,
            you may keep a record
            of the temperature and your mood and find that you tend to feel happier on days when the weather is warmer.
            But you can't be sure
            that the outside temperature causes you to feel more or less happy. (Something else could be affecting your
            mood.)
        </dd>


        <dt id="glossary_crystals">Crystals</dt>
        <dd>
            A special kind of solid material where the molecules "fit" together in a repeating pattern. The repeating
            patterns cause unique shapes. An example of common crystals are sugar and salt.
        </dd>


        <dt id="glossary_crystallization">Crystallization</dt>
        <dd>
            The forming of organized patters of atoms or molecules. For example, to see which type of ice cream people
            prefer, you can count the number of people at an ice cream shop who order chocolate ice cream, vanilla ice
            cream, or vanilla twist ice cream.
        </dd>


        <dt id="glossary_data">Data</dt>
        <dd>
            Information known about a subject/topic or information gathered to answer a (research) question.
        </dd>

        <dt id="glossary_decrease">Decrease</dt>
        <dd>
            To become less or fewer in size, number, or frequency.
        </dd>

        <dt id="glossary_density">Density</dt>
        <dd>
            The mass of a substance divided by its volume (D = m/v). The mass of atoms, their size, and how close to
            each other they are
            determines the density of a substance.
        </dd>

        <dt id="glossary_dependent_variable">Dependent Variable</dt>
        <dd>
            The variable that might be affected by (or might depend on) the variable that is being tested.
            For example, if you want to know if the amount of light affects plant growth, the change in the plant's
            height is the dependent (or outcome) variable.
        </dd>


        <dt id="glossary_dissolve">Dissolve</dt>
        <dd>
            When a solid substance breaks up into smaller particles and spreads throughout a liquid. For example, sugar
            or salt dissolve in water.
        </dd>

        <dt id="glossary_electric_charge">Electric Charge</dt>
        <dd>
            A property that cases protons and electrons to experience a force (sensibly called the "electric force" when
            another proton or electron is nearby).
        </dd>


        <dt id="glossary_electric_force">Electric Force</dt>
        <dd>
            The force between electrons and protons and other electrically charged particles.
        </dd>

        <dt id="glossary_electron">Electron</dt>
        <dd>
            A negatively charged particle that surrounds the nucleus of the atom.
        </dd>

        <dt id="glossary_elements">Elements</dt>
        <dd>
            Different types of atoms. Each element is made up of their own numbers of protons, neutrons, and electrons.
            For example, H (hydrogen), O (oxygen), Na (sodium), and Cl (chlorine) are all different elements.
        </dd>

        <dt id="glossary_endothermic_reaction">Endothermic reaction</dt>
        <dd>
            A reaction that needs energy (light or thermal) from the environment for the reaction to occur. Examples of
            endothermic reactions: ice melting, water evaporating, and photosynthesis, which requires light energy to
            occur.
        </dd>

        <dt id="glossary_energy">Energy</dt>
        <dd>
            In simple terms, energy is related to the amount of motion of an object. When an object moves around faster,
            it has more (kinetic) energy than when it moves slower.
        </dd>

        <dt id="glossary_evaporation">Evaporation</dt>
        <dd>
            The process of a liquid substance changing to a gas or vapor (notice "vapor" in "e-vapor-ate," which means
            to become a vapor).
        </dd>

        <dt id="glossary_exothermic_reaction">Exothermic reaction</dt>
        <dd>
            A reaction that needs energy (light or thermal energy). Examples of exothermic reactions are any form of
            combustion such as fire.
        </dd>

        <dt id="glossary_fluid">Fluid</dt>
        <dd>
            The matter in either a liquid of gas state.
            Particles of fluids move around freely and have no fixed shape (they take the shape of the container they
            are in).
        </dd>

        <dt id="glossary_fluid">Force</dt>
        <dd>
            Pushes or pulls on objects, caused by either contact with another physical object or by a force from a distance (such as the electric force or gravity).
        </dd>

        <dt id="glossary_freezing_point">Freezing Point</dt>
        <dd>
            The temperature at which a liquid becomes a solid. For water, the freezing point is 0°C or 32°F.
        </dd>

        <dt id="glossary_friction">Friction</dt>
        <dd>
            A force that resists motion and is caused by objects rubbing against each other. Anytime two objects rub
            against each other, they cause friction, making objects slow down when sliding on a surface.
        </dd>

        <dt id="glossary_gas">Gas</dt>
        <dd>
            A state of matter where atoms are moving freely, bumping into each other and changing directions. Gases have
            no definite shape or volume, and they take the shape of the container they are in.
            For example, think of inflating a balloon: the matter inside the balloon is the gas.
        </dd>

        <dt id="glossary_increase">Increase</dt>
        <dd>
            To become greater in size, frequency, or number.
        </dd>

        <dt id="glossary_independent_variable">Independent Variable</dt>
        <dd>
            The variable that is being tested in an experiment. The experimenter changes this to see if it affects an
            outcome.
            For example, you may want to see if the amount of fertilizer affects how tall plants grow. So, the amount of
            fertilizer is the
            independent variable in your experiment. You would need to use different amounts of fertilizer to see if it
            affects plant growth.
        </dd>

        <dt id="glossary_ion">Ion</dt>
        <dd>
            An atom that has either lost or gained one or more electrons, giving the atom a "net" electric charge.
            For example, an atom of Na (sodium) often loses on one electron, making it an ion with a "net" charge of -1.
            This ion is written as Cl-.
            It has a negative charge because it now has one more electron (-) than proton (+).
        </dd>

        <dt id="glossary_kinetic energy">Kinetic Energy</dt>
        <dd>
            The amount of energy an object that is due to its motion. Objects have more kinetic energy when they are
            moving faster than slower.
        </dd>

        <dt id="glossary_liquid">Liquid</dt>
        <dd>
            A state of matter where the atoms slither past each other like slippery marbles. Although liquids have a
            definite mass and volume, they do not have a definite shape.
        </dd>

        <dt id="glossary_mass">Mass</dt>
        <dd>
            The amount of matter (protons, neutrons, and electrons) an object has. Objects have the same mass in outer
            space as on the earth
            or anywhere else.
        </dd>

        <dt id="glossary_melting_point">Melting Point</dt>
        <dd>
            The temperature at which a solid becomes a liquid. For water, the melting point is 0°C or 32°F.
        </dd>

        <dt id="glossary_molecular_attraction">Molecular Attraction</dt>
        <dd>
            The physical attraction of molecules to each other (often due to electric force).
        </dd>

        <dt id="glossary_molecule">Molecule</dt>
        <dd>
            A group of atoms bonded (or held) together. A molecule can be made of atoms of the same
            element, such as O2, or can be made of atoms of different elements, such as H2O. Another example of a
            molecule is NaCl,
            which is made of one Na (sodium) atom and one Cl (chlorine) atom.
        </dd>


        <dt id="glossary_nucleus">Nucleus</dt>
        <dd>
            The part of atoms that is made of protons and neutrons.
        </dd>

        <dt id="glossary_nucleation">Nucleation</dt>
        <dd>
            The process of molecules starting to gather together.
            For example, molecules gather to form crystals, air bubbles, or water droplets.
        </dd>

        <dt id="glossary_neutron">Neutron</dt>
        <dd>
            One type of particle in the nucleus of atoms. Neutrons have no electric charge.
        </dd>

        <dt id="glossary_periodic_table_of_elements">Periodic Table of Elements</dt>
        <dd>
            A chart that contains information about all the different types of
            atoms (or different elements) that make up matter.
        </dd>

        <dt id="glossary_photosynthesis">Photosynthesis</dt>
        <dd>
            The process plants use to create food by using light energy, carbon dioxide, and
            water. This process is necessary for growth, and continues throughout the life
            cycle of the plant.

            The equation for photosynthesis is as follows: 6CO2 + 6H2O + light energy → C6H12O6 + 6O2. This
            means that six molecules of carbon dioxide (CO2) combine with six molecules of
            water (H2O) in the presence of light energy to produce a sugar molecule and six
            molecules of oxygen.

        </dd>

        <dt id="glossary_physical_reaction">Physical Reaction</dt>
        <dd>
            This occurs when molecules stay the same (they don’t change into different types of
            molecules), but something else changes (such as where the molecules are).

            Examples of physical reactions occurring are water freezing into ice, and ice melting into water.
            Another example is a sugar cube dissolving in water, where the sugar molecules
            break away from the cube and spread into the water.
        </dd>


        <dt id="glossary_plasma">Plasma</dt>
        <dd>
            The fourth state of matter where particles move even faster and more freely than
            gas. This occurs when a lot of energy is added to a gas. Electrons break away from atoms and move around
            freely.
        </dd>


        <dt id="glossary_products">Products</dt>
        <dd>
            A substance that is produced as a result of a chemical reaction. For example, using the
            analogy of making cookies, once you combine and bake the ingredients (sugar,
            eggs, and flour), the product is the cookies you made.
        </dd>

        <dt id="glossary_protein">Protein</dt>
        <dd>
            Large, complex molecules that play many critical roles in plants and animals. For example, in plants,
            proteins make up cell walls. In animals, proteins help to build muscles.
        </dd>

        <dt id="glossary_proton">Proton</dt>
        <dd>
            A particle in the nucleus of the atom that has a positive electric charge.
        </dd>

        <dt id="glossary_qualitative_data_variables_from_quality">
            Qualitative data/variables (from QUALITY)
        </dt>
        <dd>
            Data that is not in a numerical (number) form.
            Qualitative data can be different types of things that differ in more than just
            quantity/amount (e.g., different animals; different types of music; different
            textures).
        </dd>

        <dt id="glossary_quantitative_data_variables_from_quantity">
            Quantitative data/variables (from QUANTITY)
        </dt>
        <dd>
            Numerical (number) data. Quantitative data can
            be measurements (e.g., weight, volume, softness of a material) or counts (e.g.,
            the number of words you can remember; number of seeds that flowers produce).
        </dd>


        <dt id="glossary_reactants">Reactants</dt>
        <dd>
            Substances that react with each other to make the product. For example, using the
            analogy making cookies, the reactants are the ingredients (sugar, eggs, and
            flour) you put in together to make the product (baked cookies).
        </dd>

        <dt id="glossary_saturation_point">Saturation point</dt>
        <dd>
            The point when you are adding a substance to a liquid when no more of the substance
            can dissolve in the liquid (such as water). For example, if you keep
            adding Kool Aid mix (the solute) to water (the solvent) in a glass, after the
            saturation point, you will notice the mix start building up on the bottom of
            the glass. This is because there is too much mix to dissolve in the water.

        </dd>

        <dt id="glossary_seed">Seed (noun)</dt>
        <dd>
            A plant embryo surrounded by a protective covering (shell). Under the right conditions (temperature, water,
            sunlight),
            the plant embryo will grow into a small plant (seedling).

        </dd>

        <dt id="glossary_solid">Solid</dt>
        <dd>
            A state of matter where the atoms or particles are tightly packed or vibrate in place. Solids
            have a definite shape, mass, and volume. Examples of matter in
            a solid state at room temperature are rocks, most metals, and ice.
        </dd>


        <dt id="glossary_solubility">Solubility</dt>
        <dd>
            The ability of a substance (the solute), to mix into a liquid (the solvent).
        </dd>

        <dt id="glossary_solute">Solute</dt>
        <dd>
            A substance that can be dissolved by a solvent to create a solution. A solute can come in many
            forms. It can be gas (such as CO2), liquid, or solid (salt/sugar). For example, when
            dissolving salt in water, the salt (solute) is dissolved in water (solvent) to
            create salt water (solution).
        </dd>

        <dt id="glossary_solution">Solution </dt>
        <dd>
            A mixture in which the solute and solvent are spread out evenly.
            The concentration of the solute is the same throughout the liquid.
        </dd>

        <dt id="glossary_solvent">Solvent</dt>
        <dd>
            The substance (usually a liquid) in which another material dissolves. For example, water is a
            common solvent for chemical and physical reactions.
        </dd>


        <dt id="glossary_states_of_matter">States of matter</dt>
        <dd>
            Matter exists in one of these states: SOLID, LIQUID, GAS or PLASMA. They exist in
            these different states, depending on the temperature of the matter. As
            temperature increases, materials change from solid to liquid to gas states. For example, as the
            temperature of water increases, it can melt from the original ice (solid) to
            water (liquid), and evaporate to vapor (gas). Plasma is higher-energy than the
            other states and is rarely found here on Earth.
        </dd>

        <dt id="glossary_stomata">Stomata</dt>
        <dd>
            The pores (little holes or openings) found on the stems, leaves and other plant parts
            that control gases (such as CO2 and O2) moving in and out of the plant. As
            gases filter through the stomata, photosynthesis can take place.
        </dd>

        <dt id="glossary_sublimation">Sublimation</dt>
        <dd>
            The process of solid substance turning into a gaseous state.
        </dd>

        <dt id="glossary_temperature">Temperature</dt>
        <dd>
            In everyday terms, temperature is how hot or cold something is. You measure temperature
            using a thermometer.
            <br/><br/>
            Scientifically, the temperature of an object has to do
            with how fast its particles (atoms; molecules) are moving around: the
            faster the particles are moving, the higher the object’s temperature is.
        </dd>

        <dt id="glossary_thermal_energy">Thermal energy</dt>
        <dd>
            The total amount of energy of an object that is due to the movement of all of the
            particles that make up the object. You can calculate the thermal energy of an
            object by adding the kinetic energies of all of the particles the object is
            made of.
            <br/> So, an object at a high
            temperature has more thermal energy than the same object when it is at a lower
            temperature.
            <br/>
            Also, for two objects
            made of the same material that are at the same temperature, the larger object
            will have more thermal energy than the smaller object. This is because it has
            more particles.
        </dd>

        <dt id="glossary_transpiration">Transpiration</dt>
        <dd>
            The loss of a plant's water to its environment through evaporation.
        </dd>

        <dt id="glossary_trial">Trial (in an experiment)</dt>
        <dd>
            Running the experiment once to get one measurement. For example, say you are trying to find out if the
            steepness of a ramp
            affects how fast balls roll. One trial of your experiment would be rolling the ball down the ramp (once) and
            measuring its speed.
            <br/>
            In any experiment, it is a good idea to run many trials.
        </dd>

        <dt id="glossary_variable">Variable</dt>
        <dd>
            A factor that has different amounts or types (it can be VARIED).
            <br/>
            For example, "fertilizer" can be a variable, which could be either different amounts or different types.
            You can give your plant different amounts of fertilizers or different types of
            fertilizers.
        </dd>

        <dt id="glossary_values">Values</dt>
        <dd>
            The different amounts or types of a variable.
            <br/>
            For example, values of the variable "temperature" include 0°C and 100°C. Or, values of the variable
            "types of music" could be hip hop, country, and rock.
            <br/>
            One synonym for "values" is "levels."
        </dd>

        <dt id="glossary_volume">Volume</dt>
        <dd>
            The amount of space an object takes up. If the object is hollow (or empty), its volume is the
            amount of water it can hold.
        </dd>

        <dt id="glossary_water_vapor">Water vapor</dt>
        <dd>
            Water (H<sub>2</sub>O) in the gas state. (Water in its solid state is ice, and water in its liquid state is
            liquid water.)
        </dd>

        <dt id="glossary_weight">Weight</dt>
        <dd>
            The amount of gravitational force pulling on an object. The weight of an object depends on
            the pull of gravity, and therefore changes depending on where the object is.
        </dd>

    </dl>




{% endblock %}
            