---
title: "Proportional relationships"
permalink: /brm/proportional-1/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Proportional relationships</h1>

<div class="page" id="page1">

      <p>
        Two types of relationships between variables are <b>proportional</b> relationships and
        <b>inversely proportional</b> relationships.
      </p>
      <p>
        <b>Proportional relationship.</b> In proportional relationships, when one variable is zero, the other is
        also zero. They increase together at a constant rate, resulting in a linear (line) relationship. 
        Proportional relationships can be written as:
      </p>
      <p class="text-centered">
        <b>y ∝ x</b>
      </p>
      <p>
        This is the same as saying:
      </p>
      <p class="text-centered">
        <b>y = (some number)*x</b>
      </p>
      <p>
        Examples of directly proportional relationships between variables:  
      </p>

      
        <img alt="Graph showing directly proportional relationships between variables" class="img-centered" src="PropRel.GIF" width="320"/>
  
     <br/>

      <p>
        In general form, the mathematical relationship for a <b>proportional relationship</b> between an
        independent variable (x) and dependent variable (y) is:
      </p>
      <p class="text-centered">
        <b>y = m*x</b>
      </p>
      <p class="text-centered">
        m is the slope (or steepness) of the line: the slope is constant
      </p>
      <p class="text-centered">
        <b>Examples of proportional relationships:  </b>
      </p>
      <p class="text-centered">
        Acceleration = (constant) * Force (net) 
      </p>
      <p class="text-centered">
        Distance = (constant speed) * time
      </p>
    </div>

<div class="page" id="page2">
      <p>
        <b>Inversely proportional relationship.</b> In inversely
        proportional relationships, the smallest values of one
        variable occur with the largest values of the other variable
        and vice versa. Inversely relationships can be written as:
      </p>
      <p class="text-centered">
        <b>y ∝ 1/x</b>
      </p>
      <p>
        This can be written as:
      </p>
      <p class="text-centered">
        <b>y = (some number, k)/x</b>
      </p>
      <p>
        Or,
      </p>
      <p class="text-centered">
        <b>y = k/x</b>
      </p>
      <p>
        Examples of inversely proportional relationships for different numbers (k's) are shown below. 
      </p>

      <a href="../proportional-1/InversePropRel.GIF?attredirects=0/index.html">
        <img alt="inverse proportion relationship" class="img-centered" height="326" src="InversePropRel.GIF" width="400"/>
      </a>
      <br/>

      <p class="text-centered">
        <b>Examples of inversely proportional relationships:</b>
      </p>
      <p class="text-centered">
        <b>y = k/x </b>
      </p>
      <p class="text-centered">
        Acceleration = (constant
            force) / mass
      </p>
      <p class="text-centered">
        Time = (constant distance) /
            speed
      </p>
    </div>

{% endblock %}
            