---
title: "Angiosperm Types"
permalink: /brm/angiosperm-types/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Angiosperms</h1>

<div class="page" id="page1">

      <p>
        <b>What are Angiosperms?</b> Angiosperms are
        <a class="brm-link" href="../vascular-plants/index.html" target="_blank">vascular</a>
        plants with flowers that produce seeds. The seeds are inside a protective layer (such as a fruit). An
        interesting fact about angiosperms is that they did not exist until after mammals had evolved. So, earlier
        mammals did not get to enjoy flowers like we do!
      </p>

      <img alt="flowers" class="img-centered img-size" src="SS_Flowers.PNG"/>

    </div>

<div class="page" id="page2">

      <p>
        <b>Types of Angiosperms.</b> As shown in the plant taxonomy tree below, there are two general types of
        Angiosperms: <b>Monocots and Dicots</b>:
      </p>

      <img alt="plant_category_diagram" class="img-centered img-size" src="PlantCategories_Final_cropped.png"/>
      <br/>

    </div>

<div class="page" id="page3">
      <p>
        <b>Monocots</b> are angiosperms whose seeds have only one leaf inside of the shell, called a cotyledon
        (pronounced "Kaw-ta-LEE-don"). (“Mono” means “one” and “cot” is short for “cotyledon.”) This cotyledon leaf is
        like a “starter” leaf that provides nutrients to the growing plant until the “final” leaves grow and start
        making food. The cotyledon shrivels and dies once that happens. Examples of monocots are grasses, tulips and
        lilies. Monocots have petals in multiples of three (3, 6, 9, etc.) with long slender leaves. Monocots tend to
        have fibrous roots, but the roots are not deep.
      </p>
      <p>
        <b>Dicots</b> are angiosperms with two seed leaves, or cotyledons. (“Di” means “two” and “cot” is short for
        “cotyledon.”) Some dicot angiosperms are roses, dandelions, sunflowers, and most of the flowers we see every
        day! Trees such as the maple and oak are dicots. Food plants like beans and apples are also dicots. These
        flowers have four or five petals (or multiples of four and five). Their leaves are usually wide with branching
        veins for carrying water. The picture below shows the development of a dicot (bean) plant from a seed to a
        young plant.
      </p>

      <img alt="Bean plant growth chart" class="img-centered img-size" src="PlantGrowth-Beans_BRM_final_cropped.jpg"/>

      <p>
        The picture above shows a “dicot” bean seed growing into a young bean plant. There are two “starter leaves,”
        or cotyledons, for bean plants. This is easiest to see in the two rightmost images.
      </p>

      <p>
        The diagram below shows differences between monocots and dicots, including the embryos, vein pattern in the
        leaves, stems, roots and flowers.
      </p>

      <img alt="Monocot_Dicot_Chart" class="img-centered img-size_med" src="RevisedMonocotDicotChart.jpg"/>

    </div>

{% endblock %}
            