---
title: "Periodic Table"
permalink: /brm/periodic-table/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Periodic Table of Elements</h1>

<div class="page" id="page1">

      <p>
        This periodic table shows the different types of atoms, or elements, that we know about. All elements have
        some mass (and so they also have some weight). Even the smallest element, hydrogen (H), has mass and weight.
        The masses of each element (in "atomic mass units" or "amu") are shown in the upper left corner of each box. 
        The atomic mass for each element is equal to the masses of the neutrons and protons for that element, where
        each proton and neutron is one amu. (If you're wondering why the masses aren't whole numbers,
        <a href="../atomic-masses-of-elements/" target="_blank"><b>click here</b></a>.)
      </p>
      <p>
        The different elements are defined by the (different) numbers of PROTONS they have. The number of protons
        for each element is shown in the upper RIGHT corner of each box. This is called the atomic number. For
        example Hydrogen (H) only has one proton. Helium (He) has 2 protons, etc. The number in the upper right
        corner of each box is also the number of ELECTRONS that element has (when the element has no net electric
        charge — or has the same number of protons and electrons).
      </p>

      <hr/>

      <img alt="Periodic Table" src="PeriodicTableRevised2019.jpg" style="width:100%"/>
      <hr/>
      <br/>

      <p class="text-m text-centered" style="color:#0b5394">
        <b>Learn more about element names and symbols by playing the Elements Memory Game below! </b>
      </p>
      <div class="text-centered">
        <iframe height="600" src="https://isp-tutor-project.github.io/demo/games/ElementsMemoryGame/" width="900">
        </iframe>
      </div>


    </div>

{% endblock %}
            