---
title: "Plant Reproduction Unit"
permalink: /brm/plants-1/index.html
---
            
{% extends "brm.njk" %}
            
{% block page_content %}
            
    <h1>Plant Reproduction Unit</h1>


    <h3 class="text-centered">Click the link below to go to the related instructional unit.</h3>
    <hr/>

    <ul class="brm-list list-no-bullets text-centered text-xl">
      <li><a class="brm-link" href="../taxonomy/" target="_blank">Taxonomy of Living Things</a></li>
      <li><a class="brm-link" href="../plants/" target="_blank">Plants</a></li>
      <li><a class="brm-link" href="../photosynthesis/" target="_blank">Photosynthesis</a></li>
      <li><a class="brm-link" href="../non-vascular-plants/" target="_blank">Non-Vascular Plants</a></li>
      <li><a class="brm-link" href="../algae/" target="_blank">Algae</a></li>
      <li><a class="brm-link" href="../vascular-plants/" target="_blank">Vascular Plants</a></li>
      <li><a class="brm-link" href="../seed-bearing-plants/" target="_blank">Seed-bearing plants</a></li>
      <li>
        <a class="brm-link" href="../angiosperm-types/" target="_blank">Angiosperm Types: Monocots &amp; Dicots</a>
      </li>
      <li><a class="brm-link" href="../angiosperm-reproduction/" target="_blank">Angiosperm Reproduction</a></li>
      <li><a class="brm-link" href="../angiosperm-pollination/" target="_blank">Angiosperm Pollinators</a></li>
      <li><a class="brm-link" href="../gymnosperms/" target="_blank">Gymnosperms</a></li>
      <li><a class="brm-link" href="../greenhouses/" target="_blank">Greenhouses</a></li>
      <li><a class="brm-link" href="../greenhouse-effect/" target="_blank">Greenhouse Effect</a></li>
      <li><a class="brm-link" href="../food/" target="_blank">What Plants Need to Grow</a></li>
    </ul>

  
{% endblock %}
