---
title: "Chemical vs. Physical Reactions/Processes"
permalink: /brm/chemicalvs-physicalreactions/index.html
---

{% extends "brm_unit.njk" %}

{% block page_content %}
            <h1>Chemical vs. Physical Reactions/Processes</h1>

<div class="page" id="page1">
      <p>
        <b>Types of processes (or reactions).</b> In your everyday life, you have seen many different kinds of natural
        processes. You've probably watched water boil, observed substances spread throughout water, like when you add
        food coloring to water or make Kool Aid or tea. Or you may have been impressed with "explosions" that result
        from combining different chemicals, such as combining mentos mints and soda/pop or vinegar and baking soda.
      </p>
      <br/>

      <img alt="egg_boiling_in_water_hottea_egg_cooking" class="img-centered img-size_700" src="chemphysexamples_cropped.jpg"/>

      <br/>
      <p>
        We can categorize these processes as either chemical processes or physical processes. The difference
        between chemical and physical processes is whether new substances are formed during the reaction process. 
      </p>
      <p>
        **The key difference between physical and chemical processes: In chemical processes, new substances are
        formed. But in physical processes, the substances remain the same.
      </p>

    </div>

<div class="page" id="page2">
      <p>
        <b>What are chemical vs. physical processes?</b> In chemical processes,
        <a class="brm-link" href="../molecules/" target="_blank">molecules</a> 
        break apart into atoms. The atoms re-combine with other atoms to form different molecules. But in
        physical processes, the molecules do not change. For example, a molecule of water is H<sub>2</sub>O.
        It has two Hydrogen atoms and one Oxygen atom. In the physical processes of freezing or boiling, the
        water molecules remain H<sub>2</sub>O. The Hydrogen and Oxygen atoms stay together.
      </p>
      <p>
        Signs of a possible chemical reaction include a change in color after the reaction. With a physical
        reaction, you may see a change in shape (such as when water freezes from a liquid into solid ice).
        But these signs are just general "rules of thumb" and there are exceptions.
      </p>

      <img alt="General_Characteristics_of_Chemical_and_Physical_Reactions" class="img-centered img-size" src="NewChemPhysProcessTable.GIF"/>

    </div>

<div class="page" id="page3">
      <p>
        <b>Chemical processes or chemical reactions.</b> In a chemical process, the original substances react with
        each other to form new substances. The new substances are made of different types of 
        <a class="brm-link" href="../molecules/" target="_blank">molecules</a>
        from the original substances. 
      </p>
      <p class="text-centered">Let's look at two examples
        of chemical reactions:
      </p>

      <img alt="water_boiling_on_gas_stove" class="img-centered" src="gas-flame-1452999_1920.jpg"/>

      <p>
        <b>Example #1:</b> When someone cooks on a gas stove, methane gas and oxygen react with each other to
        make the flame we see on the stove. (This is shown in the picture above.) Methane and oxygen react to
        produce two different types of molecules: carbon dioxide and water. This reaction is shown below:
      </p>

      <ul>
        <li>Methane molecule + 2 Oxygen molecules → Carbon Dioxide + Water</li>
      </ul>
      Or,
      <ul>
        <li>CH<sub>4</sub> + 2O<sub>2</sub> (Reactants) → CO<sub>2</sub> + 2H<sub>2</sub>O (Products)</li>
      </ul>

      <p>
        In this reaction, each CH<sub>4</sub> (methane) molecule breaks apart into one C (carbon) and four H
        (hydrogen) atoms. The C atoms join with two O (oxygen) atoms to form a new molecule, CO<sub>2</sub>
        (carbon dioxide). Also during the reaction, the hydrogen atoms join the other two oxygen atoms,
        forming water (H<sub>2</sub>O).
      </p>
      <p style="color:#0000ff">
        Since the products of the reaction (carbon dioxide and water) are <u>different</u> from the reactants
        (methane and oxygen), this is a chemical reaction.
      </p>

    </div>

<div class="page" id="page4">
      <p>
        <b>Chemical processes/reactions.</b> Any time you mix an acid with a base, a chemical reaction occurs. These
        reactions
        produce a salt and water.
      </p>

       <img alt="acid_base_graphic" class="img-centered img-size_700" src="acidbasechem_Good.jpg"/>

      <p>
        <b>Example #2.</b> If you mix hydrochloric acid (HCl), which of course is an acid, and sodium hydroxide
        (NaOH), which is a base, they react with each other and produce two different substances. These new
        substances are sodium chloride (NaCl), which is common table salt, and water (H<sub>2</sub>O). 
      </p>
      <p>
        This reaction is shown below:
      </p>
      <p>
        </p><li>HCl + NaOH (Reactants) → NaCl + H<sub>2</sub>O (Products)</li>
      <p></p>
      <p>
        During this reaction, the NaOH molecules break apart into Na, O, and H. The HCl molecules break
        apart into H and Cl atoms. 
      </p>
      <p>
        The Na and Cl atoms join to form NaCl.
      </p>
      <p>
        Also, the H atom joins the O and H to form H<sub>2</sub>O.
      </p>
      <p style="color:#0000ff">
        The products of the reaction, NaCl (common table salt) and water, are
        different molecules than HCl and NaOH. So, this is another chemical reaction.
      </p>

    </div>

<div class="page" id="page5">
      <p class="text-center">
        <b>Conservation of matter in chemical reactions</b>
      </p>
      <p>
        <span style="color:#9900ff"><b><u>Questions:</u></b></span>
        What happens to the atoms that make up molecules during chemical reactions?
        (Q1) Are there the same total numbers of atoms before and after reactions?
        (Q2) Are there the same numbers of each type of atom (or element) before and after the reaction?
      </p>
      <p>
        (Q1) First, let's look at this example to see if there are the same number of atoms before and after the
        reaction.
      </p>
      <p>
        </p><li>HCl + NaOH (Reactants) → NaCl + H<sub>2</sub>O (Products)</li>
      <p></p>
      <p>
        Before the reaction, there were 5 atoms: 1 H atom, 1 Cl atom, 1 Na atom, 1 O atom, and 1 H atom.

        <br/><br/>

        After the reaction, there are also 5 atoms: 1 Na atom, 1 Cl atom, 2 H atoms, and 1 O atom.
      </p>
    </div>

<div class="page" id="page6">
      <p class="text-centered">
        <b>Conservation of matter in chemical reactions</b>
      </p>
      <p>
        (Q2) Now let's look at this example to see if there are the same number of <i>each type</i> of element
        (H, Cl, Na, O) before and after the reaction.
      </p>
      <p>
        </p><li>HCl + NaOH (Reactants) → NaCl + H<sub>2</sub>O (Products)</li>
      <p></p>

      <br/>

      <p style="color:green">
        Starting with H: 
      </p>

      <ul class="brm-list">
        <li>
          There are 2 Hydrogen atoms before the reaction: One in the molecule <b>H</b>Cl and one in the molecule
          NaO<b>H</b>
        </li>
        <li>
          After the reaction, there are also 2 Hydrogen atoms: Two in <b>H</b><sub>2</sub>O. (The number after
          the element shows the number of atoms of that element in the molecule. If there is no number after the
          element, this means there is ONE atom of that element in the molecule. So, in
          <b>H</b><sub>2</sub>O, there are two H atoms and one O atom.)
        </li>
      </ul>

      <p style="color:blue">For Cl:</p>
      <ul class="brm-list">
        <li style="color:blue">
          There is one atom of Cl before the reaction: in H<b>Cl</b>
        </li>
        <li style="color:blue">
          There also one atom of Cl after the reaction: in Na<b>Cl</b>
        </li>
      </ul>

      <p style="color:purple">For Na:</p>
      <ul class="brm-list">
        <li style="color:purple">
          There is one Na atom before the reaction: in <b>Na</b>OH
        </li>
        <li style="color:purple">
          There is also one Na atom after the reaction: in <b>Na</b>Cl
        </li>
      </ul>

      <p style="color:orange">
        Finally, for O:
      </p>
      <ul class="brm-list">
        <li style="color:orange">
          There is one O atom before the reaction: in <b>O</b>H
        </li>
        <li style="color:orange">
          There is also one O atom after the reaction: in H<sub>2</sub><b>O</b>
        </li>
      </ul>

      <!-- Quiz: Choice -->
      <form class="quiz_choice quiz">
        <b>Q1: The chemical reaction shown in Example 1 was: CH<sub>4</sub> + 2O<sub>2</sub> → CO<sub>2</sub> +
          2H<sub>2</sub>O.
          This is a chemical reaction because
          new molecules were produced in the reaction. (a) Is the total number of atoms
          after the reaction the same as the total number of atoms before the reaction? (b) Are there the same number of
          atoms of
          each different type of element (C, H, and O) before and after the reaction?</b>
        <input name="question" type="radio" value="correct"/>
        <div class="label">(a) Yes; (b) Yes</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">(a) Yes; (b) No</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">(a) No; (b) Yes</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">(a) No; (b) No</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! In ALL chemical reactions, including the one in Example #1 (as well as in all physical reactions), (a)
          the total
          number of atoms is always the same before and after the reaction.
          (b) Also, in ALL chemical and physical reactions, for each type of element (such as Oxygen, Hydrogen, and
          Carbon), there
          is the same number of atoms of that element before as after the reaction.
          <br/>
          Detailed response:
          CH<sub>4</sub> + 2O<sub>2</sub> → CO<sub>2</sub> + 2H<sub>2</sub>O
          **Same number of C (carbon) atoms: Before the reaction, there was one C atom. After the reaction, there is
          still one C
          atom.
          **Same number of H atoms: Before the reaction, there were 4 H atoms. After the reaction, there are 4 H atoms
          (two H2O
          molecules, each with 2 H atoms, which is a total of 4 H atoms).
          **Same number of O atoms: Before the reaction, there were 4 O atoms (2 O<sub>2</sub> molecules). After the
          reaction, there are 2 O
          atoms (in the CO<sub>2</sub>) + 2 O atoms (in 2H<sub>2</sub>O) = 4 O atoms.
        </div>
        <div class="feedback-incorrect feedback">
          Actually... in ALL chemical reactions, including the one in Example #1 (as well as in all physical reactions),
          (a) the
          total number of atoms is always the same before and after the reaction.
          (b) Also, in ALL chemical and physical reactions, for each type of element (such as Oxygen, Hydrogen, and
          Carbon), there
          is the same number of atoms of that element before as after the reaction.
          <br/>
          Detailed response:
          CH<sub>4</sub> + 2O<sub>2</sub> → CO<sub>2</sub> + 2H<sub>2</sub>O
          **Same number of C (carbon) atoms: Before the reaction, there was one C atom. After the reaction, there is
          still one C
          atom.
          **Same number of H atoms: Before the reaction, there were 4 H atoms. After the reaction, there are 4 H atoms
          (two H<sub>2</sub>O
          molecules, each with 2 H atoms, which is a total of 4 H atoms).
          **Same number of O atoms: Before the reaction, there were 4 O atoms (2 O<sub>2</sub> molecules). After the
          reaction, there are 2 O
          atoms (in the CO<sub>2</sub>) + 2 O atoms (in 2H<sub>2</sub>O) = 4 O atoms.
        </div>
      </form>

    </div>

<div class="page" id="page7">
      <p>
        <b>How can you tell if a reaction is physical or chemical?</b> It may be hard to tell for sure if a reaction
        is a chemical or physical reaction. But here are some general "rules of thumb" that let you know that a 
        <b>chemical reaction</b> may have occurred:
      </p>

      <ul class="brm-list">
        <li>
          The products have <u>different tastes</u> than any of the reactants.
        </li>
        <li>
          The products have <u>different boiling or freezing points</u> than any of the reactants.
        </li>
        <li>
          There is a <u>temperature change</u> <i>caused by the reactants alone</i> (not by other heat sources,
          like heating the chemicals on a stove). So, if you use the stove/microwave or refrigerator/freezer
          (something else) to raise or lower the temperature, that is NOT a sign that a chemical change has happened.
        </li>
        <li>
          <p>
            The products of the reaction are <u>different colors</u> than any of the initial reactants. (Not just
            lighter or darker shades of the original color.)
          </p>

          <img alt="ink_in_water" class="img-centered img-size_med" src="ink_in_water.jpg"/>

          <ul class="brm-list nested-list">
            <li>
              One exception to color changes indicating that a chemical process has occurred is when colors are
              mixed together to form a different color. For example, if you put a drop of blue dye into a glass
              of water and put a drop of yellow dye into the water, the water will appear to turn green. But this
              is NOT a chemical reaction. The molecules of blue dye have not changed, and the molecules of yellow
              dye do not change. The apparent color change results from how our brains process the mixture of
              colors (see the unit: 
              <a class="brm-link" href="../color-color-perception/index.html" target="_blank">
                Color &amp; Color Perception
              </a> for more information).
            </li>
            <li>
              There are also cases of chemical changes in which the products are <u>not</u> different colors
              from reactants. For example, in a vinegar and baking soda reaction, a chemical change occurs that
              produces carbon dioxide, water, and sodium acetate. But there is no color change (like baking soda,
              sodium acetate also happens to be white in color).
            </li>
          </ul>
        </li>
      </ul>

      <p style="color:rgb(0,176,80)">
        <b>These are all just general "rules of thumb" for whether a reaction is chemical or physical, and there are
          exceptions. The only way to know for <u>sure</u> if a chemical or physical reaction has happened is if you
          somehow know that the molecules change during the reaction!</b>
      </p>
      <p style="color:rgb(0,176,80)">
        <b>Having x-ray vision would help.</b>
      </p>

    </div>

<div class="page" id="page8">
      <p>
        <b>Physical processes.</b> Unlike chemical processes, the atoms or molecules that make up the original
        substances remain the <u>same</u> in a physical process. They don’t change into different molecules like
        in a chemical reaction.
      </p>
      <p>
        When substances
        <a class="brm-link" href="../statechange-evaporation-melting/" target="_blank">change their state of matter</a>
        (for example, change from a solid to a liquid or from a liquid to a gas) their molecules remain the same.
        So, state changes are <b>physical processes</b>.
      </p>
      <p>
        The picture below shows water (H<sub>2</sub>O) in its solid, liquid, and gas states. In each state, the water
        molecule remains H<sub>2</sub>O. That is, ice is made of H<sub>2</sub>O molecules, liquid water is made of
        H<sub>2</sub>O molecules, and water vapor is made of H<sub>2</sub>O molecules.
      </p>
      <p>
        H<sub>2</sub>O molecules do not change when liquid water freezes into ice or evaporates into water vapor.
        H<sub>2</sub>O molecules do not change when ice melts into water or when water vapor condenses to liquid or
        solid. So, freezing, evaporating, melting, and condensing are all <b>physical processes</b>. In general,
        when <u>any</u> substance (not just water) changes state, this is a physical process.
      </p>

      <br/>

      <p class="text-centered">
        <b>Three states of Matter (Solid, Liquid, and Gas)</b>
      </p>

      <img alt="Image of solid (ice) image of liquid (water) image of gas(steam)" class="img-centered img-size_700" src="PhysicalReactionsImage-BRM_cropped.jpg"/>
      <br/>

      <p>
        <b>Important Note:</b> An important point is that we can't see a substance in its gas form. The picture of "gas"
        to the
        right here actually shows gaseous water vapor cooling and condensing to a liquid or solid form (which we
        <i>are</i> able to see, because the molecules are more densely packed). Similarly, we can only see clouds
        because the water vapor (H<sub>2</sub>O in a gas form) has condensed into liquid or even a solid as it has
        cooled.
      </p>
    </div>

<div class="page" id="page9">
      <p>
        <b>Dissolving.</b> The process of a substance dissolving into a liquid (often, water) may either be a
        chemical or physical reaction. This depends on what happens to the substance that is dissolving.
      </p>

      <ul class="brm-list">
        <li>
          If the molecules that make up the substance stay the same after dissolving, this is a physical process.
        </li>
        <li>
          If the molecules that make up the substance change after dissolving, this is a chemical process.
        </li>
      </ul>

      <p>
        (See the <a class="brm-link" href="../dissolving/" target="_blank">unit on dissolving</a> for more information.)
      </p>




    </div>

<div class="page" id="page10">

      Test your understanding of Physical vs. Chemical processes...<br/><br/>


      <!-- Quiz: Grid -->
      <form class="quiz_grid quiz">
        <b>Q2: Categorize the following processes as physical or chemical reactions. Remember: chemical reactions
          involve molecules
          breaking up, and signs of chemical reactions include changes in taste, color, and temperature (without other
          heat sources).</b>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Physical Reaction</th>
              <th>Chemical Reaction</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ice melting</td>
              <td><input name="q1" required="" type="radio" value="correct"/></td>
              <td><input name="q1" required="" type="radio" value="incorrect"/></td>
            </tr>
            <tr>
              <td>NaCl dissolving in water</td>
              <td><input name="q2" required="" type="radio" value="incorrect"/></td>
              <td><input name="q2" required="" type="radio" value="correct"/></td>
            </tr>
            <tr>
              <td>CO2 escaping from soda after you shake the bottle</td>
              <td><input name="q3" required="" type="radio" value="correct"/></td>
              <td><input name="q3" required="" type="radio" value="incorrect"/></td>
            </tr>
            <tr>
              <td>Burning charcoal (carbon from the charcoal joins Oxygen in the air to produce CO2)</td>
              <td><input name="q4" required="" type="radio" value="incorrect"/></td>
              <td><input name="q4" required="" type="radio" value="correct"/></td>
            </tr>
            <tr>
              <td>Photosynthesis</td>
              <td><input name="q5" required="" type="radio" value="incorrect"/></td>
              <td><input name="q5" required="" type="radio" value="correct"/></td>
            </tr>
            <tr>
              <td>Yarn absorbing water</td>
              <td><input name="q6" required="" type="radio" value="correct"/></td>
              <td><input name="q6" required="" type="radio" value="incorrect"/></td>
            </tr>
          </tbody>
        </table>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          That's correct!
        </div>
        <div class="feedback-incorrect feedback">
          Well, actually, the correct answers are<br/>
          Ice melting: physical; NaCl dissolving: chemical; CO2 escaping: physical; Burning charcoal: chemical;
          Photosynthesis: chemical; Yarn absorbing: physical
        </div>
      </form>

    </div>

<div class="page" id="page11">

     
      <div class="text-centered">
        <iframe height="533" src="https://isp-tutor-project.github.io/demo/games/chemphys/" width="800">
        </iframe>
      </div>

      <br/>

      <b>Hints for Classification Game and Question 2 below (if you need them)...</b>



      <ul class="brm-list">
        <li>
          Ice melting/freezing (see 
          <a class="brm-link" href="../statechange-evaporation-melting/" target="_blank">
            State change: Evaporation &amp; Melting</a>)
        </li>
        <li>
          NaCl dissolving in water (see: 
          <a class="brm-link" href="../dissolving/" target="_blank">Dissolving</a> unit)
        </li>
        <li>
          Sugar dissolving in water (see: 
          <a class="brm-link" href="../dissolving/" target="_blank">Dissolving</a> unit)
        </li>
        <li>
          CO<sub>2</sub> escaping from soda when you shake the bottle before opening it (see: 
          <a class="brm-link" href="../nucleation/" target="_blank">Nucleation</a> unit)
        </li>
        <li>
          Burning wood (see: 
          <a class="brm-link" href="../energy-sources-forms-of-energy/" target="_blank">
            Energy: Sources and Forms
          </a> unit)
        </li>
        <li>
          Photosynthesis (see 
          <a class="brm-link" href="../photosynthesis/" target="_blank">Photosynthesis</a> unit)
        </li>
        <li>
          Yarn absorbing water (see 
          <a class="brm-link" href="../absorption/" target="_blank">Absorption</a> unit)
        </li>
      </ul>


    </div>

<div class="page" id="page12">
      <p>
        <b><u>Conservation of matter</u> in chemical and physical processes.</b> In both
        chemical and physical reactions, the total <i>number</i> of
        atoms that existed before the reaction is the same as the total number of atoms
        after the reaction. 
      </p>
      <p>
        Also, in both chemical and physical reaction, the total number of each type of atom (or each element) is the
        same before and after the reaction. So, for example, if there were 5 Hydrogen (H) atoms before a chemical
        or physical reaction occurs, there must be 5 H atoms after the reaction. If there were 100 atoms of Carbon
        before the reaction, there must be 100 atoms of Carbon after the reaction.
      </p>
      <p>
        We can say that matter is "conserved" during all physical and chemical processes. This means that no new
        matter is made or destroyed during physical or chemical processes. This is the
        <b><u>principle of conservation of matter.</u></b>
      </p>

      <br/>

      <!-- Quiz: Choice -->
      <form class="quiz_choice quiz">
        <b>Q3. A drop of water has 3 sextillion (or 3 x 10<sup>21</sup>) molecules. After a few minutes, 1 sextillion
          molecules are left in the drop. No new water molecules have joined the drop. How many H<sub>2</sub>O
          molecules evaporated into the atmosphere?</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) Zero </div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) 1 sextillion </div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">c) 2 sextillion </div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) 3 sextillion </div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          You're right! At first, the drop was made of 3 sextillion H2O molecules. One sextillion H<sub>2</sub>O
          molecules remain in the drop. Due to
          conservation of matter, the total number of molecules that evaporated is 3 - 1 sextillion, or 2 sextillion.
          Simple math (and conservation of matter)!
        </div>
        <div class="feedback-incorrect feedback">
          Well, at first, the drop was made of 3 sextillion H2O molecules. One sextillion H<sub>2</sub>O
          molecules remain in the drop. Due to
          conservation of matter, the total number of molecules that evaporated is 3 - 1 sextillion, or 2 sextillion.
          Simple math (and conservation of matter)!
        </div>
      </form>

    </div>

{% endblock %}

{% block toc %}
<div class="nav-toc-container">
      <h3>Table of Contents: Chemical vs. Physical Processes/Reactions unit</h3>
      <ul>
        <li><a href="#top" onclick="tocPageJump(1)">Types of Processes</a></li>
        <li><a href="#top" onclick="tocPageJump(2)">What are Physical &amp; Chemical Processes?</a></li>
        <li><a href="#top" onclick="tocPageJump(3)">Chemical Processes/Reactions (Example #1)</a></li>
        <li><a href="#top" onclick="tocPageJump(4)">Chemical Processes/Reactions (Example #2)</a></li>
        <li><a href="#top" onclick="tocPageJump(5)">Conservation of Total Number of Atoms in Chemical Reactions</a></li>
        <li><a href="#top" onclick="tocPageJump(6)">Conservation of Total Number of each Element in Chemical Reactions</a></li>
        <li><a href="#top" onclick="tocPageJump(7)">Signs of Physical vs. Chemical Reactions</a></li>
        <li><a href="#top" onclick="tocPageJump(8)">Physical Processes</a></li>
        <li><a href="#top" onclick="tocPageJump(9)">Is Dissolving a Chemical or Physical Process?</a></li>
        <li><a href="#top" onclick="tocPageJump(10)">Check Your Understanding of Physical vs. Chemical Processes!</a></li>
        <li><a href="#top" onclick="tocPageJump(11)">GAME: Types of process</a></li>
        <li><a href="#top" onclick="tocPageJump(12)">Conservation of Matter in Chemical &amp; Physical Processes</a>
        </li>
      </ul>
    </div>
{% endblock %}
