---
title: "Nucleation"
permalink: /brm/nucleation/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Nucleation</h1>

<div class="page" id="page1">
      <p>
        <b>What is nucleation?</b> Have you ever noticed that when you first fill a pot with water, you often see
        bubbles on the inside surface of the pot? These bubbles are air that was mixed in with the water when you
        filled the pot.
      </p>
      <p>
        Or, if you put your finger in a glass of soda pop or any carbonated drink, you will see bubbles form on your
        finger. These bubbles are made of the carbon dioxide in the carbonated soda.
      </p>
      <p>
        If you are a very observant person, you may also have noticed that water first freezes (or becomes ice) on
        bumpy areas of containers.
      </p>
      <p>
        All three of these examples involve the process of <i><b>nucleation</b></i>. Nucleation is a process where
        the same type of molecules build up (such as a bunch of CO<sub>2</sub> molecules or a
        bunch of NaCl molecules or a bunch of H<sub>2</sub>O molecules). Molecules build up on what are
        called “nucleation sites.” Nucleation sites include places on surfaces that are not smooth, but rather have
        bumps and/or holes. Your finger is not completely smooth, but has little bumps, including what we call
        fingerprints. This is why you will see bubbles form on your finger if you put it in a carbonated drink
        (shown below).
      </p>

      <div>

        <img alt="finger in water showing nucleation" class="img-centered img-size_med" src="Nucleation_finger.jpg"/>

        <br/>

        <p>
          Bubbles will form on your finger when you put it in a carbonated liquid (a liquid with dissolved carbon
          dioxide). Bubbles of carbon dioxide will build up on the little bumps and ridges on your finger.
        </p>
        <p>
          Notice that there are few bubbles on the inside of the glass. This is because glass is much smoother than your
          finger, so there are not as many little bumps and ridges where carbon dioxide bubbles can build up.
        </p>
        <br/>

      </div>

    </div>

<div class="page" id="page2">
      <p>
        <b>Bumps on surfaces are one cause of nucleation.</b> Say you found a pot that had a very smooth surface. You
        wouldn’t see
        nearly as many air bubbles form on the inside surface of that pot when you pour water into it. This is because
        there are fewer nucleation sites on a very smooth surface compared to a rougher surface.
      </p>
      <p>
        Nucleation sites also help water molecules build up to freeze into ice! In addition to rough spots on
        surfaces, impurities in water such as dirt particles or salt can also become nucleation sites. Ice begins
        to form around nucleation sites. In fact, when there are no nucleation sites, water freezes (or becomes ice)
        at a MUCH lower temperature: approximately -39°C (or -38°F)!  (Water normally freezes into ice at about 0°C
        (or 32°F).) In other words, if water is in a very smooth container, and the water does not have any impurities
        in it (the liquid is only made of H<sub>2</sub>O molecules), it will become ice at a much lower temperature. 
      </p>
      <p>
        But most people never come across water that is 100% pure. Even distilled water has a small amount of
        impurities in it (though much less than tap water).
      </p>

    </div>

<div class="page" id="page3">

      Check your understanding...

      <form class="quiz_choice quiz">
        <b>Q1: Say you had two square plates made of different metals (both plates are 1 inch by 1 inch in area).
          One metal is smooth and the other is rough to the touch. Are there more nucleation sites (places for bubbles
          to form and freezing to begin) on the smooth or rough piece of metal?</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) The smooth piece</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">b) The rough piece</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) There would be the same number of nucleation sites.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) I really don't know.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          You're right! The rougher metal has more nucleation sites (or places where bubbles form and also where
          freezing starts) than the smooth metal.
          Nucleation sites are where there are bumps and crevices on surfaces.
        </div>
        <div class="feedback-incorrect feedback">
          Well actually, the rougher metal has more nucleation sites (or places where bubbles form and also where
          freezing starts) than the smooth metal.
          Nucleation sites are where there are bumps and crevices on surfaces.
          <br/>
          (Suggestion: You might want to re-read the previous section.)
        </div>
      </form>

      <br/>

      <form class="quiz_choice quiz">
        <b>Q2: Would you expect pure water to freeze into ice faster if it is put in (a) an ice tray with very smooth
          surfaces or
          (b) an ice tray with rough and scratched-up surfaces? (Everything else is the same between the two ice tray
          conditions.)</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) The smooth ice tray</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">b) The rough ice tray</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) It would make a differences</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) I really have no idea.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          You're right! We would expect the water to turn to ice faster in the ice tray with rougher surfaces, because
          there are more places for H<sub>2</sub>O molecules to build up into ice.
        </div>
        <div class="feedback-incorrect feedback">
          Well, actually, we would expect the water to turn to ice faster in the ice tray with rougher surfaces, because
          there are more places for H<sub>2</sub>O molecules to build up into ice.
        </div>
      </form>

      <p>
        Exactly <i>why</i> molecules build up on nucleation sites (surfaces with rougher textures and impurities
        in substances) is not currently well understood. Perhaps someone (maybe you!) will figure this out one day. 
      </p>
    </div>

<div class="page" id="page4">
      <p>
        <b>Nucleation in Carbonated Liquids (like Soda).</b> Carbonated liquids (such as a soda) contain both water
        (H<sub>2</sub>O) and lots of carbon dioxide
        (CO<sub>2</sub>) that is dissolved in the water. CO<sub>2</sub> gas bubbles form on the nucleation sites,
        including bumps and other impurities on the surface of the soda container (bottle, can, or glass/cup).
      </p>
      <p>
        The picture below (on the left) is an image of a kiwi fruit in soda. Kiwis are bumpy and have lots of
        nucleation sites. So, lots of CO<sub>2</sub> molecules will form bubbles on the kiwi surface. The picture
        below (on the right) is a simplified drawing of CO<sub>2</sub> bubbles forming on the bumpy surface of an
        object in carbonated water. Bumpy objects that can cause nucleation in carbonated water (or sodas) include
        candies and mints. 
      </p>

      <img alt="kiwi in water showing nucleation_nucleation close up image" class="img-centered img-size"  
      src="CombinedImageNucleation.jpg"/>

      <p>
        The bubbles forming are made of lots of little CO<sub>2</sub> molecules. When the bubbles become large
        enough, they will break away from the nucleation sites. These larger bubbles (shown as blue circles in
        both pictures above) will rise through the liquid due to the upward 
        <a class="brm-link" href="../buoyancy/" target="_blank">buoyancy force</a>.   
      </p>
      <p>
        The CO<sub>2</sub> bubbles that have risen from the nucleation sites are made of many many CO<sub>2</sub>
        molecules. <span style="color:#ff0000">Many people think that when you drop a fruit or a mint into a
          carbonated drink, a chemical process/reaction happens.</span> But what is happening is that the carbon
        dioxide molecules in the drink are gathering together on the nucleation sites. These CO<sub>2</sub>
        molecules then leave the nucleation sites and move up and out of the drink. The CO<sub>2</sub> molecules
        stay the same. <span style="color:#0000ff">So, these people are mistaken: This is actually a physical
          process! (Not all cool-looking processes are chemical processes: Many are physical processes.)</span>
      </p>

      <br/>

      <form class="quiz_choice quiz">
        <b>
          Q3: Is nucleation, which happens when you put something with a rough or bumpy surface (like your finger)
          into a carbonated drink, a physical process or a chemical process?
        </b>
        <input name="question" type="radio" value="correct"/>
        <div class="label">a) A physical process</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) A chemical process</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) Both. </div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) Neither; it is what it is.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! This is a physical process because molecules are NOT changing: CO2 molecules gather together to
          form bubbles made of CO2 molecules. These CO2 bubbles move up in the liquid and go into the air (where
          they are still CO2 molecules!).
        </div>
        <div class="feedback-incorrect feedback">
          Actually, this is a PHYSICAL process because molecules are NOT changing. CO2 molecules gather together
          to form bubbles made of CO2 molecules. These CO2 bubbles move up in the liquid and go into the air (where
          they are still CO2 molecules!).
        </div>
      </form>

    </div>

<div class="page" id="page5">

      <p>
        <b>Nucleation in carbonated liquids (continued)</b>
      </p>
      <p>
        When CO<sub>2</sub> gas bubbles travel upward through the carbonated liquid, they push up on the liquid that
        is above. So, if there are more CO<sub>2</sub> gas bubbles and/or if the gas bubbles are bigger, more of the
        liquid above the bubbles will be pushed upward (and, often, out of the can or bottle!).
      </p>
      <p>
        To leave the liquid and move into the air, the bubbles must be able to break through the surface of the
        liquid. The water molecules at the surface of the liquid are more strongly attracted to each other than
        the H<sub>2</sub>O molecules below the surface. This makes it harder for CO<sub>2</sub> bubbles to push
        through the surface of the liquid (compared to rising to the surface of the liquid). 
      </p>
      <p>
        As discussed in the
        <a class="brm-link" href="../statechange-evaporation-melting/" target="_blank">Evaporation unit</a>, 
        particles (in this case, the CO<sub>2</sub> gas bubbles) with more
        <a class="brm-link" href="../kinetic-and-potential-energy/" target="_blank">kinetic energy</a>
        are better able to push through the surface tension of the water and "escape" into the air. This means
        that both (a) larger CO<sub>2</sub> bubbles, which have more mass, and (b) faster-moving bubbles are more
        likely to push through the surface of the liquid and move into the air above.
      </p>
      <p>
        The bubbling/fizziness that you may see at the surface of the soda (or other carbonated liquid) is partly
        due to the surface tension among H<sub>2</sub>O molecules. At first, the bubbles of CO<sub>2</sub> push
        up on the surface of the soda but do not break the thin layer of H<sub>2</sub>O molecules. If the
        CO<sub>2</sub> bubbles have enough kinetic energy (mass and/or speed), they will be able to burst through
        this thin layer of water.
      </p>
      <p>
        This is much like when you blow bubbles: If you blow too hard (i.e., blow too
        much air or blow too fast), you will break the thin layer of water and soap and burst the bubble. 
      </p>
      <p>
        For more information about carbonated water and soda, see the unit:
        <a class="brm-link" href="../soda-carbonated-water/" target="_blank">Soda (Carbonated water)</a>. 
      </p>

    </div>

<div class="page" id="page6">

      <form class="quiz_choice quiz">
        <b>Q4: (application) You have two bottles of soda. Bottle A has scratches on the inside surface of the bottle
          near the bottom, where bubbles have formed.
          Bottle B also has scratches near the bottom of the bottle. But Bottle B only has about half as many scratches
          as Bottle A.
          Which bottle would you expect more soda to "explode" from when you open it?</b>
        <input name="question" type="radio" value="correct"/>
        <div class="label">a) Bottle A.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) Bottle B.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) They would both "explode" about the same amount.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) There is no way to tell.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          You're right! More soda would "explode" from Bottle A than Bottle B.
          Because there are more scratches on Bottle A, there are more nucleation sites (places for CO<sub>2</sub>
          bubbles to form).
          So, there would be more CO<sub>2</sub> escaping from the soda.
        </div>
        <div class="feedback-incorrect feedback">
          Well, actually, more soda would "explode" from Bottle A than Bottle B.
          Because there are more scratches on Bottle A, there are more nucleation sites (places for CO<sub>2</sub>
          bubbles to form).
          So, there would be more CO2 escaping from the soda.
        </div>
      </form>
    </div>

{% endblock %}
            
{% block toc %}
<div class="nav-toc-container">
      <h3>Table of Contents: Nucleation unit</h3>
      <ul>
        <li><a href="#top" onclick="tocPageJump(1)">What is Nucleation?</a></li>
        <li><a href="#top" onclick="tocPageJump(2)">Bumps on surfaces cause nucleation</a></li>
        <li><a href="#top" onclick="tocPageJump(3)">Check your understanding</a></li>
        <li><a href="#top" onclick="tocPageJump(4)">Nucleation in carbonated liquids (pt1)</a></li>
        <li><a href="#top" onclick="tocPageJump(5)">Nucleation in carbonated liquids (pt2)</a></li>
        <li><a href="#top" onclick="tocPageJump(6)">Check your understanding (2)</a></li>
      </ul>
    </div>
{% endblock %}
                