---
title: "Greenhouse Effect"
permalink: /brm/greenhouse-effect/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Greenhouse Effect</h1>

<div class="page" id="page1">
      <p>
        <b>The Greenhouse Effect in Greenhouses and Cars</b>
      </p>
      <p>
        Radiation from the sun passes through the greenhouse walls. Some of this radiation is absorbed by the things
        (dirt, plants, etc.) in the greenhouse and converted into
        <a class="brm-link" href="../thermal-energy-heat-temp/" target="_blank">thermal energy.</a> 
        Darker surfaces (dirt/soil) inside the greenhouse absorb more radiation, which is converted into thermal energy.
      </p>

      <img class="img-centered" src="GreenhouseCarDiagramCropped.jpg"/>

      <p>
        The greenhouse is a sealed space surrounded by a
        <a class="brm-link" href="../thermal-conductors-vs-thermal-insulators/" target="_blank">thermal insulator</a> 
        (the greenhouse walls). Because of this,
        <a class="brm-link" href="../thermal-energy-heat-temp/" target="_blank">thermal energy</a> 
        is “trapped” within the greenhouse. This process, the greenhouse effect, is shown above.
      </p>
      <p>
        You have experienced the greenhouse effect! Think of a car that is closed in warm, sunny weather. The materials
        inside the car absorb sunlight, and the sunlight is converted into thermal energy. Before you open the door,
        all the trapped thermal energy is inside the car. This is why you should always let the car air out before you
        get in. And you should never leave your pet in the car when it is sitting in the sun!
      </p>
      <p>
        Much like the car, the inside of the greenhouse might need ventilation. For this reason, the greenhouse has
        screens you can open to control how much air and sunlight to let in.
      </p>
      <p>
        At night or in cooler weather, some of the thermal energy that was trapped during the day is lost through the
        walls of the greenhouse. But since the greenhouse walls are insulators, greenhouses don't lose as much thermal
        energy at night as what they gained during the day. The idea that the inside of the greenhouse gains more
        thermal energy during the day than it loses at night is shown below. In other words, greenhouses get warmer.
      </p>


      <img class="img-centered" src="Greenhouse_EnergyInOut.PNG" width="450"/>
     <br/>

      <p>
        If it gets too warm, the gardener can open a screen to ventilate the greenhouse.
      </p>
      <br/>

    </div>

<div class="page" id="page2">

      <p>
        <b>What is the Greenhouse Effect on Earth?</b>
      </p>
      <p>
        To understand the Greenhouse Effect on Earth, we must first understand <b><i>Equilibrium.</i></b> Equilibrium
        is a state of balance or equality. For example, let's say that two objects initially at
        two different temperatures are touching each other. Eventually, they will reach the same
        temperature. We say the two objects are now at thermal equilibrium. Each object will lose
        the same amount of thermal energy that it will gain and remain at that same temperature.
        In other words, equilibrium is when the <i>net</i> amount of energy [incoming energy -
        outgoing energy] is equal to zero.
      </p>

      <br/>
      <img class="img-centered" src="EarthImage_BRMNew2.jpg" width="600"/>
      <br/>

      <p>
        Similarly, the Earth is said to be in thermal equilibrium when the amount of <b>incoming energy</b> that the
        Earth receives is equal to the amount of <b>outgoing energy</b> that the Earth releases back into space.
      </p>
    </div>

<div class="page" id="page3">
      <p>
        <b>Incoming energy. </b>The Earth’s surface receives a lot of radiation on a daily basis, mostly from the sun.
        Radiation from the sun comes in different types, of different wavelengths. Different types of radiation include
        ultraviolet radiation, visible light, infrared, and other types of radiation not visible to the human eye.
        (See the
        <a class="brm-link" href="../light/" target="_blank">Light/Electromagnetic Radiation</a>
        unit for more information.)
      </p>

      <br/>
      <img class="img-centered" src="AtmosphereImage_BRM_PD.jpg"/>
      <br/>

      <p>
        As shown above, the Earth’s atmosphere blocks certain frequencies of the sun's radiation from reaching the
        Earth's surface. For example, the Earth's atmosphere blocks radiation that is higher-energy than ultraviolet
        light. This radiation includes gamma rays, x-rays, and most ultraviolet light. 
      </p>
      <p>
        Most light in the visible range and shorter radio wave range makes it through the atmosphere to the Earth’s
        surface. 
      </p>
      <p>
        Infrared radiation is especially important to our environment because this frequency of radiation is most
        easily transferred to thermal energy in matter. In other words, infrared radiation increases the motion of
        molecules and increases the temperature of air in our atmosphere and other matter on the Earth.  
      </p>
      <p>Most infrared radiation is absorbed by gases in the atmosphere before reaching the Earth’s surface.
        CO<sub>2</sub> is one molecule that absorbs infrared radiation. When CO<sub>2</sub> absorbs infrared radiation,
        this energy is converted into vibrations of CO<sub>2</sub> molecules. This vibrational energy (one type of
        <a class="brm-link" href="../kinetic-energy-temperature/" target="_blank">kinetic energy</a>
        ) is then converted back into infrared radiation, which is absorbed by other greenhouse gases in the
        atmosphere and re-emitted. (And this process continues as infrared radiation is passed between greenhouse
        gases in the atmosphere or to the Earth's surface.) Non-greenhouse gases just kind of "ignore" this infrared
        radiation. It passes them right by.
      </p>

      <img class="img-centered" src="Radiationco2.jpg" width="400"/>
      <br/>

      <p>
        Of the remaining solar radiation, some is absorbed by land and oceans (and other things on the Earth’s surface)
        and is converted into
        <a class="brm-link" href="../thermal-energy-heat-temp/" target="_blank">thermal energy</a>. 
      </p>
      <p>
        When the Earth is in thermal equilibrium, or when the Earth gains as much energy as it releases back into
        space, this stability makes the Earth suitable for life.
      </p>

      <br/>
    </div>

<div class="page" id="page4">

      <p>
        <b>So, what causes the earth to get warmer?</b> When there is no longer equilibrium, such as when the Earth
        gains more energy than it releases back into space, the Earth's climate will change.
      </p>
      <p>
        <b>Outgoing energy.</b> Thermal energy from the Earth's surface and oceans is converted into
        infrared radiation energy, which is released back into the Earth's atmosphere. This mostly
        happens at night. However, the buildup of carbon dioxide and other greenhouse gases in the
        atmosphere "catches" this radiation. So, instead of moving away from the Earth and going
        into space, this thermal energy remains "trapped" in the Earth's atmosphere. As a result,
        the Earth receives more energy than it releases back into space. This idea is shown below.
        This causes the planet to become warmer.
      </p>

      <img class="img-centered" src="Earth_EnergyInOut_Unbalanced2.PNG" width="600"/>
     <br/>

      <p>
        <b><i>Greenhouse gases</i></b> are gases (molecules in a gas state of matter) that absorb solar radiation
        (mostly in the infrared range) and convert that energy to thermal energy. These include, in order of amount in
        the atmosphere:
      </p>

      <ul class="brm-list">
        <li>Water vapor (H<sub>2</sub>O),</li>
        <li>Carbon dioxide (CO<sub>2</sub>),</li>
        <li>Methane (CH<sub>4</sub>),</li>
        <li>Nitrous oxide (N<sub>2</sub>O),</li>
        <li>Ozone (O<sub>3</sub>), and</li>
        <li>Any fluorocarbons (molecules that only contain Fluorine and Carbon). </li>
      </ul>

      <p>
        Some of these gases are natural and harmless. But some of these (like CO<sub>2</sub>) are caused by human
        activity and build up over time. They affect the earth's temperature by preventing thermal energy from
        escaping the atmosphere and going back into space.
      </p>
    </div>

{% endblock %}
            