---
title: "Electric Force"
permalink: /brm/electric-force/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Electric Force</h1>

<div class="page" id="page1">
      <p>
        <b>Electric force.</b> Oppositely-charged atomic particles (protons and electrons) attract each other.
        Similarly-charged particles repel (or push each other away). We call these forces between charged particles
        that cause them to attract or repel "electric forces." 
      </p>

Like gravitational and magnetic forces, the electric force acts at a distance. In other words, the charged particles do not have to touch
to be attracted or repulsed by the electric force. They can be far from each other and still affected by the electric force.

      <p>
        In the pictures below, the arrows show the direction of the electric force on each particle caused by the other charged particle.
      </p>

      <img alt="image showing attraction of charged particles" class="img-centered" height="400" src="ElectricforceUnit.png" width="350"/>
      <br/>

      <p>
        The electric force is what causes electrons and protons to attract each other to form atoms.
      </p>

      <ul class="brm-list">
        <li>
          Electrons orbit around the nucleus because of the attractive electric force between electrons and protons.
          In other words, protons and electrons pull on each other, keeping the electrons orbiting around the protons
          in the nucleus.
        </li>
      </ul>

      <p>
        The electric force between electrons keeps electrons from getting too close to each other in atoms.
      </p>

    </div>

<div class="page" id="page2">

      <p>
        <b>Electric forces also affect atoms.</b> Electric forces also cause oppositely-charged atoms to attract each
        other and similarly-charged atoms to repel. For example, a sodium atom (Na) may
        lose an electron and become positively charged (because it has one more proton than electron). A chlorine atom
        (Cl) may gain an electron and become negatively charged (because it will have one more electron than proton).
        Because the Na+ and Cl- atoms have opposite electric charges, they will attract each other. As a result, a NaCl
        (table salt) molecule will form. This is shown in the picture below. 
      </p>

      <img alt="NaCl molecule" class="img-centered" src="NaCl_molecule2.png" width="350"/>

    </div>

<div class="page" id="page3">

      <p>
        <i><b>Everyday example of electric force.</b></i> Aside from being made of atoms, you almost certainly have
        experienced electric forces personally. For example, if you rub a balloon on your hair, your hair will "stick"
        to the balloon (see the picture below). This is because when the balloon material rubbed your hair, electrons
        from your hair moved to the balloon.  So, now the balloon is negatively charged (represented as red negative
        signs in the picture on the right). Your hair is positively charged (represented as positive signs). So your
        hair will be attracted to the balloon through the

        <select class="fib_select" id="FIB1" onchange="fibUpdate('FIB1')">
          <option value="#ffffff">(Select one)</option>
          <option value="#ed8587">gravitational</option>
          <option value="#11bf7a">electric</option>
          <option value="#ed8587">magnetic</option>
          <option value="#ed8587">strong</option>
        </select>

        force.
      </p>

      <img alt="hair sticking to balloon because of static electricity" class="img-centered" height="400" src="StaticElectricity_revisedimage2.jpg"/>

    </div>

<div class="page" id="page4">
      <strong>
        Test your knowledge about protons, electrons and neutrons: play the Subatomic Particle Game!
      </strong>

     <br/><br/><br/>

      <div class="text-centered">
        <iframe height="605" src="https://isp-tutor-project.github.io/demo/games/subatomicparticle/" width="890">
        </iframe>
      </div>

     <br/>

      <p>
        <b>When you're done with this game, Click the "Chemical &amp; Physical Reactions" button above to see the list
        of units related to your research question.</b>
      </p>

    </div>

{% endblock %}
            