---
title: "Atoms-Elements"
permalink: /brm/atoms-elements/index.html
---

{% extends "brm_unit.njk" %}

{% block page_content %}
            <h1>Elements</h1>

<div class="page" id="page1">
      <p>
        <b>What are elements?</b> There are many different types of atoms, called <i>elements. </i>Hydrogen, carbon,
        oxygen,
        sodium, and chlorine are a few different elements. The number of protons an atom has determines which element it
        is. 
      </p>

      <p>The simplest type of atom, which only has one proton, is the element hydrogen.

        Unlike every other element, hydrogen doesn't have any neutrons.

        The element oxygen is more complex; oxygen atoms have 8 protons. Your body is made of a whole
        lot of atoms of these two elements (hydrogen and oxygen)!
      </p>


      <img alt="Graphic_of_Oxygen_Hydrogen" class="img-centered img-size" src="Hydrogen_Oxygen_caption2.png"/>
<br/>
      <p>
        Atoms in their basic "elemental" forms have no "net" charge. That is, they have the same number of (negatively
        charged) electrons (e-) and (positively charged) protons (p+). So, hydrogen atoms have one electron. Oxygen atoms have 8 electrons.
      </p>
      <p>
        The elements we have discovered (so far!) are shown in
        <b><u><a href="../periodic-table/index.html" target="_blank">Periodic Tables like this one</a></u></b>.
         Elements in Periodic tables are ordered by "atomic number," which is the number of protons the element has.
        The atomic number/number of protons is shown in the top right corner of each box for each element. For
        example, as you can see in the Periodic Table, the element Sodium (Na) has 11 protons. 
      </p>

     <br/>

      <form class="quiz_choice quiz">
        <b>Q0.5: How many protons does the element Chlorine (Cl) have? (Hint: look in the upper right corner of the box
          with "Cl" in the Periodic Table.)</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) 6</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) 12.01</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">c) 17</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) 35.45</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          You're right! The element Cl has an atomic number of 17. This is the number of protons that a Cl atom has.
        </div>
        <div class="feedback-incorrect feedback">
          Well, if you look carefully at the Periodic Table, you will see that the element Cl has an atomic number of
          17. This is the number of protons that a Cl atom has.
        </div>
      </form>

     <br/>
    </div>

<div class="page" id="page2">

      <b>Names of elements.</b> Different elements (types of atoms) are abbreviated with one or two letters. The first
      letter is always capitalized.
     <br/><br/>

      For example:

        <ul style="line-height:2;">
        <li>Hydrogen is abbreviated as "H".</li>
        <li>Helium is "He". (They couldn't use just "H", since it would be confused with hydrogen.)</li>
        <li>Carbon is "C".</li>
        <li>Chlorine is "Cl". (They couldn't use just "C", since it would be confused with carbon.)</li>
        <li>Oxygen is "O".</li>
      </ul>

     <br/>
    </div>

<div class="page" id="page3">

      <p>
        <b>Ions of elements</b>: Sometimes elements gain or lose one or more electrons. Because the atoms no longer
        have the same number of protons (+) and electrons (-), they have an electric charge. Atoms that have lost or
        gained electrons are called <b>ions</b>. 
      </p>

      <ul>
        <li>
          One example of an ion is a hydrogen (H) atom that has lost an electron. It now has one proton (p+)
          but no electrons. So, the hydrogen ion has a positive charge. A hydrogen ion is written as H+. 
        </li>
      </ul>
      <ul>
        <li>
          The "+" sign means that it has a "net" positive charge, or there are more (positively-charged) protons than
          (negatively-charged) electrons.
        </li>
      </ul>
      <ul>
        <li>
          Another example of an ion is a Fluorine (F) atom that has gained an electron (e-). It now has one more
          electron than protons (p+), so it has a negative charge. A Fluorine ion (called Fluoride) is written as Fl-.  
        </li>
      </ul>
      <ul>
        <li>
          The "-" sign means that it has a "net" <span style="color:#ff0000">negative</span> charge, or there are
          more (negatively-charged) electrons than (positively-charged) protons.
        </li>
      </ul>

      <br/>

      <form class="quiz_choice quiz">
        <b>Q0.6: The element Clorine (Cl) has 17 protons. Which of the following would be a Chlorine ion?</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) a Cl atom with 17 protons &amp; 17 electrons</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">b) a Cl atom with 17 protons &amp; 18 electrons</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) a Cl atom with 18 protons &amp; 17 electrons</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) a Cl atom with 18 protons &amp; 18 electrons</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! The element Chlorine always has 17 protons (that's how you know it's Chlorine). A Chlorine ion has a different number of
          electrons than protons. So, a Cl atom with 17 protons and 18 electrons is a Cl ion.
        </div>
        <div class="feedback-incorrect feedback">
          Well, the element Chlorine always has 17 protons (that's how you know it's Chlorine). A Chlorine ion has a different number of
          electrons than protons. So, a Cl atom with 17 protons and 18 electrons is a Cl ion.
        </div>
      </form>


     <br/>

      <form class="quiz_choice quiz">
        <b>Q1: An atom of the element Clorine (Cl) has a total of 18 electrons. How should this Chlorine ion be represented in
          writing?</b>

        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) Cl</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) Cl+</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">c) Cl-</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) How should I know?</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          You are correct! Looking at the Periodic Table, you can see that Chlorine's atomic number is 17. This means
          that it has 17 protons. Since this Chlorine atom has 18 electrons, it has one more negatively-charged
          particle than positively-charged particle. Since it has a "net" negative charge, we'd write it as Cl-.
        </div>
        <div class="feedback-incorrect feedback">
          Well, if you look at the Periodic Table, you can see that Chlorine's atomic number is 17. This means that
          it has 17 protons. Since this Chlorine atom has 18 electrons, it has one more negatively-charged particle
          than positively-charged particle. Since it has a "net" negative charge, we'd write it as Cl-.
        </div>
      </form>

      <p>
        <b>You've reached the end of this unit. You can click on the "Chemical &amp; Physical Reactions" button to see
          more units related to your research question.</b>
      </p>
    </div>

{% endblock %}

{% block toc %}
<div class="nav-toc-container">
      <h3>Table of Contents: Elements unit</h3>
      <ul>
        <li><a href="#top" onclick="tocPageJump(1)">What are Elements?</a></li>
        <li><a href="#top" onclick="tocPageJump(2)">Names of Elements</a></li>
        <li><a href="#top" onclick="tocPageJump(3)">Ions (Elements with electric charge)</a></li>
      </ul>
    </div>
{% endblock %}
