---
title: "Angiosperm Pollinators"
permalink: /brm/angiosperm-pollination/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Angiosperm Pollinators</h1>

<div class="page" id="page1">

      <b>Summary.</b> Pollination (in a nutshell) is the movement of pollen from the
        anther of one flower to the stigma of (usually) a different flower. Plant pollination — and consequently, reproduction —
        depends to some extent on animals (as well as humans, the wind, etc.). For angiosperms — plants with flowers that produce seeds —
        animals play a key role in pollination. Bees in particular are important pollinators.

<br/>
      <img alt="bee pollen" class="img-centered" height="269" src="Bee_Pollen.jpg" width="320"/>
     <br/>
      <p>Bees need nectar from flowers to make honey. But when they go to flowers to get nectar, they end up getting pollen on their bodies (as shown above).
        They transfer this pollen to other flowers they visit (to get more nectar).
      </p>

    </div>

<div class="page" id="page2">
      <p>
        <b>Bees get nectar from flowers.</b>
        Bees (as well as other insects and birds) are attracted to the colorful petals of flowers and the nectar
        produced by plants. Nectar is a sugary, protein-rich liquid that is produced by a group of cells called the
        “nectary”. Nectaries can be inside the flowers (as shown in the picture below) or outside the flowers (e.g., at
        the base of leaves below the petals).
      </p>
      <p>
        <b><i>Nectaries inside flowers. </i></b>Nectaries that are inside the flowers help plant reproduction
        by releasing nectar. Nectar attracts visitors such as bees and other insects, and birds.
      </p>
     <br/>
      <img alt="Flower Diagram" class="img-centered img-size_med" src="Hellebore-Flowerrevised2.jpg"/>
     <br/>
      <p>
        As bees or other visitors push their bodies through the flowers to get the nectar, they
        accidentally brush against the stamens and the pollen from the anther sticks to their
        body (as shown below). As they move to the next plant, they carry this pollen.
        Some pollen may be transferred to the stigma of the flower, where it may tunnel down
        the stigma to fertilize an egg cell inside the ovary. (See the 
        <a class="brm-link" href="../angiosperm-reproduction/index.html" target="_blank">Angiosperm Reproduction</a> 
        unit for more details.)
      </p>
      <p>
        This method of moving pollen from one flower to another for reproduction is called “pollination”.
        The visitors searching for nectar are accidental pollinators. For example, bees happen
        to go to the same type (species) of flower during a foraging (food collecting) trip.
        This behavior helps the reproduction of this species by pollinating its flowers. 
      </p>

      <img alt="bee pollen" class="img-centered img-size_smaller" src="BeeWPollen.jpg"/>

      <p>
        The picture of the bee above shows how bees can collect quite a bit of pollen on their bodies while foraging
        for food. So, we can imagine how much pollen just one bee can help to share between flowers. In fact, there are
        several species of plants that depend on pollinators such as honey bees for reproduction. These include kiwis,
        watermelon, cantaloupe, and macadamia plants. Honey bees are one pollinator of sunflowers as well.
      </p>
      <p>
        <b><i>Nectaries outside flowers.</i></b> Nectaries can also be located outside of the flowers (e.g., at the
        base of leaves and on stems). These external nectaries do not promote pollination but instead protect the
        plants.
        For example, visitors (such as wasps) come to these plants for the nectar. They protect the precious nectar by
        scaring away predators that eat the plants (like caterpillars). 
      </p>

    </div>

<div class="page" id="page3">
      <h4>How do honey bees reach the nectar inside flowers?</h4>
      <div style="float:left;margin-right:10px">
        <img alt="bee pollinating" height="266" src="bee-2462136_1920.jpg" width="400"/>
        <br/>
      </div>
      <p>
        In this picture, you can see part of the tongue (proboscis) of the bee as it feeds on the flower.
      </p>
      <p>
        Honey bees use their long, straw-like tongues (proboscis-es) to suck the sugary and protein
        rich liquid called nectar, into their “honey stomach”. The honey stomach is actually not
        a “regular” stomach, but it is part of their throat (a pipe called esophagus). This pipe
        expands to store the nectar. To fill this honey stomach, honey bees visit over 100 flowers. 
      </p>
      <p>
        The nectar that a bee collects can weigh as much as the bee itself! So, you may see bees that
        are having a hard time flying due to all the pollen attached to them and all the nectar they
        collected. Once a honey bee fills its honey stomach with nectar, it is ready to go home to
        its family, called the “colony”. There, the honey-making process begins.
      </p>
     <br/><br/>
    </div>

<div class="page" id="page4">
      <p>
        <b>How honey is made from nectar.</b> After a honey bee sucks nectar into its honey "stomach", special enzymes break down the complex sugars in the
        nectar into smaller components. Two things can happen to these smaller sugars: they are either (a) digested as
        food by that bee or (b) are stored for later use in honeycombs (shown in the picture below). Bees in the colony
        also remove some of the water from the nectar to make it very thick. They do this by working together to fan
        their wings to keep the right temperature and to move water vapor out of the hive. 
      </p>


      <img alt="bees_making_honey" class="img-centered" height="266" src="bees-352206_1920.jpg" width="400"/>
      <p>
        Finished honey is a thick substance that has less water than the nectar and has smaller, less complex sugars
        than the nectar. When the honey is done, bees close the cells of the honeycombs with wax called beeswax. This
        beeswax protects the honey until bees can use it for food in the future. A colony of bees may need to eat
        between 1 and 200 pounds of honey each year.
      </p>


    </div>

<div class="page" id="page5">
      <h4>How do honey bees know which flower to visit and which is empty of nectar?</h4>

      <p>
        Have you ever seen bees just hovering around flowers but not going inside? New research
        shows that bees are able to detect which flower was already visited and thus may be empty
        of nectar. They tend to avoid those flowers. This all has to do with a process called “static
        electricity” caused by
        <a class="brm-link" href="../electric-force/index.html" target="_blank">electric forces</a>.
      </p>
      <p>
        When you drag your feet on a carpet, electrons are transferred from the carpet to your
        feet. As a result, your body has a slight negative charge. When you touch an object that
        has a less negative charge (or positive charge), you transfer electrons to that object. A
        similar thing happens to flowers and bees.
      </p>

      <img alt="Diagram_of_electrical_charges_between_bees_and_flowers" class="img-centered img-size" src="BeeDiagram.jpg"/>
      <br/>

      <p>
        Bees and other things that fly through air lose electrons. As a result, they become positively
        charged. Similarly, when bees flutter their wings around flowers, a positive charge is created
        on their bodies. Flowers, and pollen inside the flowers, have a weak negative charge. So,
        when the bee visits the flowers, this charge difference pulls the pollen to the bee. The
        pollen sticks to the tiny hairs on the bee’s body. After a bee visit, the flower’s charge
        changes from negative to slightly positive. Bees can detect this slightly positive charge
        and avoid the flowers that were recently visited by others. 
      </p>
     <br/>

      <form class="quiz_choice quiz">
        <b>Q1: Which would be true of the electrical force between a bee’s body and a recently visited flower?</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) The electrical force would be attractive.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">b) The electrical force would be repulsive.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) The electrical force would be neutral (or zero).</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) It is impossible to know from this information.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! When bees fly, they lose electrons and become slightly positively charged. A recently-visited flower
          also has a slightly positive charge. Because like charges repel each other, the flower and bee would repel
          each other.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, when bees fly, they lose electrons and become slightly positively charged. A recently-visited flower
          also has a slightly positive charge. Because like charges repel each other, the flower and bee would repel
          each other.
        </div>
      </form>
    </div>

<div class="page" id="page6">
      <h4>What type of food do honey bees collect during a foraging trip?</h4>

      <p>
        Just like people, honey bees need variety in their diet. Honey bees need water, sugars, proteins, vitamins, and
        minerals. We know honey bees collect nectar and make honey.  But did you know that bees also eat the pollen
        from flowers that sticks to their bodies (shown below)? Though nectar does have a little bit of protein,
        pollen is much richer in protein than nectar. Bees also feed their queen bee pollen; the queen needs this
        energy to produce and lay eggs.
      </p>

      <img alt="bee_covered_in_pollen" class="img-centered" height="269" src="BeeWPollen.jpg" width="320"/>
    </div>

{% endblock %}
            
{% block toc %}
<div class="nav-toc-container">
      <h3>Table of Contents: Angiosperm Pollination</h3>
      <ul>
      <li><a href="#top" onclick="tocPageJump(1)">Summary: How bees help pollination</a></li>
        <li><a href="#top" onclick="tocPageJump(2)">Bees get nectar from flowers</a></li>
        <li><a href="#top" onclick="tocPageJump(3)">How bees reach nectar</a></li>
        <li><a href="#top" onclick="tocPageJump(4)">How honey is made from nectar</a></li>
        <li><a href="#top" onclick="tocPageJump(5)">Electric forces help pollination!</a></li>
        <li><a href="#top" onclick="tocPageJump(6)">Bees also eat pollen</a></li>
      </ul>
    </div>
{% endblock %}
                