---
title: "Soda/Mint Experiment Animation"
permalink: /brm/SodaMintAnimation/index.html
---
            
{% extends "brm.njk" %}
            
{% block page_content %}
            
    <h1>Soda/Mint Experiment Animation (With Sound)</h1>

      <p class="text-centered">
          Click anywhere on the screen below to begin. (You can click on the
          screen to pause at any point.)
         <br/>
          When you're done, you can click on the "Home &amp; HELP" or "Chemical &amp;
          Physical Reactions" button above.
      

      
        <video controls="" height="500" width="800">
          <source src="SodaMintAnimation.mp4" type="video/mp4"/>
        </video>
      </p>

  
{% endblock %}
