---
title: "Acceleration"
permalink: /brm/acceleration/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Acceleration</h1>

<div class="page" id="page1">
      <p>
        An object is <b>accelerating</b> if its <b>velocity</b> is changing. Remember: velocity is a
        <a class="brm-link" href="../vectors/index.html" target="_blank">vector quantity</a>,
        which has both a magnitude (speed) and a direction (the direction it is moving).
      </p>
      <p>
        So, an object is accelerating if either its SPEED is changing or if the DIRECTION the object is moving
        in changes. Or both!
      </p>

      <ul class="brm-list">
        <li>
          For example, if an object is moving in a straight line but its speed is changing, this object is
          accelerating (or its acceleration is not equal to zero). For example, the car below is
          accelerating. Its speed increases with each second. (You can tell because it moves farther and
          farther with each second.) 
        </li>
      </ul>


      
        <img alt="car accelerating" class="img-centered" src="CarAccelerating.GIF"/>
    
      <br/>

      <ul class="brm-list">
        <li>
          If an object is moving at the same speed but changing directions, the object is accelerating. For
          example, the car below is moving on a circular track at a constant speed (moving the same distance
          every 10 seconds). But it is constantly changing directions. Because it is changing directions, it
          is accelerating (or its acceleration is not equal to zero). 
        </li>
      </ul>

      <br/>
      
        <img alt="car accelerating driving in circle" class="img-centered" src="CarInCircle.GIF"/>
      
      <br/>

      <ul class="brm-link">
        <li>
          If an object is changing in speed <i>and</i> direction, it is accelerating. In the example
          below, the speed of the car is increasing from 0 seconds to 30 seconds. The car is also (constantly)
          changing its direction. So, this car is accelerating--and its acceleration is <i>greater</i> than
          the acceleration of the car above that changes direction without changing speed.
        </li>
      </ul>

      
        <img alt="car accelerating driving in circle" class="img-centered" src="CarAcceleratingSpeedDir.GIF"/>
      
     <br/>
<br/>

<b>Go to the next page to play the Acceleration Game...</b>
</div>

<div class="page" id="page2">

      <p class="text-xl text-centered" style="color:#0b5394">
        <b>"Accelerating or Not?" Challenge </b>
      </p>

      <div class="text-centered">
        <iframe height="533" src="https://isp-tutor-project.github.io/demo/games/acceleration/" width="800">
        </iframe>
      </div>

    </div>

{% endblock %}
            