---
title: "Gas in Balloon Experiment Animation"
permalink: /brm/BalloonAnimation/index.html
---
            
{% extends "brm.njk" %}
            
{% block page_content %}
            
    <h1>Gas in Balloon Experiment Animation (No Sound)</h1>

      <p class="text-centered">
          Click anywhere on the screen below to begin. (You can click on the
          screen to pause at any point.)
         <br/>
          When you're done, you can click on the "Home &amp; HELP" or "Chemical &amp;
          Physical Reactions" button above.

        <video controls="" height="500" width="800">
          <source src="BalloonAnimation.mp4" type="video/mp4"/>
        </video>
      </p>

  
{% endblock %}
