---
title: "Earth's Gravitational Force"
permalink: /brm/weight/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Weight on Earth and Other Planets</h1>

<div class="page" id="page1">
      <p>
        <b>What is Weight?</b> We call the gravitational force on an object caused by the Earth's mass the
        <i>weight</i> of the object (on Earth). The weight of an object here on Earth is equal to the mass
        of the object times the acceleration due to gravity on Earth: <b>g</b> (about 10 m/s<sup>2</sup>):
      </p>
      <p class="text-centered">
        <b>Weight of object (on Earth) = mass of object * 10 m/s<sup>2</sup></b>
      </p>
      <p>
        The more mass an object has, the stronger the earth pulls on that object (and, because gravity is a mutually
        attractive force, the stronger the object pulls on the earth!). (See the 
        <a class="brm-link" href="../mass-gravitationalforce/" target="_blank">Gravitational Force</a>
        unit for more information.) The force that the earth pulls on an object on the earth is the object's weight. 
        And the direction of the force of weight is straight down (toward the center of the earth).
      </p>
      <p>
        In general, the weight of an object on any planet or moon, etc., is equal to the object's mass times the
        acceleration due to gravity caused by the planet, moon, etc.:
      </p>
      <p class="text-centered">
        <b>Weight of object (on planet/moon/etc.) = mass of object * acceleration due to gravity of planet/moon/etc.</b>
      </p>

     <br/>

      <p>
        The acceleration caused by gravity depends on the mass of the body (planet, moon, etc.). The more massive the
        body, the larger the acceleration due to gravity will be. So, your weight on the biggest planet (Jupiter) would
        be more than your weight on Earth. But you would weigh less on Mercury or Mars than on Earth because these
        planets are less massive than the Earth.
      </p>
    </div>

{% endblock %}
            