---
title: "Atoms: Electron Organization"
permalink: /brm/atoms-electron-organization/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Atoms: Electron Organization</h1>

<div class="page" id="page1">
      <h4>How Electrons are organized in atoms/elements.</h4>

      <p>
        To understand why some elements bond with other elements — and why some do not — it is important to understand how
        electrons are organized in different elements.
      </p>
      <p>
        In atoms, electrons move around in specific paths or "orbitals". These orbitals can be very, very complex and
        weird-looking
        (<a class="brm-link" href="../orbitals/" target="_blank">click here to see what some orbitals look like</a>).
        In drawings of atoms in these units (and generally on the internet), electrons are often shown along circles
        (around the atom's nucleus), like the picture below. These circles are *not* the pathways of the electrons (or
        how and where the electrons move!). Instead, they represent how much
        <a class="brm-link" href="../kinetic-and-potential-energy/index.html" target="_blank">energy</a>
        the electrons have.
      </p>
<br/>
      <img alt="energy_circle" class="img-centered img-size" src="FirstEnergyCircle.PNG"/>
      <br/>

      <p>
        The circle that each electron is associated with represents the (small range of) energies of the electron(s)
        for that energy circle. Electrons associated with a given energy circle are at about the same energy level,
        regardless of the atom. This means that the two electrons along the innermost energy circle in the Carbon atom
        (above, left) and the two electrons along the innermost energy circle in the Oxygen atom (above, right)
        <i>all</i> have the same energy level (we'll call this E1). 
      </p>
      <p>
        In addition, the 4 electrons of the second (and outer) energy circle of the Carbon atom and the 6 electrons of
        the second energy circle of the Oxygen atom all have about the same energy level (we'll call this E2).
      </p>
      <p>
        <b>As the distance from the nucleus increases, the amount of energy associated with a particular energy circle
          increases</b>. So, the electrons in the outermost energy circle, E2, have more energy than the electrons of
        the innermost energy circle, E1.
      </p>
    </div>

  


<div class="page" id="page2">
      <p>
        <b>First (lowest-energy) energy circle.</b> This first Energy circle can have up to TWO electrons in it. This
        first Energy circle can't have any more than 2 electrons. If you look closely at the drawing of the (carbon)
        atom below (on the left) and the oxygen atom (below, right), you will notice that there are two electrons that
        are along the first Energy circle in both atoms.
      </p>
      <p>
        Atoms "like" having <u>two</u> electrons at this energy circle (E1). 
      </p>
<br/>
      <img alt="First_Second_Energy_Circles" class="img-centered img-size" src="FirstSecondEnergyCircles.PNG"/>
<br/>
      <p>
        <i><b>Helium.</b></i> The element helium (He) has two electrons (see 
        <a class="brm-link" href="../periodic-table/" target="_blank">Periodic Table</a>). So, its
        first Energy circle is complete. This makes Helium a stable element, meaning it does not "want" to gain or lose any more electrons.
      </p>

      <img alt="First_Second_Energy_Circles" class="img-centered img-size_200" src="He.jpg"/>
      <p>

        <b><i>Hydrogen.</i></b> On the other hand, hydrogen (H) only has one electron. So, hydrogen's first Energy
        circle is not complete: it "wants" another electron to complete the Energy circle. 
      </p>

 <img alt="First_Second_Energy_Circles" class="img-centered img-size_200" src="Hydrogen2.jpg"/>

    </div>

<div class="page" id="page3">
      <p>
        <b>Second energy circle.</b> The second Energy circle (E2) can have up to EIGHT electrons in it. In E2, all
        types of atoms or elements "like" to have 8 electrons. For example, in the sodium (Na) atom below, there are 8
        electrons at this energy circle. (As with all different types of atoms, or elements, there are still only 2
        electrons in the first energy circle!)
      </p>

      <img alt="Orbital_Atom" class="img-centered img-size_250" src="NewNaClDiagram_Summary4.jpg"/>
      <br/>

      <p>
        <b>Third energy circle.</b> The third Energy circle (E3) can have up to 18 electrons in it. Sodium atoms 
        (like the one shown above) only have one electron in the third Energy circle.
      </p>
      

</div>

<div class="page" id="page4">

      <p>
        <b>One reason atoms bond.</b> E1 is full when there are TWO electrons in it. E2 is full when there are EIGHT electrons in it. E3 is full when there are 18 
        electrons in it. 
      </p>

      <p>
       One reason why atoms bond with other atoms is to make their outer-most Energy levels full. Atoms can do this by either gaining one (or more) 
       electrons or losing one (or more) electrons.
      </p>

<img alt="Orbital_Atom" class="img-centered img-size_med" src="NaFl_bonding2.jpg"/>

      <p>
        For example, sodium (Na) only has one electron in it outermost energy level (E3). So, sodium "wants" to get rid of that electron so that 
        now its outermost energy level (E2) is full, with eight electrons. So, sodium bonds with elements like fluorine (see above). Fluorine has 
        9 electrons total. In its outer Energy level (E2), it has 7 electrons. To make its outermost Energy level full (with 8 electrons), it needs 
        one more electron, which it gets from the sodium atom.
      </p>
      Since the Na atom lost an electron, it becomes positively charged. The Fl atom gained an electron and becomes negatively charged. So the Na and Fl 
        atoms are attracted to each other through the electric force. This makes a sodium fluoride (NaFl) molecule.
<p>
As another example, hydrogen has only one electron in its outermost energy level (E1). So, hydrogen "wants" another electron so that E1 has 2 electrons. 
One way this happens is for two hydrogens to share their electrons so that each hydrogen atom (sometimes) has 2 electrons in E1. This makes the 
molecule H2. 
</p>


  </div>

<div class="page" id="page5">
      <p>
        <b><i>Neon. </i></b>The element neon (Ne) has full first and second Energy circles (E1 and E2). Since the first
        Energy circle is full with 2 electrons, and the second Energy circle is full with 8 electrons, Ne has 10
        electrons (you can double-check this on the 
        <a class="brm-link" href="../periodic-table/index.html" target="_blank">Periodic Table</a>). Since the outermost 
        Energy circle of neon is full, it does not "want" to give or take any more electrons. So, it doens't bond with other 
        atoms to form molecules.
      </p>
      <p>
        <b><i>Noble gases. </i></b>You may have noticed that He and Ne (both stable elements with full outer Energy circles)
        are on the far right side of the Periodic Table. All of the elements on the far right-hand side of the table
        (He, Ne, Ar, Kr, Xe, and Rn) are called "Noble gases." Noble gases are stable elements, and do not easily react
        or bond with other elements.
      </p>
      <p>
        <b>Electrons will fill up lower Energy circles first before higher Energy circles.</b> A very important fact
        is that electrons will "fill" energy circles that are closer to the nucleus before filling energy circles that
        are farther from the nucleus. This is why if we start at the beginning of the Periodic Table, with hydrogen and
        move to the right (to helium, then lithium), we see that the electrons fill E1 first before they start to be in
        E2 (starting with lithium).
      </p>
      <p>
        Electrons will fill the lowest available Energy circle because they "like" to have the lowest amount of energy
        possible.
      </p>
      <p>
        <b>Why do electrons fill up lower Energy circles first?</b> We know that (negatively charged) electrons and
        (positively charged) protons are attracted to each other because of the electric force. This happens in atoms,
        where this force will pull electrons to the lowest Energy circle (closest to the nucleus) that is available for
        the electron to fit into. 
      </p>
    </div>

    

<div class="page" id="page6">
     <br/>
      <div class="text-centered">
        <iframe height="533" src="https://isp-tutor-project.github.io/demo/games/BuildElementGame/index.html" width="800">
        </iframe>
      </div>
    </div>

<div class="page" id="page7">

      <h3 class="text-centered">Summary</h3>

      <p>
        <b>First Energy circle (E1):</b> There can be up to <b>2 electrons in E1</b>. When there are 2 electrons in E1,
        this energy circle is full. There can be no more electrons at E1.
      </p>
      <p>
        <b>Second Energy circle (E2):</b> There can be up to <b>8 electrons in E2</b>. When there are 8 electrons in E2,
        this energy circle is full. There can be no more electrons at E2.
      </p>
      <p>
        After the second Energy circle, things get more complicated. (If you dare,
        <a class="brm-link" href="../energy-levels-of-elements/index.html" target="_blank">Click here</a>
        to see what happens after the second Energy circle...)
      </p>
      <p>
        Atoms "like" when their energy circles are full. This is one reason that atoms bond to form molecules.
      </p>

      <ul class="brm-list">
        <li>
          If an element only has a small number of electrons in the outer Energy circle, the element will "want" to get
          rid of the electron(s) in that outer Energy circle. For example, sodium (shown below) will "want" to get rid
          of the one electron in the outer (third) Energy circle. Now, the second Energy circle will be the outer Energy
          circle. Its outer Energy circle is full (with 8 electrons). The Na atom is now stable.
        </li>

<img alt="Orbital_Atom" class="img-centered img-size_med" src="NaFl_bonding2.jpg"/>
<br>
        

        <li>
          If an element (like fluorine, Fl) is closer to having a full outer Energy circle (the energy circle farthest
          from the nucleus), the element "wants" to take electrons to fill the outer Energy circle. The element fluorine has 7 electrons in 
          its outer energy circle. It just needs one more to be full. So, it takes the electron from the sodium atom.
        </li>
        <li>
        Since the Na atom lost an electron, it becomes positively charged. The Fl atom gained an electron and becomes negatively charged. The Na and Fl 
        atoms are attracted to each other through the electric force.
        </li>

      </ul>
      <p>
        This is why Na and Fl bond to form NaFl, sodium fluoride. This is why H and O bond to form H<sub>2</sub>O
        (two hydrogen and one oxygen atom), or water.
      </p>
    </div>

    <div class="page" id="page8">
      Another reason that atoms bond with other atoms to form molecules is because atoms "like" when the outer orbital 
      for electrons is full. This is the real reason that atoms "like" when their outer Energy circle is full, like we talked about 
      in this unit. This idea is even more advanced and <a class="brm-link" href="../energy-levels-of-elements/index.html" target="_blank">
      is discussed here</a>.

    </div>

{% endblock %}
            
{% block toc %}
<div class="nav-toc-container">
      <h3>Table of Contents: Elements unit</h3>
      <ul>
        <li><a href="#top" onclick="tocPageJump(1)">How electrons are organized in atoms</a></li>
        <li><a href="#top" onclick="tocPageJump(2)">First (lowest-energy) energy circle</a></li>
        <li><a href="#top" onclick="tocPageJump(3)">Second & Third energy circle</a></li>
        <li><a href="#top" onclick="tocPageJump(4)">One reason atoms bond to form molecules</a></li>
        <li><a href="#top" onclick="tocPageJump(5)">Noble gases</a></li>
        <li><a href="#top" onclick="tocPageJump(6)">GAME: Build Elements</a></li>
        <li><a href="#top" onclick="tocPageJump(7)">Summary</a></li>
        <li><a href="#top" onclick="tocPageJump(8)">Another reason atoms bond to form molecules</a></li>
      </ul>
    </div>
{% endblock %}
                