---
title: "Atoms: Electron Organization"
permalink: /brm/atoms-electron-organization/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Atoms: Electron Organization</h1>

<div class="page" id="page1">
      <h4>How Electrons are organized in atoms/elements.</h4>

      <p>
        To understand why some elements bond with other elements — and why some do not — it is important to understand how
        electrons are organized in different elements.
      </p>
      <p>
        In atoms, electrons move around in specific paths or "orbitals". These orbitals can be very, very complex and
        weird-looking
        (<a class="brm-link" href="../orbitals/" target="_blank">click here to see what some orbitals look like</a>).
        In drawings of atoms in these units (and generally on the internet), electrons are often shown along circles
        (around the atom's nucleus), like the picture below. These circles are *not* the pathways of the electrons (or
        how and where the electrons move!). Instead, they represent how much
        <a class="brm-link" href="../kinetic-and-potential-energy/index.html" target="_blank">energy</a>
        the electrons have.
      </p>
<br/>
      <img alt="energy_circle" class="img-centered" src="FirstEnergyCircle.PNG" width="500"/>
      <br/>

      <p>
        The circle that each electron is associated with represents the (small range of) energies of the electron(s)
        for that energy circle. Electrons associated with a given energy circle are at about the same energy level,
        regardless of the atom. This means that the two electrons along the innermost energy circle in the Carbon atom
        (above, left) and the two electrons along the innermost energy circle in the Oxygen atom (above, right)
        <i>all</i> have the same energy level (we'll call this E1). 
      </p>
      <p>
        In addition, the 4 electrons of the second (and outer) energy circle of the Carbon atom and the 6 electrons of
        the second energy circle of the Oxygen atom all have about the same energy level (we'll call this E2).
      </p>
      <p>
        <b>As the distance from the nucleus increases, the amount of energy associated with a particular energy circle
          increases</b>. So, the electrons in the outermost energy circle, E2, have more energy than the electrons of
        the innermost energy circle, E1.
      </p>
    </div>

<div class="page" id="page2">
      <p>
        <b>First (lowest-energy) energy circle.</b> This first Energy circle can have up to TWO electrons in it. This
        first Energy circle can't have any more than 2 electrons. If you look closely at the drawing of the (carbon)
        atom below (on the left) and the oxygen atom (below, right), you will notice that there are two electrons that
        are along the first Energy circle in both atoms.
      </p>
      <p>
        All atoms "like" having <u>two</u> electrons at this energy circle (E1). So, except for hydrogen (which only
        has one electron), all atoms have two electrons in the first energy circle. <i>There cannot be any more than
          two electrons in this first Energy circle.</i>
      </p>
<br/>
      <img alt="First_Second_Energy_Circles" class="img-centered" src="FirstSecondEnergyCircles.PNG" width="500"/>
<br/>
      <p>
        <i><b>Helium.</b></i> The element helium (He) has two electrons (see 
        <a class="brm-link" href="../periodic-table/" target="_blank">Periodic Table</a>). So, its
        first Energy circle is complete. This makes Helium a stable element, meaning it does not easily
        react or bond with other elements. It tends to stay on its own.
      </p>
      <p>
        <b><i>Hydrogen.</i></b> On the other hand, hydrogen (H) only has one electron. So, hydrogen's first Energy
        circle is not complete: it "wants" another electron to complete the Energy circle. So, unlike helium,
        hydrogen readily reacts and bonds with other elements (like with oxygen, to make water, H<sub>2</sub>O).
        This is why—even though it is the lightest and most buoyant element—people stopped using hydrogen in blimps and
        balloons. Hydrogen's high reactivity makes it too dangerous (look up the "Hindenburg disaster" if you are not
        familiar with it). People now use the (much) safer helium in blimps, balloons, etc.
      </p>
    </div>

<div class="page" id="page3">
      <p>
        <b>Second energy circle.</b> The second Energy circle (E2) can have up to EIGHT electrons in it. In E2, all
        types of atoms or elements "like" to have 8 electrons. For example, in the sodium (Na) atom below, there are 8
        electrons at this energy circle. (As with all different types of atoms, or elements, there are still only 2
        electrons in the first energy circle!)
      </p>

      <img alt="Orbital_Atom" class="img-centered" src="CloestOrbital_BRMAtomsUnit131.jpg"/>
      <br/>

      <p>
        <b><i>Neon. </i></b>The element neon (Ne) has full first and second Energy circles (E1 and E2). Since the first
        Energy circle is full with 2 electrons, and the second Energy circle is full with 8 electrons, Ne has 10
        electrons (you can double-check this on the 
        <a class="brm-link" href="../periodic-table/index.html" target="_blank">Periodic Table</a>
        ). This makes Ne less reactive than other elements with Energy circles that are not "full."
      </p>
      <p>
        <b><i>Noble gases. </i></b>You may have noticed that He and Ne (both stable elements with full Energy circles)
        are on the far right side of the Periodic Table. All of the elements on the far right-hand side of the table
        (He, Ne, Ar, Kr, Xe, and Rn) are called "Noble gases." Noble gases are stable elements, and do not easily react
        or bond with other elements.
      </p>
      <p>
        <b>Electrons will fill up lower Energy circles first before higher Energy circles.</b> A very important fact
        is that electrons will "fill" energy circles that are closer to the nucleus before filling energy circles that
        are farther from the nucleus. This is why if we start at the beginning of the Periodic Table, with hydrogen and
        move to the right (to helium, then lithium), we see that the electrons fill E1 first before they start to be in
        E2 (starting with lithium).
      </p>
      <p>
        Electrons will fill the lowest available Energy circle because they "like" to have the lowest amount of energy
        possible.
      </p>
      <p>
        <b>Why do electrons fill up lower Energy circles first?</b> We know that (negatively charged) electrons and
        (positively charged) protons are attracted to each other because of the electric force. This happens in atoms,
        where this force will pull electrons to the lowest Energy circle (closest to the nucleus) that is available for
        the electron to fit into. 
      </p>
    </div>

<div class="page" id="page4">
     <br/>
      <div class="text-centered">
        <iframe height="533" src="https://isp-tutor-project.github.io/demo/games/BuildElementGame/index.html" width="800">
        </iframe>
      </div>
    </div>

<div class="page" id="page5">

      <h4 class="text-centered">Summary</h4>

      <p>
        <b>First Energy circle (E1):</b> There can be up to <b>2 electrons in E1</b>. When there are 2 electrons in E1,
        this energy circle is full. There can be no more electrons at E1.
      </p>
      <p>
        <b>Second Energy circle (E2):</b> There can be up to <b>8 electrons in E2</b>. When there are 8 electrons in E2,
        this energy circle is full. There can be no more electrons at E2.
      </p>
      <p>
        After the second Energy circle, things get more complicated. (If you dare,
        <a class="brm-link" href="../energy-levels-of-elements/index.html" target="_blank">Click here</a>
        to see what happens after the second Energy circle...)
      </p>
      <p>
        <b>Why do we care about Energy circles?</b> We care because they help us to predict which elements will bond
        with which other elements. The basic idea is that elements like to have "full" Energy circles and also do not
        like incomplete (non-full) Energy circles. 
      </p>

      <ul class="brm-list">
        <li>
          If an element (like chlorine, Cl) is closer to having a full outer Energy circle (the energy circle farthest
          from the nucleus), the element "wants" to take electrons to fill the outer Energy circle.
        </li>
        <li>
          If an element only has a small number of electrons in the outer Energy circle, the element will "want" to get
          rid of the electron(s) in that outer Energy circle. For example, sodium (shown above) will "want" to get rid
          of the one electron in the outer (third) Energy circle. Now, the second Energy circle will be the outer Energy
          circle. Its outer Energy circle is full (with 8 electrons). The Na atom is now stable.
        </li>
      </ul>
      <p>
        This is why Na and Cl bond to form NaCl, common table salt. This is why H and O bond to form H<sub>2</sub>O
        (two hydrogen and one oxygen atom), or water.
      </p>
    </div>

{% endblock %}
            
{% block toc %}
<div class="nav-toc-container">
      <h3>Table of Contents: Elements unit</h3>
      <ul>
        <li><a href="#top" onclick="tocPageJump(1)">How electrons are organized in atoms</a></li>
        <li><a href="#top" onclick="tocPageJump(2)">First (lowest-energy) energy circle</a></li>
        <li><a href="#top" onclick="tocPageJump(3)">Second energy circle</a></li>
        <li><a href="#top" onclick="tocPageJump(4)">GAME: Build Elements</a></li>
        <li><a href="#top" onclick="tocPageJump(5)">Summary</a></li>
      </ul>
    </div>
{% endblock %}
                