---
title: "Vector vs. Scalar Quantities"
permalink: /brm/vectors/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Vector vs. Scalar Quantities</h1>

<div class="page" id="page1">
      <p>
        <b>Vector</b> quantities are variables that have both a <u>magnitude</u> (or amount) <i>and</i> a
        <u>direction</u>. Vectors are represented by arrows. The length of the arrow represents the magnitude, and
        the direction the arrow points is the direction.
      </p>
      <p>
        Some examples of vector quantities are:
      </p>

      <ul class="brm-list">
        <li>
          <b>Force:</b> It has a magnitude (amount of force) and direction the force acts on an object. In the
          picture below, the arrows show the direction that each force acts on the object. The length of the arrows
          represents the magnitude of each force. Because the force of gravity acting on the body is greater than
          the other forces, the arrow representing the force of gravity (or the weight of the object) is longest.
        </li>
      </ul>

     
        <img alt="slope_diagram" class="img-centered img-size_med" src="SteepSlopeNew_cropped.png"/>
      

      <ul>
        <li>
          <b>Instantaneous Velocity:</b> This is both the <u>speed</u> of an object and the <u>direction</u> it is
          moving at a point in time. The picture below shows the instantaneous velocity of a ball at two points as
          it rolls down a hill. When it is at the top of the hill, it is moving slower than when it's at the bottom
          of the hill. This is why the arrow is longer when the ball is at the bottom of the hill. The direction of
          the arrow is the direction the ball is moving at that point in time.
        </li>
      </ul>

      
        <img alt="ball_rolling_down_hill" class="img-centered img-size_med" src="BallRollingVelocityVector.GIF"/>
      

      <ul>
        <li>
          <b>Acceleration:</b> This is how quickly an object
            changes in speed and the direction of its change in
            speed. For example, in the picture below, two
            objects are falling downward due to gravity (there
            are no other forces acting on the objects). The
            direction of the arrows indicate that the objects
            are accelerating downward. The arrows are the same
            lengths because the objects accelerate by the same
            amount. (All objects fall with the same acceleration
            if only gravity acts on the objects!)
        </li>
      </ul>

      
        <img alt="object_accelerating_down" class="img-centered img-size_med" src="ObjectsAcceleratingDown.GIF"/>
      
      <br/>

    </div>

<div class="page" id="page2">






      <p>
        <b>Scalar</b> quantities are variables that only have a magnitude (or amount); they do not have a direction.
        Here are some examples:
      </p>

      <ul class="brm-list">
        <li>
          <b>Volume</b> is just the amount of space an object occupies. (It does not have a direction; how can it?)
        </li>
        <li>
          <b>Mass</b> is the amount of stuff (atoms and molecules) that makes up an object. (It does not have
          a direction.)
        </li>
        <li>
          <b>Distance</b> is the length of something or how far something moves. (It doesn't matter the direction(s)
          that the object traveled.)
        </li>
        <li>
          <b>Average Speed</b> is just how far an object moves divided by the time it took the object to move that
          distance. The object might have changed direction many times while it was moving.
        </li>
      </ul>




   

    </div>

    

{% endblock %}
            