---
title: "Forces on object moving in fluid"
permalink: /brm/forces-on-object-moving-in-fluid/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Forces on object moving in fluid</h1>

<div class="page" id="page1">
      <p>
        When an object is at rest in water, only the downward force of gravity and upward buoyancy forces act on
        the object. If these two forces are not balanced, the object will begin to accelerate in the vertical
        (up/down) direction.
      </p>
      <p>
        Once an object in a fluid such as water starts moving vertically, it also "feels" a force of resistance due
        to its movement through the water caused by the water molecules. This "drag force" — similar to air/wind
        resistance — pushes against the object in the direction opposite of its motion. As the object speeds up,
        this drag force also increases. Before long, the drag force will be large enough so that the sum of all
        forces acting on the object in the vertical direction is zero.  At this point, the object will reach its
        maximum speed and continue moving at this same constant speed. 
      </p>
      <p>
        The same thing happens to objects falling through the air: they will reach a maximum speed when the drag
        force (due to air resistance) is equal to the force of gravity. This maximum speed is called the
        "terminal velocity."
      </p>
      <p>
        The <b>shape</b> of the object affects the drag force from the fluid on the object. For example,
        a tear-shaped object will experience less drag force than a spherical object. But the reasons
        why different shaped objects experience different amounts of drag force are pretty complicated.
        You may learn about this later in a fluid dynamics class, most likely in college (especially
        if you're an engineering or science major).
      </p>
      <p>
        <a class="brm-link" href="../buoyancy/" target="_blank">Click here to return to the Buoyancy unit</a>.
      </p>

    </div>

{% endblock %}
            