---
title: "Energy: Sources and Forms"
permalink: /brm/energy-sources-forms-of-energy/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Energy: Sources and Forms</h1>

<div class="page" id="page1">
      <p>
        <b>First, what is Energy *not*?</b> The idea of energy is confusing to a lot of people. 
        But you need to understand that energy is <u>not</u> a type of substance. It is related to the motion or movement of atoms, molecules, and objects.
      </p>
      <p>
        Energy is an abstract (mathematical) measure related to the amount of motion of objects (including atoms and molecules). Energy related to motion is called "kinetic energy."
        Energy is also an abstract (mathematical) measure of the potential for <b>more</b> motion. Energy related to the potential for motion is called "potential energy."
      </p>
      <p>
        For example, the abstract (mathematical) way to measure an object's kinetic energy is:
      </p>

      <ul class="brm-list">
        <li>KE (of object) = 1/2*(mass of object)*(speed of object)<sup>2</sup></li>
      </ul>

      <p>
        So, you can see from this equation that kinetic energy is a measure of the object's motion: speed (as well as
        its mass).
      </p>
      

     <br/>

    </div>

<div class="page" id="page2">
      <p>
        <b>What are Energy Sources?</b> An energy source is something that has the ability to <i>change the motion
          of</i> objects, including molecules, atoms, and even electrons and protons.
      </p>
      <p>
        Sources and forms of energy: 
      </p>

      <ul class="brm-list">
        <li>
          Your muscles are one source of energy; your muscles can push, lift, and carry objects.
          The source of the energy from muscles is from
          <a class="brm-link" href="../chemicalvs-physicalreactions/" target="_blank">chemical reactions</a>
          that occur within the body. A complex molecule, called
          <!--
            <a href="goog_1455759455"></a>
          -->
          <a class="brm-link" href="../food/index.html" target="_blank">ATP</a>
          (Adenosine Tri-Phosphate, which has 3 phosphate molecules), is one source of energy. ATP is a critical
          molecule that allows your muscles to contract so you can move. How does ATP do this? ATP breaks down into
          ADP (Adenosine Di-Phosphate, which now has 2 phosphate molecules) and the phosphate molecule that ATP had
          lost. This chemical reaction releases energy in the form of the motion of the released phosphate molecule,
          which helps muscles to contract.
        </li>
      </ul>

      <img class="img-centered img-size_smaller" src="lifting-24401_1280.png"/>
     <br/>

      <form class="quiz_checkbox quiz">
        <b>Q1: What are some sources of energy for your muscles (that allows them to move)? (Select all that apply.)</b>
        <input name="question" type="checkbox" value="correct"/>
        <div class="label">(a) Food.
        </div><br/>
        <input name="question" type="checkbox" value="correct"/>
        <div class="label">(b) Oxygen.
        </div><br/>
        <input name="question" type="checkbox" value="correct"/>
        <div class="label">(c) Water.
        </div><br/>
        <input name="question" type="checkbox" value="incorrect"/>
        <div class="label">(d) Carbon Dioxide.
        </div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! Your muscles need food, oxygen, and water to be able to move and do work!
        </div>
        <div class="feedback-incorrect feedback">
          Actually, your muscles need to have food, oxygen, and water to be able to move and do work!
        </div>
      </form>


      <ul class="brm-list">
        <li>
          The wind (moving air) is another source of energy. The wind can push on objects and move them. You've
          probably seen the wind blowing things (like paper or dandelion seeds) around.                           
        </li>
      </ul>

      <img class="img-centered img-size_700" src="EnergyUnitGravityWind.jpg"/>
      <br/>

      <ul class="brm-list">
        <li>
          Objects that have mass are another source of energy: gravitational energy. For example,
          the Earth's gravity pulls downward on objects to make them fall to the Earth. Remember
          from the units on gravity that the Earth pulls on objects with the same amount of force
          that objects pull on the Earth, but in opposite directions! 
        </li>
      </ul>

    </div>

<div class="page" id="page3">
      <p>
        <b>Sources of energy at molecular/atomic level.</b> Now, let's look at sources and forms of energy that can
        change the motion of <i>atoms</i> and <i>molecules</i> (rather than an object as a whole).
      </p>

      <img class="img-centered img-size_700" src="FireSunEnergySectionBRM_CombinedImage.jpg"/>

      <ul class="brm-list">
        <li>
          Furnaces or fireplaces are sources of energy. Burning fuels such as wood or coal involves chemical reactions
          that release energy. The energy is released in two forms: (a) as kinetic energy of the molecules
          produced in the reaction and (b) light energy. You can see the light produced by this chemical
          reaction, burning, which we call "fire."
        </li>
        <li>
          Stars in our universe such as the Sun are sources of energy in the form of radiation, including visible
          light, infrared, and ultraviolet radiation. (See
          <a class="brm-link" href="../light/" target="_blank">Light/Electromagnetic Radiation</a> 
          unit for more information.) Even though radiation such as light does not have any mass, its energy is due
          to its motion. Light and all other radiation energy travels at 3×10<sup>8</sup>m/s. Radiation (light)
          from the Sun can also change to another form of energy. For example, radiation can hit objects and make the
          object warm up. What happens is that the radiation hits the object's atoms/molecules, causing the
          atoms/molecules to move around faster. This is how light or other types of radiation can be converted to
          thermal energy. (This is discussed more in the unit, <a class="brm-link" href="../energy-general/" target="_blank">Energy Can Change Forms</a>.)
        </li>
      </ul>
      <br/>

      <p>
        <b>Sources of energy at subatomic level.</b> Finally, some sources of energy can change the motion of even
        sub-atomic particles (such as electrons and protons).
      </p>

      <ul class="brm-list">
        <li>
          Electricity (due to the <a class="brm-link" href="../electric-force/" target="_blank">electric force</a>)
          is another form of energy. The attraction between two oppositely-charged particles
          (such as electrons and protons) pulls the particles toward each other. 
        </li>
      </ul>

    </div>

{% endblock %}
            