---
title: "Gymnosperms"
permalink: /brm/gymnosperms/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Gymnosperms</h1>

<div class="page" id="page1">

      <p>
        In contrast to most Angiosperms, <b>Gymnosperms</b> (from Greek, gym means “naked” and sperm means “seed”) do
        not have flowers. Gymnosperms are plants that produce their seeds in cones. 
      </p>

      <ul class="brm-list">
        <li>
          The seeds in gymnosperms (as shown below, left) are “naked.” This means that, unlike the seeds of angiosperms,
          the seeds are not surrounded by an ovary (which later develops into fruit). An angiosperm seed — which
          develops from the ovule —
          is shown below, right. Unlike the gymnosperm seed, it is surrounded by the ovary/fruit.
        </li>
      </ul>

      <div class="img3Col imgClear">

        <div class="imgCol">
          <div><b>Gymnosperm seed</b><br/></div><img height="175" src="Gymnosperm_Seed.jpg"/>
        </div>
        <div class="imgCol">
          <div><b>Angiosperm seed</b><br/></div> <img height="275" src="Angiosperm_Seed.jpg"/>
        </div>

      </div>




      <ul class="brm-list">
        <li>
          The seeds in pine trees are wedged between the woody “scales” of the cones. The picture below (left) shows a
          pine cone and some seeds from the pine cone (to the
          right of the cone). As shown below (on right), pine seeds may have "wings," which help them to move father
          away from the tree where they were "born."


          <br/><br/>


          <div class="img3Col imgClear">

            <div class="imgCol">
              <img height="250" src="PineConeSeedsLarger.jpg"/>
            </div>
            <div class="imgCol">
              <img height="200" src="PineSeedsWings.PNG"/>
            </div>
          </div>


        </li>
      </ul>


      <img alt="pine cone" class="img-centered" height="307" src="Gymnosperm1.jpg" width="400"/>


      <p>
        Conifers are (by far) the most common type of gymnosperm. Conifers are woody plants with
        needles (as shown in the picture above).  Conifers include: cedars, firs,
        cypresses, junipers, kauri, larches, pines, hemlocks, redwoods, spruces, and yews.
      </p>



      <div class="img3Col imgClear">


        <div class="imgCol">
          <div><b>Cedars</b></div><img height="185" src="CedarTrees.PNG"/>
        </div>
        <div class="imgCol">
          <div><b>Balsam fir</b></div><img height="185" src="balsam_fir.jpg"/>
        </div>
        <div class="imgCol">
          <div><b>Cyprus branch &amp; cones</b></div><img height="185" src="BaldCyprusConesLeaves.png"/>
        </div>


      </div>

      <br/>





      <br/>
          


      <p>
        <b>Life Cycle of Gymnosperms.</b> A mature gymnosperm tree generally has both female and male
        cones.
      </p>
      <p>
        What we call pine cones (shown in the pictures below) are the tree's female reproductive organs.
        In a mature pine cone, egg cells are formed at the base of the scaly leaf-like structures
        (near the center of the cone). (The pinkish areas in the middle picture below show about
        where the eggs are.)
      </p>

      <br/>
      <img alt="pine cones" class="img-centered" src="PineConesCombinedOPt1.jpg" width="700"/>
      <br/>

      <p>
        Gymnosperms also have male pollen-producing organs (pollen cones, shown below), which are soft and form in
        clusters. The male cones are in general located lower on the tree than female cones. This makes it more likely
        that the wind blows pollen to different trees, fertilizing their eggs. (This is a good thing because it causes
        genetic diversity.) Pollen that lands near an egg between the
        scaly leaves of a mature female pine cone will form a tunnel to the center of the egg and fertilize it.

      </p>

      <img class="img-centered" src="MalePineCones_cropped.jpg" width="500"/>

      <br/>
      Fertilized eggs become seeds, which contain a plant embryo. Some time later, the scaly leaves of the pine
      cones open up and the seeds are blown away by the wind, where (if lucky) they will grow into trees.
      <br/><br/>
      This cycle is shown below.
      <br/><br/>
      <img alt="simple life cycle of gymnosperm" class="img-centered" src="Gymnosperm_2-15-21.jpg" width="600"/>

    </div>

{% endblock %}
            