---
title: "Inclined Plane Experiment Animation"
permalink: /brm/RampAnimation/index.html
---
            
{% extends "brm.njk" %}
            
{% block page_content %}
            
    <h1>Inclined Plane Experiment Animation (With Sound)</h1>

      <h3 class="text-centered font-pt-sans">
          Click anywhere on the screen below to begin. (You can click on the
          screen to pause at any point.)
         <br/>
          When you're done, go back to "Home &amp; HELP" by clicking the button above.
      </h3>

      <div class="text-centered">
        <video controls="" height="555" width="800">
          <source src="RampAnimation.mp4" type="video/mp4"/>
        </video>
      </div>

  
{% endblock %}
