---
title: "Energy Levels of Atoms"
permalink: /brm/energylevel/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Energy Levels of Atoms</h1>

<div class="page" id="page1">
      <p>
        An interesting fact about atoms is that their electrons can only have certain amounts of energy. The electrons
        can't just have any amount of energy. The energies that electrons are "allowed" to have are represented by
        Energy circles.
      </p>
      <p>
        The energy levels of electrons within atoms represent the total energy of the electrons, and include
        both their 
        <a class="brm-link" href="../kinetic-and-potential-energy/" target="_blank">Kinetic and Potential energies</a>.
        Interestingly, the kinetic energy of electrons actually decreases as the energy levels get higher (or are
        farther from the nucleus of the atoms). However, the potential energy of the electrons due to the attractive
        <a class="brm-link" href="../electric-force/" target="_blank">electric force</a>
        between the electrons and protons in the nucleus increases as electrons go to higher energy levels (farther
        from the nucleus). The total energy increases in orbits that are farther from the nucleus because there is a
        greater increase in potential energy than decrease in kinetic energy with increasing energy levels. As a result,
        there is a net gain in energy.
      </p>
      <p>
        Below is an example of a sodium (Na) atom with its three Energy levels (or Energy Circles) shown:
      </p>

      <img class="img-centered" src="ClosestOrbital_BRMAtomsUnit131.jpg"/>
     <br/>


     <form class="quiz_choice quiz">
      <b>Q: Which of the following is true about electrons in the first energy level/circle of atoms?
      </b>
      <input name="question" type="radio" value="incorrect"/>
      <div class="label">a) They have more energy than electrons in higher energy levels/circles.</div><br/>
      <input name="question" type="radio" value="correct"/>
      <div class="label">b) They have less energy than electrons in higher energy levels/circles.</div><br/>
      <input name="question" type="radio" value="incorrect"/>
      <div class="label">c) They have similar energies as electrons in higher energy levels/circles.</div><br/>
      <button class="submit-btn" type="submit">Submit</button>
      <div class="feedback-correct feedback">
        That's right! Electrons in the first energy level/circle have less total energy than electrons in higher energy levels/circles. 
        This is because electrons in this level are closest to the nucleus of the atom and have the lowest potential energy.
      </div>
      <div class="feedback-incorrect feedback">
        Actually, electrons in the first energy level/circle have less total energy than electrons in higher energy levels/circles. 
        This is because electrons in this level are closest to the nucleus of the atom and have the lowest potential energy.
      </div>
    </form>



    </div>

{% endblock %}
            