---
title: "Light Intensity vs. Algae Growth"
permalink: /brm/AlgaeFigCitation/index.html
---
            
{% extends "popup.njk" %}
            
{% block page_content %}
            
        <p>
            This graph is from the paper entitled
            "Evaluation of Relationship between Light Intensity (Lux) and Growth of Chaetoceros muelleri" (2013)
            in a scientific journal, Journal of Oceanography and Marine Research. The authors of this paper are
            Sumilesh Wati Pal, Navneel Kunal Singh and Khairul Azam. 
            (Open Access; re-printing from this journal is allowed if the paper and authors are cited.)
        </p>
    

{% endblock %}
            