---
title: "Energy Levels of Electrons"
permalink: /brm/energy-levels-of-elements/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Energy Levels of Electrons (Advanced)</h1>

<div class="page" id="page1">
      <p>
        There are only certain levels of energy that electrons in atoms can have. These are represented
        in the Energy circles. Each Energy circle corresponds with a particular (very small) range
        of energies of the electrons in that Energy circle. 
      </p>
      <p>
        Each Energy circle is associated with different shapes of orbitals that electrons move around
        in. (Some of these orbital shapes are <span style="color:#4c1130">pretty crazy:</span>
        <a class="brm-link" href="../orbitals/" target="_blank">click here to see some orbital shapes</a>!)
        The different orbitals within a particular Energy circle have slightly different energies.
      </p>

      <p>Another reason that atoms bond with other atoms to form molecules is because atoms "like" when the outer orbital 
      for electrons is full. This is the real reason that atoms "like" when their outer Energy circle is full, like we 
      discussed <a class="brm-link" href="../atoms-electron-organization/index.html" target="_blank">
       in this unit</a>.

      <p>
        (I'm bailing here; take me back to the
        <a class="brm-link" href="../atoms-electron-organization/" target="_blank">Atoms: Electron Organization</a>
        unit. Maybe I'll come back later, after I have a more solid understanding of atoms...)
      </p>
     <br/><br/>
      <b>Energy Circles</b>
      
      <p>
        The <b>first Energy circle</b> (corresponding to the lowest energy levels of electrons) only
        has one orbital shape, called "s" (these "s" orbitals happen to be spherical).
      </p>

      <ul class="brm-list">
        <li>
          The "s" orbital can hold up to 2 electrons. The s orbital is "full" with <b>2 electrons</b>.
        </li>
      </ul>

      <p>
        The <b>second Energy circle</b> has 2 orbital shapes: the "s" (again) and the "p" orbital.
      </p>

      <ul class="brm-list">
        <li>The "s" orbital holds up to 2 electrons.</li>
        <li>
          The "p" orbital can hold up to 6 electrons. The p orbital is "full" with 6 electrons.
          <ul class="brm-list nested-list">
            <li>So, in total, the second Energy circle holds up to <b>8 electrons</b> (2 + 6).</li>
          </ul>
        </li>
      </ul>


      <p>
        The <b>third Energy circle</b> has (maybe you guessed it?) 3 orbital shapes:
      </p>

      <ul class="brm-list">
        <li>The "s" orbital holds up to 2 electrons.</li>
        <li>The "p" orbital can hold up to 6 electrons. The p orbital is "full" with 6 electrons.</li>
        <li>
          And now a "d" orbital, which can hold up to 10 electrons.
          <ul class="brm-list nested-list">
            <li>So, in total, the third Energy circle holds up to <b>18 electrons</b> (2 + 6 + 10).</li>
          </ul>
        </li>
      </ul>

      <p>
        The <b>fourth Energy circle</b> has (you guessed it!) 4 orbital shapes:
      </p>

      <ul class="brm-list">
        <li>The "s" orbital holds up to 2 electrons.</li>
        <li>The "p" orbital can hold up to 6 electrons. The p orbital is "full" with 6 electrons.</li>
        <li>The "d" orbital, which can hold up to 10 electrons.</li>
        <li>
          And now an "f" orbital, which can hold up to 14 electrons.
          <ul class="brm-list nested-list">
            <li>So, in total, the fourth Energy circle holds up to <b>32 electrons</b> (2 + 6 + 10 + 14).</li>
          </ul>
        </li>
      </ul>

      <p>
        <b>(We'll stop with this fourth Energy circle.)</b>
      </p>
      <p>
        The different orbitals correspond with slightly differ energies. From lowest to highest energies: s, p, d,
        and f.
      </p>
      <p>
        The element with one complete (or "full") Energy circle (the first one, #1) is helium (He), with 2 electrons
        (both in the "s" orbital).
      </p>
      <p>
        The element with two complete (or "full") Energy circles (#1 and #2) is neon (Ne), with 10 electrons
        (2 in the first "s" orbital, 2 in the second "s" orbital, and 6 in the first "p" orbital).
      </p>
      <p>
     
        
</div>


<div class="page" id="page2">

<b>Energy Circles (reminder)</b>

<p>
        The first Energy circle, <b>E1</b>, only has one orbital shape, called "s" (these "s" orbitals happen to be spherical). E1s is the lowest-energy 
        orbital and shown at the bottom of the figure below. (The red circles represent electrons, and the numbers inside the "electrons" indicate the order they 
        fill up the energy circles and orbitals: from lowest to highest energy.)
      </p>

      <ul class="brm-list">
        <li>
          The "s" orbital can hold up to 2 electrons. The s orbital is "full" with <b>2 electrons</b>.
        </li>
      </ul>

<img class="img-centered img-size" src="ElectronConfig_30electrons_Larger_noNobelGases3.png"/>
      

            <p>
        <b>E2</b> has 2 orbital shapes: the "s" (again) and the "p" orbital.
      </p>

      <ul class="brm-list">
        <li>The "s" orbital holds up to 2 electrons.</li>
        <li>
          The "p" orbital can hold up to 6 electrons. The p orbital is "full" with 6 electrons.
          <ul class="brm-list nested-list">
            <li>So, in total, the second Energy circle holds up to <b>8 electrons</b> (2 + 6).</li>
          </ul>
        </li>
      </ul>


      <p>
        <b>E3</b> has 3 orbital shapes:
      </p>

      <ul class="brm-list">
        <li>The "s" orbital holds up to 2 electrons.</li>
        <li>The "p" orbital can hold up to 6 electrons. The p orbital is "full" with 6 electrons.</li>
        <li>
          And now a "d" orbital, which can hold up to 10 electrons.
          <ul class="brm-list nested-list">
            <li>So, in total, the third Energy circle holds up to <b>18 electrons</b> (2 + 6 + 10).</li>
          </ul>
        </li>
      </ul>

      <p>
        <b>E4</b> has 4 orbital shapes:
      </p>

      <ul class="brm-list">
        <li>The "s" orbital holds up to 2 electrons.</li>
        <li>The "p" orbital can hold up to 6 electrons. The p orbital is "full" with 6 electrons.</li>
        <li>The "d" orbital, which can hold up to 10 electrons.</li>
        <li>
          And now an "f" orbital, which can hold up to 14 electrons.
          <ul class="brm-list nested-list">
            <li>So, in total, the fourth Energy circle holds up to <b>32 electrons</b> (2 + 6 + 10 + 14).</li>
          </ul>
        </li>
      </ul>

</div>

<div class="page" id="page3">

<img class="img-centered img-size_900" src="PeriodicTable_simpler_groups_labeled3.png"/>

<br>Elements "like" it when their outer-most orbital is full. Elements lose or gain electrons to make this happen. We'll discuss three 
groups of elements here: (a) Noble gases, which have full outer orbitals (and because of this do not lose or gain electrons), (b) Halogens (which 
need one more electron to have a full outer orbital), and (c) alkali metals (which have to lose one electron to have a full outer orbital).

<br>
<br>

<b>Noble gases.</b> The elements in the last column of the periodic table are called "noble gases." Noble gases include helium, neon, and argon.
Noble gases are stable, which means they do not bond with other elements to form molecules. 
This is because their outer orbitals are full. This is shown below, where the name of the noble gas is shown beside its last 
electron. 

<img class="img-centered img-size_900" src="ElectronConfig_30electrons_Larger_NobelGases.png"/>

<br>
Except for He (helium), which has a complete s-orbital at E1, all other noble gases have complete p-orbitals. 

<br><br>

<b>Halogens.</b> The elements in the second-to-last column are called "halogens." These elements include fluorine, chlorine, and 
bromine. Halogens need just one more electron to fill their outer orbitals. This is shown in the figure below, where the halogen elements 
&mdash; shown beside the total number of electrons they have in their neutral state &mdash; are 
circled in pink.  

<img class="img-centered img-size_900" src="ElectronConfig_30electrons_Larger_NobelGases_Halogen.png"/>

<br>

<b>Alkali metals.</b> Elements in the first column of the periodic table (for example, lithium (Li), sodium (Na), and potassium (K), circled in blue below) are called "alkali metals." This group 
of elements "like" to bond with other elements to form molecules. They do this by losing an electron (which gives them a net positive electric charge).


<img class="img-centered img-size_900" src="ElectronConfig_30electrons_Larger_Alkali_NobelGases.png"/>

Since halogen elements "need" one more electron and alkali metals "want to lose" one electron, halogen elements tend to bond 
with alkali metal elements to form molecules such as: LiF, NaCl, and KBr. 

<p>
<b>Hydrogen.</b> Hydrogen is a "special" element. It only has one electron. So, it can bond with other elements to form molecules by either 
gaining one electron (so that it's s-orbital is full with 2 electrons) or losing one electron. Hydrogen in our atmosphere often bonds 
with another hydrogen atom by sharing their electrons so that each has 2 electrons.
</p>

</div>

<div class="page" id="page4">

      <h2 class="text-centered" style="color:#073763">Build An Element Mission!</h2>

      <div class="text-centered">
        <iframe height="560" src="https://isp-tutor-project.github.io/demo/games/BuildElementGame/index.html" width="900">
        </iframe>
      </div>

    </div>

{% endblock %}
            