---
title: "Energy Levels of Electrons"
permalink: /brm/energy-levels-of-elements/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Energy Levels of Electrons (Advanced)</h1>

<div class="page" id="page1">
      <p>
        There are only certain levels of energy that electrons in atoms can have. These are represented
        in the Energy circles. Each Energy circle corresponds with a particular (very small) range
        of energies of the electrons in that Energy circle. 
      </p>
      <p>
        Each Energy circle is associated with different shapes of orbitals that electrons move around
        in. (Some of these orbital shapes are <span style="color:#4c1130">pretty crazy:</span>
        <a class="brm-link" href="../orbitals/" target="_blank">click here to see some orbital shapes</a>!)
        The different orbitals within a particular Energy circle have slightly different energies.
      </p>
      <p>
        (I'm bailing here; take me back to the
        <a class="brm-link" href="../atoms-electron-organization/" target="_blank">Atoms: Electron Organization</a>
        unit. Maybe I'll come back later, after I have a more solid understanding of atoms...)
      </p>
     <br/><br/>
      <b>Energy Circles</b>
      <p>
     <br/>
        The <b>first Energy circle</b> (corresponding to the lowest energy levels of electrons) only
        has one orbital shape, called "s" (these "s" orbitals happen to be spherical).
      </p>

      <ul class="brm-list">
        <li>
          The "s" orbital can hold up to 2 electrons. The s orbital is "full" with <b>2 electrons</b>.
        </li>
      </ul>

      <p>
        The <b>second Energy circle</b> has 2 orbital shapes: the "s" (again) and the "p" orbital.
      </p>

      <ul class="brm-list">
        <li>The "s" orbital holds up to 2 electrons.</li>
        <li>
          The "p" orbital can hold up to 6 electrons. The p orbital is "full" with 6 electrons.
          <ul class="brm-list nested-list">
            <li>So, in total, the second Energy circle holds up to <b>8 electrons</b> (2 + 6).</li>
          </ul>
        </li>
      </ul>


      <p>
        The <b>third Energy circle</b> has (maybe you guessed it?) 3 orbital shapes:
      </p>

      <ul class="brm-list">
        <li>The "s" orbital holds up to 2 electrons.</li>
        <li>The "p" orbital can hold up to 6 electrons. The p orbital is "full" with 6 electrons.</li>
        <li>
          And now a "d" orbital, which can hold up to 10 electrons.
          <ul class="brm-list nested-list">
            <li>So, in total, the third Energy circle holds up to <b>18 electrons</b> (2 + 6 + 10).</li>
          </ul>
        </li>
      </ul>

      <p>
        The <b>fourth Energy circle</b> has (you guessed it!) 4 orbital shapes:
      </p>

      <ul class="brm-list">
        <li>The "s" orbital holds up to 2 electrons.</li>
        <li>The "p" orbital can hold up to 6 electrons. The p orbital is "full" with 6 electrons.</li>
        <li>The "d" orbital, which can hold up to 10 electrons.</li>
        <li>
          And now an "f" orbital, which can hold up to 14 electrons.
          <ul class="brm-list nested-list">
            <li>So, in total, the fourth Energy circle holds up to <b>32 electrons</b> (2 + 6 + 10 + 14).</li>
          </ul>
        </li>
      </ul>

      <p>
        <b>(We'll stop with this fourth Energy circle.)</b>
      </p>
      <p>
        The different orbitals correspond with slightly differ energies. From lowest to highest energies: s, p, d,
        and f.
      </p>
      <p>
        The element with one complete (or "full") Energy circle (the first one, #1) is helium (He), with 2 electrons
        (both in the "s" orbital).
      </p>
      <p>
        The element with two complete (or "full") Energy circles (#1 and #2) is neon (Ne), with 10 electrons
        (2 in the first "s" orbital, 2 in the second "s" orbital, and 6 in the first "p" orbital).
      </p>
      <p>
     <br/>
        <b>Nickel.</b> We may <i>expect</i> that there would be an element that has three full Energy
        circles, with 28 electrons (2 + 8 + 18). The element with 28 electrons is nickel (Ni). The
        picture below shows how electrons are arranged in Energy circles in nickel. You may have noticed
        that — instead of having 3 completed Energy circles — nickel has 4 Energy circles. Why is this??
      </p>

      <img alt="Nickel Atom" height="390" src="nickel_atom.png" width="400"/>
      <br/>

      <p>
        <b><i>It turns out that the energy of the s orbital of the 4th Energy circle is LOWER than the energy of the
            d orbital of Energy circle 3</i></b>!! (Physics is crazy and complicated!)
      </p>
      <p>
        Because electrons will fill the lowest-energy orbital that is available, electrons fill the Energy
        circle 4 "s" orbital before they start to fill the Energy circle 3 "d" orbital!
      </p>
      <p>
        The energy levels of different Energy circles and orbitals are shown in the chart below. Each red circle is
        an electron at that given Energy circle and orbital. Charts like this are one common way to represent the
        Energy circle and orbitals of electrons in atoms.  This chart shows that the energy of the "E4s" orbital is
        actually <i>lower</i> than the energy of the "E3d" orbital.
      </p>
      <p>
        Electron configuration chart for the element with 28 electrons (and protons), nickel (Ni). 
      </p>

      <a href="../energy-levels-of-elements/ElectronConfigNi_noGroupings.GIF?attredirects=0/index.html">
        <img alt="electron configuration image" src="ElectronConfigNi_noGroupings.GIF"/>
      </a>

      <p>
        Below is the electron configuration chart for nickel again, with the associated orbitals for different Energy
        circles grouped. You can see that the E3d orbitals actually have more energy than the E4s orbital. 
      </p>

      <a href="../energy-levels-of-elements/ElectronConfig_Ni.GIF?attredirects=0/index.html">
        <img alt="electron configuration chart" src="ElectronConfig_Ni.GIF"/>
      </a>

      <p>
        So, for the element with 28 electrons, nickel, after the "E3p" orbitals (the "p" orbitals in Energy circle 3)
        are filled, the next 2 electrons will fill the "E4s" orbitals.
        So, the remaining 8 electrons are in the "E3d" orbitals, or the "d" orbital of the third Energy circle.
        This means there are a total of 16 rather than 18 electrons in the third Energy circle.
        The other 2 electrons are in the "s" orbital of the next (fourth) Energy circle. 
      </p>

      <p>
        Nickel has two "extra" electrons in the fourth Energy circle (where it "wants" to have 32).
        Because of this, nickel bonds with elements that "want" two more electrons to complete an Energy circle.
        These elements include sulfur and oxygen. 
      </p>
      <p>
        <i>Reminder: Each Energy circle represents a certain (range of) energy of the electrons at that Energy
          circle. The electrons at each Energy circle move around the nucleus in different paths, or orbitals
          (<a class="brm-link" href="../orbitals/index.html" target="_blank">shown here</a>). 
          (They do not move around the nucleus in circles, as shown here. The circles represent the different energy
          levels — or approximate amounts of energy of electrons at that Energy circle.)</i>
      </p>

     <br/>
      <p>
        <b>Zinc.</b> The element zinc (Zn) has 30 electrons, 2 more than Ni has. These two electrons fill up the
        "d" orbital of the third Energy circle, so that the third Energy circle is full (with 18 electrons). 
      </p>

     <br/>
      <p>
        <b>Iron.</b> The chart below shows the electron configuration for iron, Fe, which has 26 electrons. Each
        red circle represents an electron. The number represents the Energy circle and the letters "s", "p", and "d"
        represent that orbitals of the electrons. 
      </p>

      <a href="../energy-levels-of-elements/ElectronCongifIron.GIF?attredirects=0/index.html">
        <img src="ElectronCongifIron.GIF"/>
      </a>
      <br/>
     <br/>
      <b>Go to the next Page to Build Elements Yourself!</b>
</div>

<div class="page" id="page2">

      <h2 class="text-centered" style="color:#073763">Build An Element Mission!</h2>

      <div class="text-centered">
        <iframe height="560" src="https://isp-tutor-project.github.io/demo/games/BuildElementGame/index.html" width="900">
        </iframe>
      </div>

    </div>

{% endblock %}
            