---
title: "Earth's Gravitational Force"
permalink: /brm/the-earth-s-gravitational-attraction-direction-and-strength-weight/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Earth's Gravitational Force</h1>

<div class="page" id="page1">

      <p class="content-item">
        <b>What is a Gravitational Force?</b> Gravitational forces are the forces between any two objects that have
        mass. The gravitational forces between two objects are "mutual."  By "mutual" force, we mean that the
        magnitude (or amount) of the force on both objects is the <i>same</i> (just in different directions). This
        idea is represented in the picture below, where the force of gravity on an object due to the earth is the
        <i>same</i> as the force of gravity on the earth from that object. The forces are just in opposite directions.
        (Sounds crazy, right? But it's true!)  This idea is discussed in more detail in the
        <a class="brm-link" href="../mass-gravitationalforce/index.html" target="_blank">Gravitational Force</a> unit. 
      </p>

      <img alt="Earth Force of Gravity" class="img-centered" height="156" src="ObjectEarthGravity.png" width="400"/>

      <p class="content-item">
        The important point here is that the gravitational forces acting on the Earth and acting on any object
        on or near the Earth are <b>equal</b> in strength.
      </p>
    </div>

<div class="page" id="page2">
      <p class="content-item">
        <b>Direction of Gravitational Force.</b> The direction of the force of gravity for all objects on earth is
        downward and toward the center of the earth (this idea is represented in the picture below). This is true
        for any planet or other body in outer space: the force of gravity on objects always acts downward and toward 
        the center of the planet or other body in outer space. 
      </p>
      <p class="text-centered">
        <img alt="Earth_force acting towards Earth" height="320" src="EarthImage1.jpg" width="400"/>
      </p>
    </div>

<div class="page" id="page3">
      <p class="content-item">
        <b>Magnitude (strength or amount) of Earth's Gravitational Force.</b> In general, the acceleration of an
        object in a given direction is caused by the
        <a class="brm-link" href="../net-force/" target="_blank">net force</a>
        acting on that object in that direction. The exact value of the acceleration of an object in a given
        direction is equal to the net force acting in that direction divided by the mass of the object (see the
        introductory unit to 
        <a class="brm-link" href="../forces-and-motion-newton-s-second-law/" target="_blank">Newton's Second Law</a> 
        for more information).
      </p>
      <p class="text-centered">
        <b>Newton's Second Law:</b>
      </p>
      <p class="text-centered" style="color:#0000ff">
        <b>Acceleration of object = The net force acting on object / mass of object</b>
      </p>
      <p class="content-item">
        Newton's Second Law also applies to gravitational forces...
      </p>
      <p class="content-item">
        On Earth, if only gravity is acting on an object (there is no air resistance), the object will fall
        straight down toward the center of the earth. The acceleration of any object caused by the earth's gravity is
        <b>g</b> (which is equal to about 10 m/s<sup>2</sup> or meters per second per second downward). (This may
        seem surprising to you. But we know this because scientists have measured the acceleration of different
        objects falling in vacuums (with no air) and have found that they all fall at the same rate. Even a feather
        falls at the same rate as a rock (if there is no air resistance)!)
      </p>
      <p>
        According to Newton's Second Law:
      </p>
      <p class="text-centered" style="color:#0000ff">
        Acceleration of object = The net force acting on object / mass of object
      </p>
      <p class="content-item">
        Because gravity is the only force acting on the object, the "net" force is just the force due to gravity:
      </p>
      <p class="text-centered" style="color:#0000ff">
        Acceleration of object = Gravitational force on object / mass of object
      </p>
      <p class="content-item">
        But we know, from scientific experiments, that <u><i>all</i></u> objects fall with an acceleration of g
        (when there is no air resistance).  So,
      </p>
      <p class="text-centered" style="color:#0000ff">
        <b>g</b> (m/s<sup>2</sup>) = Gravitational force on object / mass of object (kg)
      </p>

      <br/>

      <p class="text-centered">
        So, the magnitude of the earth’s gravitational force pulling down on an object is:
      </p>

      <img alt="gravitational force on object" class="img-centered" src="GravForceEqn.png" width="600"/>

    </div>

<div class="page" id="page4">
      <p class="content-item">
        <b>Weight.</b> We call the gravitational force on an object caused by the Earth's mass the <i>weight</i> of
        the object (on Earth). 
        The weight of an object is equal to the mass of the object times the acceleration due
        to gravity on Earth: <b>g</b> (about 10 m/s<sup>2</sup>):
      </p>
      <p class="text-centered">
        <b>Weight of object = mass of object * acceleration due to gravity</b>
      </p>

      <p class="content-item">
        The more mass an object has, the stronger the earth pulls on that object (and, because gravity is a
        mutually attractive force, the stronger the object pulls on the earth!). (See the
        <a class="brm-link" href="../mass-gravitationalforce/" target="_blank">Gravitational Force</a>
        unit for more information.) The force that the earth pulls on an object on the earth is the object's
        weight. And the direction of the force of weight is straight down (toward the center of the earth).
      </p>
     <br/>
    </div>

<div class="page" id="page5">
      <p class="content-item">
        <b>Difference between Mass and Weight.</b> As discussed in the 
        <a class="brm-link" href="../mass/" target="_blank">Mass</a> 
        and
        <a class="brm-link" href="../mass-gravitationalforce/index.html" target="_blank">Gravitational Force</a> 
        units, the mass of an object is constant and does not depend on where the object is. In contrast, the
        weight of an object does depend on where the object is: the weight of an object on earth will be more
        than the weight of that object on the moon. But the object will weigh less on earth than it
        would on Jupiter (which is a very massive planet!).
      </p>



      <form class="quiz_choice quiz">
        <b>Q1: The mass of an object is 10 kg. What is the force on the object due to the Earth's gravity?</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) It's also 10 kg.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) It's equal to about 10 m/s<sup>2</sup>.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">c) It's equal to about 100 N.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) I really don't know.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! The magnitude of the earth's gravitational force acting on the object is the object's mass times the
          acceleration due to gravity (about 10 m/s<sup>2</sup>).
          So, for a 10 kg object, this force is about 100 N (kg*m/s<sup>2</sup>).
        </div>
        <div class="feedback-incorrect feedback">
          Actually, the magnitude of the earth's gravitational force acting on the object is the object's mass times the
          acceleration due to gravity (about 10 m/s<sup>2</sup>).
          So, for a 10 kg object, this force is about 100 N (kg*m/s<sup>2</sup>).
        </div>
      </form>
     <br/><br/>

      <form class="quiz_choice quiz">
        <b>Q2: Let's say that the earth pulls on you with a force of 500 N (kg × m/s<sup>2</sup>).
          What force do you think your body pulls on the earth with?</b>
        <input name="question" type="radio" value="correct"/>
        <div class="label">a) 500 N.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) Greater than 500 N.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) Less than 500 N.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) I really don't know.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! Because gravity is a mutually attractive force, your body will pull on the
          earth with the same force that the earth pulls on your body! This is 500 N.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, because gravity is a mutually attractive force, your body will pull on the
          earth with the same force that the earth pulls on your body! This is 500 N.
        </div>
      </form>

     <br/><br/>

      <form class="quiz_choice quiz">
        <b>Q3: You have two objects that are the same size and shape.
          But one object weighs twice as much as the other object.
          If you drop them at the same time from the same height above the ground, what will happen?
          (In this problem, ignore the effects of air resistance. Only gravity acts on the objects.)</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) The heavier object will hit the ground first.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) The lighter object will hit the ground first.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">c) They will hit the ground at the same time.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) I really don't know.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! Since only gravity is acting on the objects (we are ignoring the effects of air resistance),
          the objects would fall with the same acceleration (or change in speed), g, which is about 10 m/s/s or 10
          m/s<sup>2</sup>.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, since only gravity is acting on the objects (we are ignoring the effects of air resistance),
          the objects would fall with the same acceleration (or change in speed), g, which is about 10 m/s/s or 10
          m/s<sup>2</sup>.
        </div>
      </form>

    </div>

<div class="page" id="page6">
      <p class="content-item">
        <b>The Earth's gravity allows us to have an atmosphere.</b> Like all matter, the molecules that make up the
        air in the Earth's atmosphere have mass. So, they are also pulled down by the Earth's gravity. If they were
        not pulled down, the molecules that make up air in our atmosphere would just fly off into outer space. And
        we would not be able to breathe! So, if air molecules did not have mass, we humans—and other animals and
        plants on the Earth—would not be alive. 
      </p>

      <img class="img-centered" src="sunriseearth-atmosphere.jpg"/>
     <br/>
      <p class="text-centered">The picture above shows the thin atmosphere surrounding the earth, held by the earth's
        gravity.</p>

    </div>

{% endblock %}
            
{% block toc %}
<div class="nav-toc-container">
      <h3>Table of Contents: The Earth's Gravitational Force</h3>
      <ul>
        <li><a href="#top" onclick="tocPageJump(1)">What is gravitational force</a></li>
        <li><a href="#top" onclick="tocPageJump(2)">Direction of gravitational force</a></li>
        <li><a href="#top" onclick="tocPageJump(3)">Magnitude of gravitational force</a></li>
        <li><a href="#top" onclick="tocPageJump(4)">Weight</a></li>
        <li><a href="#top" onclick="tocPageJump(5)">Mass vs. Weight</a></li>
        <li><a href="#top" onclick="tocPageJump(6)">Gravity is why we have an atmosphere</a></li>
      </ul>
    </div>
{% endblock %}
                