---
title: "INHelp"
permalink: /brm/inhelp/index.html
---
            
{% extends "brm.njk" %}
            
{% block page_content %}
            
    <h1>Plan Your Research (With Sound!)</h1>

    <p class="font-pt-sans text-lg text-centered">
      <strong>
        Click anywhere on the screen below to begin. (You can click on the screen to pause at any point.)
       <br/>
         When you're done, you can click on the "Home &amp; HELP" or "Chemical &amp; Physical Reactions" button above.
        </strong> 
    </p>

   <br/>

    <div class="text-centered">
      <iframe height="675" src="https://isp-tutor-project.github.io/demo/games/planyouresearch/index.html" width="1024">
      </iframe>
    </div>

  
{% endblock %}
