---
title: "Gravitational Force"
permalink: /brm/mass-gravitationalforce/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Gravitational Force</h1>

<div class="page" id="page1">
      <p>
        <b>What is Gravitational force?</b> The force due to gravity, or the gravitational force, is an attractive
        force <i>between</i> any objects. This attractive force is caused by the
        <a class="brm-link" href="../mass/index.html" target="_blank">masses</a>
        of the objects. That is, all objects pull other objects that have mass to them. The more mass the objects have,
        the stronger the gravitational pull between them is! 
      </p>
      <p>
        <span style="color:#ff0000">Some people think that the force of gravity just has to do with the pull of the earth
          (or other very large objects).</span>
        <b style="color:rgb(0,176,80)">
          But gravitational forces are actually between any objects, regardless of their sizes (after all, all objects
          have mass!).
        </b>
      </p>
      <p>
        Gravitational force, like all forces, is a vector quantity.

        This means it has both a magnitude (amount) and a direction. (You can click <a class="brm-link" href="../vectors/" target="_blank">here</a> for more information about vectors.)
      </p>
      <p class="text-centered"><b>For example,</b></p>

      <br/>
      <img class="img-centered" width="500px" src="CasesLargeSmallBodyGravity.png"/>

      <p class="text-centered">
        <b>In Case #2, Object A is still 15 kg, but Object C has more mass (50 kg).</b>
      </p>

     <br/>

      <!-- Quiz: Choice -->
      <form class="quiz_choice quiz">
        <b>Q1: Which do you think is true of the gravitational force acting on Object A in Case #1 versus Case #2? Why?</b>
        <input name="question" type="radio" value="incorrect"/><div class="label">(a) The gravitational force acting on Object A is greater in Case #1.</div><br/>
        <input name="question" type="radio" value="correct"/><div class="label">(b) The gravitational force acting on Object A is greater in Case #2.</div><br/>
        <input name="question" type="radio" value="incorrect"/><div class="label">(c) The gravitational force acting on Object A is the same in Case #1 as in Case #2.</div><br/>
        <input name="question" type="radio" value="incorrect"/><div class="label">(d) It's impossible to tell.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! The gravitational force between two objects is
          <a class="brm-link" href="../proportional-1/" target="_blank">proportional to</a>
          the masses of the objects. Because Object C is more massive (or has more mass) than Object B, the
          gravitational force between Objects A and C (in Case #2) is greater.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, the correct answer is b. The gravitational force between two objects is proportional to the masses
          of the objects. Because Object C is more massive (or has more mass) than Object B, the gravitational force
          between Objects A and C (in Case #2) is greater.
        </div>
      </form>

     <br/>

      <!-- Quiz: Choice -->
      <form class="quiz_choice quiz">
        <b>Q2: Which do you think is true of the gravitational force acting on Object B (in Case #1) versus Object C (in Case #2)? Why?</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">(a) The gravitational force acting on Object B is greater.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">(b) The gravitational force acting on Object C is greater.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">(c) The gravitational forces acting on Objects B and C are the same.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">(d) It's really impossible to tell.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! The gravitational force acting on Object C is actually greater than the the gravitational force acting on Object
          B. This is because the gravitational force acting on an object is due to both the other object's mass and its own mass.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, the correct answer is b. The gravitational force acting on Object C is actually greater than the
          gravitational force acting on Object B. This is because the gravitational force acting on an object is due to both the
          other object's mass and its own mass.
        </div>
      </form>

    </div>

<div class="page" id="page2">
      <p>
        <b>Gravity is an <i>interaction between</i> objects.</b> Like we already said, the more mass the two objects
        have, the stronger the gravitational attraction force between the two objects is. Gravitational forces are
        very small except when one or both of the objects have a large mass (like the Earth or Sun). We can say that
        the force of gravity between two objects is
        <a class="brm-link" href="../proportional-1/index.html" target="_blank">directly proportional to</a>
        the mass of each object:
      </p>
      <p class="text-centered">F<sub>g</sub>  
        <span class="font-roboto">∝</span> mass (Object A) 
      </p>
      <p class="text-centered">F<sub>g</sub>  
        <span class="font-roboto">∝</span> mass (Object B)
      </p>
      <p>
        This means that the gravitational force (F<sub>g</sub>) increases as the mass of Object A increases *and* that
        the gravitational force (F<sub>g</sub>) increases as the mass of Object B increases.
      </p>
      <p>
        As you might expect, the farther apart the two objects are, the smaller the gravitational attraction is. In
        fact, the force of gravity decreases pretty fast as the distance increases! This relationship is shown here:
      </p>
      <p class="text-centered">F<sub>g</sub> 
        <span class="font-roboto">∝</span> 
        1/(Distance between the objects)<sup>2</sup>
      </p>

     <br/><br/>

      <p class="text-centered">
        <b>If we combine all of these factors (mass and distance), we get:</b>
      </p>

      <p class="text-centered">F<sub>g</sub> 
        <span class="font-roboto">∝</span> 
        [mass (Object A) × mass (Object B)]/(Distance between the objects)<sup>2</sup>
      </p>
      <p class="text-centered">Or</p>
      <p class="text-centered">F<sub>g</sub> 
        <span class="font-roboto">∝</span> 
        (mass<sub>A</sub> mass<sub>B</sub>)/(Distance)<sup>2</sup>
      </p>
      <p class="text-left">
        This means that the force of gravity acting on Object A <b>is equal to</b> the force of gravity acting on
        Object B.

        In other words, they pull on each other with the same force! This idea of the <i>mutual attractive nature of gravity</i> is
        shown in the picture below:
      </p>

      <br/>

        <img alt="Force of Gravity between A and B" class="img-centered img-size_smaller" src="MutualGravitationalForce.png"/>

     <br/>
      <p class="text-left">
        This fact that there is the same pull of gravity acting on both objects is analogous to the fact that when
        objects collide, they exert the same force on each other.
       <br/><br/>
        So, you could say that
        <a class="brm-link" href="../newton-s-third-law/" target="_blank">Newton's Third Law</a>
        applies to gravitational forces between two objects.
      </p>
    </div>

<div class="page" id="page3">
      <p>
        <b>Acceleration due to gravity.</b> The acceleration of objects on a planet (or moon) due to gravitational
        force is proportional to the mass of the planet (or moon). Why? You may ask? Well, let's look again at the
        equation below (you may recognize this equation from the previous page):
      </p>
      <p class="text-centered">
        F<sub>g</sub>  
        <span class="font-roboto">∝</span> 
        (mass<sub>object</sub> × mass<sub>planet</sub>)/(Distance)<sup>2</sup>
      </p>
     <br/>
      <p>
        If only the gravitational force acts on the object, then according to
        <a class="brm-link" href="../forces-and-motion-newton-s-second-law/" target="_blank">Newton's Second Law</a>:
      </p>
      <p class="text-centered">
        mass<sub>object</sub> x acceleration<sub>object</sub> = (mass<sub>object</sub> × mass<sub>planet</sub>)/(Distance)<sup>2</sup>
      </p>
     <br/>
      <p>
        Then, simply dividing both sides of the equation by mass<sub>object</sub>, we get:
      </p>
      <p class="text-centered">
        acceleration<sub>object</sub> = mass<sub>planet</sub>/(Distance)<sup>2</sup>
      </p>
     <br/>
      <p>
        This tells us that the acceleration of an object due to gravity (when only gravity acts on the object)
        increases as the planet's mass increases.
      </p>

     <br/>
    </div>

<div class="page" id="page4">
      <p class="text-centered">
        <b>((Slightly more Advanced section (due to more math)))</b>
      </p>
      <p>
        <b>Newton's Law of Universal Gravitation.</b>
      </p>
      <p>
        We can combine these relationships in the following formula, called <u><b>Newton's law of universal
          gravitation</b></u>, which shows the strength of the force of gravity between two objects (A and B), based
          on their masses, and the distance between the objects:
      </p>

      
      
        <img class="img-centered" width="175px" src="FgGMAMB.GIF"/>
      
      <br/>

      <p class="text-centered">
        <b>G</b> is the “gravitational constant.” G = 6.67 × 10<sup>-11</sup> m<sup>3</sup>/kg × s<sup>2</sup>
      </p>
      <p class="text-centered">
        <b>m<sub>A</sub></b> is the mass (in kilograms, or kg) of Object A.
      </p>
      <p class="text-centered">
        <b>m<sub>B</sub></b> is the mass (in kilograms, or kg) of Object B.
      </p>
      <p class="text-centered">
          D is the distance (in meters, or m) between the two objects (from the centers of the objects). As you might
          expect, the farther apart the two objects are, the less the force of gravitational attraction is between
          the objects.
      </p>

     <br/>
      <p class="text-centered">
        Now, let’s apply <b><u>Newton’s law of universal gravitation</u></b> to an object on the surface of the Earth:
      </p>

      
        <img alt="Newtons Law of Universal Gravitation" class="img-centered" width="200px" src="Fg_GMeMobD2.GIF"/>
     <br/>

      <p class="text-centered">
        <b>G</b> = 6.67 × 10<sup>-11</sup>m<sup>3</sup>/kg × s<sup>2</sup>
        (the same as for any massive objects attracted via gravity)
      </p>
      <p class="text-centered">
        The mass of the Earth, <b>M<sub>E</sub></b>, is 5.97 × 10<sup>24</sup>kg
      </p>
      <p class="text-centered">
        The distance between the center of the Earth and an object on the Earth is equal to the radius of the Earth,
        which is 6.37 × 10<sup>6</sup>m.
      </p>
      <p class="text-centered">
          So...
      </p>

     
        <img alt="Newtons Law of Universal Gravitation" class="img-centered img-size_med" src="Fgmath.GIF"/>
      
     <br/>

      <p style="text-align: center">
        Doing the math…
      </p>

        <img class="img-centered" width="250px" src="F_9.8_m.GIF"/>

     <br/>

      <p style="text-align: left">
        This means that the acceleration due to gravity <b><i>for all objects</i></b> on Earth is
        9.8 m/s<sup>2</sup> (about 10 m/s<sup>2</sup>). If gravity is the only force acting on an object, the object
        will fall with this acceleration (regardless of the size or mass of the object).

     <br/><br/>
        And, in fact, this is the same value that scientists measured by running experiments of objects falling
        in vacuums.
      </p>
      <p class="text-centered">
        <b>((End of Slightly more Advanced section)</b>
      </p>
    </div>

{% endblock %}
            