---
title: "Speed, Velocity & Acceleration"
permalink: /brm/speed-acceleration/index.html
---

{% extends "brm_unit.njk" %}

{% block page_content %}
            <h1>Speed, Velocity &amp; Acceleration</h1>

<div class="page" id="page1">
      <p>
        <b>Speed, velocity, and acceleration are related to each other.</b> Each of these can
        be measured at an instant (or a point in time) or as averages over a given time interval
        (for example, a few seconds or minutes). We'll start with the simplest of these quantities, speed...
      </p>
      <p>
        <b>First, what is speed?</b> The <b>Speed of an object</b> is simply how fast the object is moving. 
      </p>
      <p>
        We can calculate (a) the speed of an object
        across some time, or the <b>average speed</b>, or (b) the speed of an object at a moment
        in time: the <b>"instantaneous" speed</b>.
      </p>
    </div>

<div class="page" id="page2">
      <p>
        <b>Average speed.</b> <i><b>The average</b></i> speed of an object is defined as the distance the object
        travels divided by the time it takes to travel that distance:
      </p>

      <ul class="brm-list">
        <li>Speed (average) = distance traveled / time</li>
      </ul>

      <p>
        For example, a car drives a distance of 10,000 meters (6.21 miles) in 1,000 seconds
        (16.67 minutes). The car's average speed can be calculated as:
      </p>

      <ul class="brm-list">
        <li>Speed (average) = 10,000 m / 1,000 s = 10 m/s</li>
      </ul>

      <p>
        We can also calculate the time it takes something to move a certain distance, if we know the distance it
        travels and its average speed during that time:
      </p>

      <ul>
        <li>time = distance / speed (average)</li>
      </ul>

      <div>

        <img alt="grpahic of neighborhood" class="img-centered img-size_med" src="FinalNeighborhoodGraphic.png"/>

        <div style="text-align:left">
          <p>
            For example, a lost dog runs a distance of 3,000 meters looking for his home. His path is shown in the
            picture above. The dog's high-tech collar shows that his average speed during this time was 3 m/s.
            The (happy) owner calculated the time the dog took to find his home using this equation:
          </p>

          <ul class="brm-list">
            <li>time = distance / average speed </li>
            <li>time = 3,000 m / 3 m/s </li>
            <li>time= 1,000 s </li>
            <li>time = 1,000 s / (60 s / 1 minute)</li>
            <li>time = 16.67 minutes </li>
          </ul>
        </div>
      </div>

      <form class="quiz_choice quiz">
        <b>Q1: If the dog had instead run an average speed of 4 m/s (instead of 3 m/s) for the same distance (3,000 m),
          which would be true about how long it would take the dog to get home?</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) It would take more than 1,000 s.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">b) It would take less than 1,000 s.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) It would take 1,000 s.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) I don't really know.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          You are correct! The dog is moving faster over the same distance (3,000 m). So, it would take the dog less
          time to get home. (Yay!)
          The time for the dog to travel this distance is:<br/>
          Time = Distance / Speed
          Time = 3,000 m / 4 m/s = 750 s (or 12.5 minutes)
        </div>
        <div class="feedback-incorrect feedback">
          Actually, the dog is moving faster over the same distance (3,000 m). So, it would take the dog less time to
          get home. (Yay!)
          The time for the dog to travel this distance is:<br/>
          Time = Distance / Speed
          Time = 3,000 m / 4 m/s = 750 s (or 12.5 minutes)
        </div>
      </form>
    </div>

<div class="page" id="page3">
      <p>
        <b>Instantaneous speed.</b> The <i><b>instantaneous</b></i> speed of an object is its speed (for example,
        in meters per second) at a specific moment in time. The speedometer in a car measures the instantaneous
        speed of the car (in miles per hour or kilometers per hour) at any moment. Because it is measuring the
        instantaneous speed of the car, the speed can be continually changing.
      </p>
      <p>
        The speedometer in a car measures the instantaneous speed of the car (in miles or kilometers per hour), or
        the speed of the car at any moment. The picture below shows a speedometer (in kilometers per hour, or km/h). 
      </p>
      <br/>


      <img alt="speedometer" class="img-centered img-size_med" src="Speedometer.jpg"/>

      <br/>
      <form class="quiz_checkbox quiz">
        <b>Q1.5. Which of the following is true about what this car's speedometer shows? (Check all that are true.)</b>
        <input name="question" type="checkbox" value="incorrect"/>
        <div class="label">(a) The average speed is about 240 km/h.
        </div><br/>
        <input name="question" type="checkbox" value="correct"/>
        <div class="label">(b) The instantaneous speed is about 240 km/h.
        </div><br/>
        <input name="question" type="checkbox" value="incorrect"/>
        <div class="label">(c) The acceleration is zero (its speed is constant).
        </div><br/>
        <input name="question" type="checkbox" value="incorrect"/>
        <div class="label">(d) I don't really know.
        </div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! Speedometers measure the instantaneous speed of cars, or their speed at a given moment (or instant).
        </div>
        <div class="feedback-incorrect feedback">
          Actually, speedometers measure the instantaneous speed of cars, or their speed at a given moment (or instant).
        </div>
      </form>

    </div>

<div class="page" id="page4">
      <p style="color:rgb(153,0,255)">
        <b>To simplify, in this unit, the following definitions of velocity and acceleration will apply to
          <i>motion in a straight line without changing direction</i>.</b>
      </p>
      <p>
        <b>What is Velocity?</b>
      </p>
      <p>
        The velocity of an object includes both its speed <i>and</i> the direction it is moving. Because it has
        both a numerical value and a direction, velocity is said to be a "vector" quantity. (See 
        <a class="brm-link" href="../vectors/" target="_blank">Vector vs. Scalar Quantities</a>
        for more information about vectors.) 
      </p>

      <ul class="brm-list">
        <li>
          If the speed of an object is 100 m/s and the object is moving eastward, its velocity is 100 m/s eastward.
        </li>
      </ul>

      <p>
        The <b><i>instantaneous</i></b> velocity of an object is its speed (for example, meters per second)
        <b>and</b> direction it is moving <i>at a specific moment in time</i>. The instantaneous speed in
        combination with the direction the object is moving at a given time is equal to its instantaneous
        velocity (at that point in time).
      </p>

      <ul class="brm-list">
        <li>Instantaneous Velocity = Instantaneous Speed + direction</li>
      </ul>

      <p>
        The picture below shows a speedometer (in kilometers per hour, or km/h). The car is moving due east at the
        moment this picture was taken. So, we would say that the instantaneous velocity of the car at this moment
        is 245 km/h due east.
      </p>

      <br/>

      <img alt="speedometer" class="img-centered img-size_med" src="Speedometer.jpg"/>


    </div>

<div class="page" id="page5">
      <p>
        <b>What is acceleration?</b> An object is <b>accelerating</b> if its <b>velocity</b> is changing.
        Remember: velocity is a
        <a class="brm-link" href="../vectors/" target="_blank">vector quantity</a>,
        which means it has both a magnitude (speed) and a direction (the direction it is moving).
      </p>
      <p>
        So, an object is accelerating if either its SPEED is changing or if the DIRECTION the object is moving
        changes. Or both!
      </p>

      <ul>
        <li>
          For example, if an object is moving in a straight line but its speed is
          changing, this object is accelerating (or its acceleration is not equal to
          zero). For example, the car below is accelerating. Its speed increases with each
          second. (You can tell because it moves farther and farther with each second.) 
        </li>
      </ul>


      <img alt="car accelerating over 4 seconds" class="img-centered img-size_700" src="CarAccelerating.GIF"/>


      <ul>
        <li>If an object is moving at the same speed but changing directions, the object
          is accelerating. For example, the car below is moving on a circular track at a
          constant speed (moving the same distance every 10 seconds). But it is constantly
          changing directions. Because it is changing directions, it is accelerating (or
          its acceleration is not equal to zero). 
        </li>
      </ul>


      <img class="img-centered img-size_med" src="CarInCircle.GIF"/>

      <br/>

      <ul>
        <li>
          If an object is changing in speed <i>and</i> direction, it is
          accelerating. In the example below, the speed of the car is increasing from
          0 seconds to 30 seconds. The car is also (constantly) changing its
          direction. So, this car is accelerating — and its acceleration is
          <i>greater</i> than the acceleration of the car above that changes direction
          without changing speed.
        </li>
      </ul>


      <img alt="Car accelerating" class="img-centered img-size_med" src="CarAcceleratingSpeedDir.GIF"/>

      <br/>

    </div>

<div class="page" id="page6">

      
      <div class="text-centered">
        <!-- style="background-color:rgb(0,255,0)" -->
        <iframe height="543" src="https://isp-tutor-project.github.io/demo/games/acceleration/" width="810">
        </iframe>
      </div>

    </div>

<div class="page" id="page7">
      <p>
        <b>Acceleration (average). </b>Just like speed and velocity, we can calculate either
        average acceleration (over some time) or the instantaneous acceleration (at a moment in
        time).
      </p>
      <p>
        The <b><i>average</i></b> acceleration of an object is defined as the change in velocity of an
        object divided by the time it took for the velocity to change:
      </p>

      <ul class="brm-list">
        <li>Acceleration (average) = (final velocity - initial velocity) / time (with direction)</li>
      </ul>

      <p>
        <i>If an object is moving in a straight line in a given direction</i>, the magnitude
        of the acceleration of the object is equal to the change in its speed over the time it
        takes for that change in speed as well of the direction of its change in speed:
      </p>

      <ul class="brm-list">
        <li>Acceleration (average) = (final speed - initial speed) / time (with direction)</li>
      </ul>

      <p>
        In general, when something is moving in a straight line and its speed is increasing, its acceleration
        is in the <i>same</i> direction of its motion or velocity.
      </p>
    </div>

<div class="page" id="page8">

      <hr/>
      <p>
        <i><b>Example 1: Speeding up/Accelerating</b>: A car initially at a
          stop light accelerates in a straight line eastward and reaches a speed of 20 m/s (about 45
          miles per hour) in 10 seconds. </i>
      </p>
      <hr/>
      <br/>
      The car's acceleration can be calculated as:
      <ul>
        <li>Acceleration (average) = (20 m/s - 0) / 10 s = 2 m/s<sup>2 </sup> (eastward)</li>
      </ul>

      <p>
        This means that each second, the speed of the car increases by 2 m/s. 
      </p>
      <p>
        So after one second, the car is travelling at 2 m/s. After two seconds, the car is travelling at 4 m/s.
        After three seconds, the car is travelling at 6 m/s, etc. 
      </p>
      <p>
        This relationship between time and speed for a car accelerating at a constant 2 m/s<sup>2</sup> is
        shown in the graph below:
      </p>


      <img alt="Speed Time Graph" class="img-centered" height="320" src="SpeedTimeGraph.png" width="400"/>


    </div>

<div class="page" id="page9">

      <hr/>
      <p>
        <i> <b>Example 2: constant speed</b>. A child on a sled rides straight down a hill with a 15
          degree slope. When the child gets a running start and falls on the sled at time-1, the
          child is moving at 5 m/s (about 11 mph). Ten seconds later (time-2), the child is
          still moving at 5 m/s sliding down the hill on the sled. What is the child's average
          acceleration between time-1 and time-2? </i>
      </p>

      <hr/>

      <br/>

      <p>
        The child's (average) acceleration can be calculated as:
      </p>

      <ul class="brm-list">
        <li>
          Acceleration (average) = (5 m/s - 5 m/s) / 10 s = 0 m/s<sup>2</sup> (at -15 degrees, or 15 degrees
          below the horizontal)
        </li>
      </ul>

      <p>
        The child's speed has not changed over this period of time, so the
        child's (average) acceleration (over this time interval) is zero.
      </p>
      <br/>

    </div>

<div class="page" id="page10">

      <hr/>
      <p>
        <i><b>Example 3: Slowing down/decelerating</b>. A baseball player is running from third base at 5 m/s when
          he slides into home base and stops 1 second later.</i>
      </p>

      <hr/>
      <br/>
      <p>
        The baseball player's average acceleration can be calculated as:
      </p>

      <ul class="brm-list">
        <li>
          Acceleration (average) = (0 - 5 m/s)/1 s = -5 m/s (from 3rd base toward home plate)
        </li>
      </ul>

      <p>
        This negative value of acceleration can also be expressed as: 5 m/s (<i>from home plate toward 3rd base</i>).
        In other words, the direction of the player's acceleration is <i>opposite</i> the direction of his motion!
      </p>
      <p>
        <b>In general</b>, when something is moving in a straight line and slowing down, its acceleration is in
        the direction <i><b>opposite</b></i> of its motion or velocity.
      </p>

    </div>

<div class="page" id="page11">
      <p>
        <b>Calculating final speed from acceleration.</b> We can also calculate the final speed of an object if
        we know its initial speed and its acceleration.
      </p>
      <hr/>

      <p>
        <i><b>Example 4</b>:  After hockey practice, the team takes off their helmets and puts them in a box in the
          middle of the hockey rink. When all the helmets are in the box, the coach pushes on the box using his
          hockey stick, which accelerates at a constant 2 m/s<sup>2</sup> from rest, for 2 seconds. What is the
          final speed of the box after 2 seconds?</i>
      </p>

      <hr/>
      <br/>

      <p>
        Using the definition of acceleration:
      </p>

      <ul class="brm-list">
        <li>
          Acceleration = (final velocity - initial velocity)/time (for object to go from the initial to final velocity)
        </li>
      </ul>

      <p>We can re-write this equation by multiplying each side by time:</p>

      <ul class="brm-list">
        <li>
          Acceleration × time (for object to go from the initial to final velocity) =
          (final velocity - initial velocity)
        </li>
      </ul>

      <p>Then we add initial velocity to each side:</p>

      <ul class="brm-list">
        <li>
          Acceleration × time (for object to go from the initial to final velocity) + initial velocity = final velocity
        </li>
      </ul>

      <p>Reversing the sides of the equation:</p>

      <ul class="brm-list">
        <li>
          Final velocity = acceleration × time (for object to go from the initial to final velocity) + initial velocity
        </li>
      </ul>

      <p> Solving for final velocity:</p>

      <ul class="brm-list">
        <li> Final velocity = 2 m/s<sup>2</sup> × 2 s + 0 m/s  = 4 m/s</li>
      </ul>

      <form class="quiz_open quiz">
        <b>Q2: In the scenario given in Example 4, at practice the next day, the coach pushes on the box, which
          accelerates at 4 m/s<sup>2</sup> for the same amount of time (2 s).
          What is the final speed of the box? Write your answer below.</b>
        <textarea></textarea><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          The box accelerates from rest at 4 m/s<sup>2</sup> for 2 seconds. This means that the speed of the box
          increases by 4 m/s every second. So, after one second, the box would be moving at 4 m/s.
          After 2 seconds, the box would be moving at 8 m/s.<br/>
          You could also use the equation:<br/>
          V<sub>f</sub> = V<sub>i</sub> + a*t<br/>
          V<sub>f</sub> = 0 + 4*2 = 8 m/s
        </div>
      </form>

      <form class="quiz_choice quiz">
        <b>
          Q3: Two ice skating friends, Jordan and Taylor, decide to race each other (starting from rest).
          From the starting line, they agree to skate as fast as they can for 5 seconds then glide to the finish line.
          Jordan accelerates more than Taylor during those 5 seconds.
          Which skater will have a greater speed after 5 seconds?</b>
        <input name="question" type="radio" value="correct"/>
        <div class="label">a) Jordan.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) Taylor.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) Neither; they will have the same speeds.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) I have no idea.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          You are correct! Jordan accelerates from rest at a higher rate than Taylor. So, Jordan will be moving faster
          than Taylor after 5 seconds.
        </div>
        <div class="feedback-incorrect feedback">
          Well, actually, Jordan accelerates from rest at a higher rate than Taylor. So, Jordan will be moving faster
          than Taylor after 5 seconds.
        </div>
      </form>

      <form class="quiz_choice quiz">
        <b>Q4: Who will win the race?</b>
        <input name="question" type="radio" value="correct"/>
        <div class="label">a) Jordan.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) Taylor.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) Neither; they will tie.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) I don't know.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          That's right! Jordan will be moving faster than Taylor after 5 seconds and continue to move faster than Taylor
          to the finish line.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, Jordan will be moving faster than Taylor after 5 seconds and continue to move faster than Taylor to
          the finish line.
        </div>
      </form>
    </div>

{% endblock %}

{% block toc %}
<div class="nav-toc-container">
      <h3>Table of Contents: Speed, Velocity, and Acceleration</h3>
      <ul>
        <li><a href="#top" onclick="tocPageJump(1)">What is Speed?</a></li>
        <li><a href="#top" onclick="tocPageJump(2)">Average Speed</a></li>
        <li><a href="#top" onclick="tocPageJump(3)">Instantaneous Speed</a></li>
        <li><a href="#top" onclick="tocPageJump(4)">What is Velocity?</a></li>
        <li><a href="#top" onclick="tocPageJump(5)">What is Acceleration?</a></li>
        <li><a href="#top" onclick="tocPageJump(6)">GAME: Acceleration or Not?</a></li>
        <li><a href="#top" onclick="tocPageJump(7)">Average Acceleration</a></li>
        <li><a href="#top" onclick="tocPageJump(8)">Acceleration: Example 1</a></li>
        <li><a href="#top" onclick="tocPageJump(9)">Acceleration: Example 2</a></li>
        <li><a href="#top" onclick="tocPageJump(10)">Acceleration: Example 3</a></li>
        <li><a href="#top" onclick="tocPageJump(11)">Calculating final speed from acceleration: Example 4</a></li>

      </ul>
    </div>
{% endblock %}
