---
title: "Photosynthesis"
permalink: /brm/photosynthesis/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Photosynthesis</h1>

<div class="page" id="page1">
      <p>
        <b>Photosynthesis is important!</b> As I'm sure you know, people and other animals need oxygen to live.
        Without oxygen, we're all in trouble! How do we get oxygen? A major source of oxygen comes from plants.
        Oxygen molecules (O<sub>2</sub>) are made during the process of photosynthesis, which occurs in plants.
      </p>
      <p>
        <b>But what is Photosynthesis?</b> Unlike animals, plants can make their own food (sugars). The process by
        which food (sugar) is made in plants is called <b>photosynthesis</b>. 
      </p>
      <p>Let’s break the word down into its Latin roots:</p>

      <ul class="brm-list">
        <li><i>Photo</i> means light (as in "photons" or "photography": making pictures with light).</li>
        <li><i>Synthesis</i> means to put together or combine (like when you "synthesize" information).</li>
      </ul>

      <p>
        So, photosynthesis means to "put together by light."
      </p>

    </div>

<div class="page" id="page2">


      <p>
        Photosynthesis is a 
        <a class="brm-link" href="../chemicalvs-physicalreactions/" target="_blank">chemical process</a>.
        During photosynthesis, sunlight is a major source of energy for the atoms in carbon dioxide (CO<sub>2</sub>) 
        and water (H<sub>2</sub>O) molecules to combine (synthesize) to make sugar molecules. Oxygen molecules
        (O<sub>2</sub>) are also made during photosynthesis.
      </p>
      <p>
        The sugars produced are used by plants as their food to help do things like grow and repair damage in cells.
      </p>
      <p>
        Photosynthesis is a very complicated process. In this unit, we will simplify it and discuss the main steps
        involved. The chemical equation below shows a simplified summary of the process of photosynthesis:
        CO<sub>2</sub> and H<sub>2</sub>O are eventually converted into glucose (and other sugars) and oxygen.
      </p>

     <br/>

      <p class="text-centered"><b>Simplified Summary of Photosynthesis:</b></p>

      <img class="img-centered img-size" src="Co2waterdiagram_chlorophyll.jpg"/>

     <br/><br/>

      <form class="quiz_choice quiz">
        <b>Q1: (Basic understanding) What provides the energy for the chemical reactions to happen in the process of
          photosynthesis?</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) Thermal energy from warm air.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) Kinetic energy from wind.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">c) Light from the sun.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">d) All of the above.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! The primary source of energy for photosynthesis is light from the sun.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, the primary source of energy for photosynthesis is light from the sun.
        </div>
      </form>
    </div>

<div class="page" id="page3">
      <p>
        As a reminder, in photosynthesis, <span style="color:#9900ff">carbon dioxide</span> and
        <span style="color:#0000ff"><b>water</b></span> are converted into glucose and oxygen:
      </p>

     <br/>
      <img class="img-centered img-size" src="Co2waterdiagram_chlorophyll.jpg"/>
     <br/><br/>

      <p>
        <b>Steps of Photosynthesis.</b> To make sugars, plants need sunlight, water and carbon dioxide (and a bunch
        of other things we won't worry about now). Let’s learn some important steps of photosynthesis:
      </p>

      <img src="Photosynthesis3.png.jpg" style="margin:5px 10px;float:right" class="img-centered img-size_med"/>

      <ol class="brm-list">
        <li>
          <span style="color:#9900ff">Carbon dioxide</span> passes from the air into small openings in the bottom of
          leaves called stomata.
        </li>
        <li>
          The roots absorb <span style="color:#0000ff"><b>water</b></span>, which travels through vessels in the
          stem and to the leaves. Water is necessary for photosynthesis.
        </li>
        <li>
          Sunlight is absorbed by molecules in the leaves called 
          <b><span style="color:rgb(0,176,80)">chlorophyll</span></b>. Chlorophyll is what gives the leaves their
          green color. Chlorophyll is found within the special organelles (little organs) of the plant cell called
          <b>chloroplasts,</b> which are in the leaves and other parts of the plant.
        </li>
        <li>
          The energy from light causes chlorophyll molecules to lose electrons. 
        </li>
        <li>
          Chlorophyll molecules then become positively charged. Chlorophyll molecules are really
          really good at pulling electrons from other molecules (due to both the
          <a class="brm-link" href="../electric-force/index.html" target="_blank">electric force</a>
          and atoms in chlorophyll molecules
          <a class="brm-link" href="../atoms-electron-organization/" target="_blank">
            "wanting" complete energy circles</a>). So, chlorophyll molecules end up pulling electrons from nearby
          <span style="color:#0000ff"><b>H<sub>2</sub>O</b></span> (water) molecules.
        </li>
        <li>
          This causes the <span style="color:#0000ff"><b>H<sub>2</sub>O</b></span> molecules to split into
          oxygen and hydrogen atoms (another chemical reaction). Free oxygen atoms from this process combine to make
          an oxygen molecule, O<sub>2</sub>. Each hydrogen atom has lost an electron to the chlorophyll molecule,
          making it positively charged (H<sup>+</sup>).
        </li>
        <li>
          Oxygen (O<sub>2</sub>) is a "waste product" of this reaction and is not used by plants. O<sub>2</sub> is
          released from the small holes at the bottom of leaves (the stomata) into the
          atmosphere. But this is good news for people and animals!
        </li>
        <li>
          Hydrogen and <span style="color:#9900ff">carbon dioxide</span> are used in the process of making
          <b>glucose</b> and other sugars that are food for the plant. Two different ways of representing a glucose
          molecule are shown below. The glucose that is produced also goes into making the rigid cell walls of plants.
          Glucose is stored for future use in the plant’s leaves, roots, or fruit (which we may like to eat because
          it is sweetened by glucose!).
        </li>
        <li>
          Another molecule, called ATP, is also made during photosynthesis.
          <a class="brm-link" href="../food/" target="_blank">ATP molecules</a> 
          are one source of energy for the chemical reactions in photosynthesis. ATP molecules also provide
          energy for the growth and development of plants.
        </li>
      </ol>

      <p class="text-centered">Two different ways of representing a glucose molecule are shown below.</p>

   
<div class="img3Col imgClear">

            <div class="imgCol">
              <img src="Glucose_molecule_cropped.png" width="230px"/>
            </div>
            <div class="imgCol">
              <img src="D-glucose-chain-3D-new.jpg" width="370px"/>
            </div>
          </div>



     <br/>
    </div>

<div class="page" id="page4">

      <form class="quiz_choice quiz">
        <b>Q2: (Basic understanding) What is the main product that plants need that is made during photosynthesis?</b>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">a) ATP.</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">b) Oxygen (O<sub>2</sub>).</div><br/>
        <input name="question" type="radio" value="incorrect"/>
        <div class="label">c) Proteins.</div><br/>
        <input name="question" type="radio" value="correct"/>
        <div class="label">d) Glucose and other sugars.</div><br/>
        <button class="submit-btn" type="submit">Submit</button>
        <div class="feedback-correct feedback">
          Right! The primary molecules made during photosynthesis are glucose and other types of sugar.
        </div>
        <div class="feedback-incorrect feedback">
          Actually, the primary molecules made during photosynthesis are glucose and other types of sugar.
        </div>
      </form>

     <br/>

      <p>
        <b>What are plants made of?</b> (Hint: Think about what plants use in photosynthesis.)
      </p>


      <p id="demo" style="display: none">Most people would be surprised to learn that plants are mostly made from
        carbon dioxide (CO<sub>2</sub>), which comes from the air!!  This is why plants (including trees) are so
        important to our environment: they remove CO<sub>2</sub> (a gas that absorbs energy from sunlight) from the air.
        This helps keep the Earth from getting too warm.</p>
<button onclick="toggleText()" type="button">Click for more/less info</button>






     <br/>
    </div>

<div class="page" id="page5">

      <div class="text-centered">
        <iframe height="600" src="https://isp-tutor-project.github.io/demo/games/photosynthesis/" width="900">
        </iframe>
      </div>

     <br/><br/>
    </div>

{% endblock %}
            